<h2 class="center">Layout grid</h2>

<div class="layout">
	<div class="col col1of1 pad2 bubble">
  	<h4>Break points:</h4>

		<ul>
			<li>Lower than 768px; mobile layout</li>
			<li>Betweem 768px and 900px; tablet layout</li>
			<li>Above 900px; desktop layout</li>
		</ul>

		<ul>
			<li>Lay out content to the grids</li>
			<li>Use <%= link_to("Layout blocks", pages_show_path('structure', 'layout')) %> to arrange & break up content vertically</li>
		</ul>

		<hr>

		<p>Horizontally, use any of the following column rules:</p>

		<ul>
			<li>Need to define how system shrinks (or expands)</li>
		</ul>
	</div>
</div>

<div class="layout grid">
  <% 12.times do %>
	  <div class="col pad1 col1of12"></div>
  <% end %>
</div>

<div class="layout grid">
  <% 6.times do %>
  	<div class="col pad1 col1of6">
  		<code>.col1of6</code>
  	</div>
  <% end %>
</div>

<div class="layout grid">
  <% 4.times do %>
  	<div class="col pad1 col1of4">
  		<code>.col1of4</code>
  	</div>
  <% end %>
</div>

<div class="layout grid">
  <% 3.times do %>
  	<div class="col pad1 col1of3">
  		<code>.col1of3</code>
  		<code>.pad1</code>
  	</div>
  <% end %>
</div>

<div class="layout grid">
  <% 2.times do %>
  	<div class="col pad2 col1of2">
  		<code>.col1of2</code>
  		<code>.pad2</code>
  	</div>
  <% end %>
</div>

<div class="layout grid">
	<div class="col pad3 col1of1">
		<code>.col1of1</code>
		<code>.pad3</code>
	</div>
</div>

<h3 class="pad1 center">Mixed</h3>

<div class="layout grid">
	<div class="col pad1 col3of4">
		<code>.col3of4</code>
		<code>.pad1</code>
	</div>

	<div class="col pad1 col1of4">
		<code>.col1of4</code>
		<code>.pad1</code>
	</div>
</div>

<div class="layout grid">
	<div class="col pad1 col1of4">
		<code>.col1of4</code>
		<code>.pad1</code>
	</div>

	<div class="col pad1 col1of4">
		<code>.col1of4</code>
		<code>.pad1</code>
	</div>

  <div class="col pad1 col2of4">
		<code>.col2of4</code>
		<code>.pad1</code>
	</div>
</div>

<div class="layout grid">
	<div class="col pad1 col1of3">
		<code>.col1of3</code>
		<code>.pad1</code>
	</div>

	<div class="col pad1 col2of3">
		<code>.col2of3</code>
		<code>.pad1</code>
	</div>
</div>
