<h2 class="center">Hero blocks</h2>

<div class="layout">

  <section class="bubble pad2 col1 col1of1">

    <p>Hero blocks sit at the top of each page across our websites. They act as a way to introduce the content below. Hero blocks can vary from a simple block colour to an image background, they can also include buttons and download resources (for pages that contain projects). These blocks are full width.</p>

    <p>For countries, a hero block can be made up from the following elements:</p>

    <ul>
      <li>A background block, color of <code>$green</code></li>
      <li>Title. A short h1 page heading</li>
      <li>An introductory sentence. Describing briefly the content of the page</li>
      <li>A useful list of button links. For linking to key downloads/resources. Not section navigation (see <%= link_to("Navigation", pages_show_path('nav')) %>)</li>

    </ul>

    <p>Internally, we will have a few extra options:</p>

    <ul>
      <li>An alternative background colour</li>
      <li>A background image. Can either stretch or tile. The text must remain legible. Not rendered on mobile devices</li>
    </ul>

  </section>

</div>

<br><br><br>

<div class="hero">
  <div class="hero_image">
    <h1>The title of a page</h1>
  </div>
</div>

<br>

<div class="layout">

  <section class="bubble pad2 col1 col1of1">

    <p>Simple hero block:</p>

    <pre><code>&#60;div class="hero"&#62;
    &#60;div class="hero_image"&#62;
      &#60;h1>The title of a page&#60;/h1&#62;
    &#60;/div&#62;
  &#60;/div&#62;</code></pre>

  </section>

</div>

<br><br><br>

<div class="hero">
	<div class="hero_image">
		<h1>Hero block!</h1>
		<p>This hero block has a brief sentence which is great for introducing the content that will feature on the below page.</p>
    <ul>
      <li><a href="" class="button invert white">A download</a></li>
      <li><a href="" class="button invert white ">A link to a PDF</a></li>
    </ul>
	</div>
</div>

<br>

<div class="layout">

  <section class="bubble pad2 col1 col1of1">

    <p>Hero block with an introductory paragraph and a background image:</p>

    <pre><code>&#60;div class="hero"&#62;
    	&#60;div class="hero_image books"&#62;
    		&#60;h1&#62;Hero block!&#60;/h1&#62;
    		&#60;p&#62;This hero block has a brief sentence which is great for introducing the content that will feature on the below page.&#60;/p&#62;
        &#60;ul&#62;
          &#60;li&#62;&#60;a href="" class="button invert white"&#62;A download&#60;/a&#62;&#60;/li&#62;
          &#60;li&#62;&#60;a href="" class="button invert white "&#62;A link to a PDF&#60;/a&#62;&#60;/li&#62;
        &#60;/ul&#62;
    	&#60;/div&#62;
    &#60;/div&#62;</code></pre>

  </section>

</div>
