<h2 class="center">Page layout</h2>

<div class="layout">

  <section class="bubble pad2 col1 col1of1">

    <h3>Default content page layout</h3>

    <p>Content pages on Code Club websites are made from following ingredients:</p>

    <div class="diagram clear">

      <%= image_tag '/assets/images/layout-01.svg' %>

      <dl>
        <li>
          <dt><span class="number">1</span> Header</dt>
          <dd>Houses the Code Club logo &amp; primary navigation.
          <%= link_to("Navigation usage & styles", pages_show_path('structure', 'nav')) %></dd>
        </li>
        <li>
          <dt><span class="number">2</span> Hero block</dt>
          <dd>Sits directly under the Header. <%= link_to("Hero block usage & styles", pages_show_path('structure', 'hero')) %></dd>
        </li>
        <li>
          <dt><span class="number">3</span> Section nav</dt>
          <dd>Optional. Sits directly under the Hero block</dd>
        </li>
        <li>
          <dt><span class="number">4</span> Content blocks</dt>
          <dd>Used to layout and break up chunks of content. See below for usage &amp; styles.</dd>
        </li>
        <li>
          <dt><span class="number">5</span> Action block</dt>
          <dd>Optional. Used to feature a pages primary action</dd>
        </li>
        <li>
          <dt><span class="number">6</span> Footer</dt>
          <dd>Present on every screen, the footer contains useful links, icon links to social media accounts &amp; any official/copyright statements</dd>
        </li>
      </dl>

    </div>

    <p><a href="">View example content page layout</a></p>

  </section>

</div>

<br><br><br><br>

<div class="layout">

  <section class="bubble pad2 col1 col1of1">

    <h3>Menu layout</h3>

    <p>The Menu layout is useful for sections where there is more user-interaction than content, for example logged-in account pages.</p>

    <div class="diagram clear">

      <%= image_tag '/assets/images/layout-02.svg' %>

      <dl>
        <li>
          <dt><span class="number">1</span> Header</dt>
          <dd>Same as content layout</dd>
        </li>
        <li>
          <dt><span class="number">2</span> Menu items</dt>
          <dd></dd>
        </li>
        <li>
          <dt><span class="number">3</span> Content</dt>
          <dd></dd>
        </li>
        <li>
          <dt><span class="number">4</span> Footer</dt>
          <dd>Same as content layout</dd>
        </li>
      </dl>

    </div>

    <p><a href="">View example menu layout</a></p>

  </section>

</div>
