<div class="c-content-panel">
  <h2>How to Grid Works</h2>

  <p>
    TODO: Document this based on the <a href="http://flexboxgrid.com">Flexbox Grid</a> we're going to
    employ. Will need some basic examples of our most commonly used layouts, and a link to <a href="http://flexboxgrid.com">flexboxgrid.com</a>
    for more advanced documentation.
  </p>
</div>
