<h2>How to Grid!</h2>

<p>
  The Code Club assets contain <%= link_to "Flexbox Grid", "http://flexboxgrid.com" %>
  to provide a responsive grid system. Head over to <%= link_to "flexboxgrid.com", "http://flexboxgrid.com" %>
  for full documentation about how to use it. However, before employing the grid
  please be mindful of the following <strong>DO</strong>s and <strong>DON'T</strong>s.
</p>

<h3>DO</h3>

<ul>
  <li>
    <strong>DO</strong> use it! If you find yourself writing your own CSS to create a
    page layout, there's a very good chance that you could achieve the same results
    with the grid system.
  </li>

  <li>
    <strong>DO</strong> keep it simple. While we do encourage creative use of
    these assets, it's important to maximise legibility of your content. With
    that in mind, don't let your layouts become too complicated!
  </li>

  <li>
    <strong>DO</strong> think responsively. Flexbox Grid provides many options
    for controlling how your grid's rows and columns react based on the user's
    browser width.
  </li>
</ul>

<h3>DON'T</h3>

<ul>
  <li>
    <strong>DON'T</strong> use styleguide-specific classes on the same element
    as a grid component.
  </li>

  <li>
    <strong>DON'T</strong> nest elements incorrectly! Be sure to wrap your
    <code>col</code>s in <code>row</code>s, and your <code>row</code>s in a
    <code>container</code>.
  </li>

  <li>
    <strong>DON'T</strong> use it to display <%= link_to "horizontal navigation", page_path('modules', 'secondary-navigation') %>.
  </li>
</ul>
