<h1>Editing Admin Page</h1>

<%= form_for(@page, edit_admin_page_path(@page)) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
<% end %>

<%= link_to 'Show', @page %> |
<%= link_to 'Back', pages_path %>
