<div class="layout">
	<section class="bubble pad2 col col1of1">
  	<h3>Fonts</h3>

		<p>Our main font is Museo Sans Rounded and is used in weights 300 (default) and 500 (bold, headings, links, buttons).</p>

		<p>Museo is not a system font, so it must be purchased and licensed for web use. It is available to license from the following vendors, as well as many others:</p>

		<ul>
			<li><a href="https://typekit.com/fonts/museo-sans-rounded">Museo Sans Rounded on Typekit</a></li>
			<li><a href="https://www.myfonts.com/fonts/exljbris/museo-sans-rounded/">Museo Sans Rounded on MyFonts</a></li>
			<li><a href="http://www.fonts.com/font/exljbris/museo-sans/rounded-300/web-font">Museo Sans Rounded on fonts.com</a></li>
		</ul>

		<p>For Cryllic alphabets, we use <a href="https://www.myfonts.com/fonts/exljbris/museo-sans-cyrillic/webfont_preview.html">Museo Sans Cyrillic</a>.</p>

		<hr>

		<h3 class="rule">Headings</h3>

		<h1>Page title</h1>
		<h2>Secondary title</h2>
		<h3>Section heading</h3>
		<h4>Sub-section heading</h4>
		<h5>Menu heading</h5>

		<pre><code>&#60;h1&#62;Page title&#60;/h1&#62;
&#60;h2&#62;Secondary title&#60;/h2&#62;
&#60;h3&#62;Section heading&#60;/h3&#62;
&#60;h4&#62;Sub-section heading&#60;/h4&#62;
&#60;h5&#62;Menu heading&#60;/h5&#62;</code></pre>

		<hr>

		<h3>Body copy</h3>

		<p>Paragraphs are set at 16px with a 22px leading. For legibility, the maximum line-length is 40em. This is the base font sizing. On larger screens, the relative em value will increase.</p>
		<p>On smaller devices the base font sizing remains the same but the headings will decrease in relative size.</p>

		<pre><code>&#60;p&#62;Paragraph text in here&#60;/p&#62;</code></pre>

		<p class="meta">Smaller items can be set in 14px. Useful for meta information, notes, etc</p>

		<pre><code>&#60;p class="meta"&#62;Smaller items can be set in 14px. Useful for meta information, notes, etc&#60;/p&#62;</code></pre>

		<p class="big">There is a larger class which is useful for presenting introductory pieces of text, callouts, or similar.</p>

		<pre><code>&#60;p class="big"&#62;There is a larger class which is useful for presenting introductory pieces of text, callouts, or similar.&#60;/p&#62;</code></pre>

		<hr>

		<h3>Lists</h3>

		<ul>
			<li>This is an unordered list</li>
			<li>With default bullets</li>
			<li>Nice and simple</li>
		</ul>

		<pre><code>&lt;ul&gt;
  &lt;li&gt;This is an unordered list&lt;/li&gt;
  &lt;li&gt;With default bullets&lt;/li&gt;
  &lt;li&gt;Nice and simple&lt;/li&gt;
&lt;/ul&gt;</code></pre>

		<ul class="alt">
			<li>This is a list made for sentences or longer bullet points, there is extra spacing and larger bullets</li>
			<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</li>
			<li>Tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</li>
		</ul>

		<pre><code>&lt;ul class=&quot;alt&quot;&gt;
  &lt;li&gt;This is a list made for sentences or longer bullet points, there is extra spacing and larger bullets&lt;/li&gt;
  &lt;li&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod&lt;/li&gt;
  &lt;li&gt;Tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam&lt;/li&gt;
&lt;/ul&gt;</code></pre>

		<ol>
			<li>An ordered list</li>
			<li>For numbering list items</li>
			<li>In order of priority</li>
		</ol>

    <pre><code>&lt;ol&gt;
  &lt;li&gt;An ordered list&lt;/li&gt;
  &lt;li&gt;For numbering list items&lt;/li&gt;
  &lt;li&gt;In order of priority&lt;/li&gt;
&lt;/ol&gt;</code></pre>

		<dl>
			<li>
				<dt>A definition list</dt>
				<dd>Which uses a combination of terms and descriptions of that term</dd>
			</li>

			<li>
				<dt>Jam</dt>
				<dd>Something delicious that you eat on toast</dd>
			</li>

			<li>
				<dt>Mayonnaise</dt>
				<dd>Dip your chunky pub chips into it</dd>
			</li>
		</dl>

		<pre><code>&lt;dl&gt;
	&lt;li&gt;
		&lt;dt&gt;A definition list&lt;/dt&gt;
		&lt;dd&gt;Which uses a combination of terms and descriptions of that term&lt;/dd&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;dt&gt;Jam&lt;/dt&gt;
		&lt;dd&gt;Something delicious that you eat on toast&lt;/dd&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;dt&gt;Mayonnaise&lt;/dt&gt;
		&lt;dd&gt;Dip your chunky pub chips into it&lt;/dd&gt;
	&lt;/li&gt;
&lt;/dl&gt;</code></pre>

		<hr>

		<h3>Alternator classes</h3>

		<p><code>.center</code> Centers text</p>

		<p><code>.rule</code> Adds a horizontal rule under a block-level piece of text</p>

		<p><code>.light</code> White text for darker backgrounds</p>

		<p><code>.subtle</code> Text with a 60% opacity</p>
	</section>
</div>
