html {
	background: $color-bg;
	@include font-size($font-size);
	height:     100%;
	width:      100%;
}

	body {
		color:            $color-text;
		font-family:      $font-family-primary;
		@include font-size($font-size);
		font-weight:      $font-weight;
		@include line-height($font-size, $line-height);
		position:         relative;
		text-rendering:   optimizeLegibility;
		text-size-adjust: 100%;
		width:            100%;
	}
