a {
	color:           $apple;
	cursor:          pointer;
	text-decoration: underline;

	&:active,
	&:focus,
	&:hover {
		color:           $apple-light;
		text-decoration: none;
	}

	&:visited {
		color:           $apple-dark;
		text-decoration: none;
	}
}
