blockquote {
	margin:        0;
	@include rem('margin-bottom', $margin-bottom);

	p:before,
	p:after {
		display:     inline-block;
		line-height: 0;
	}

	p:first-child:before {
		content: '\201C';
	}

	p:last-of-type:after {
		content: '\201D';
	}
}
