code {
	background:    $grey-lightest;
  border:        1px solid $grey-lighter;
  @include rem('border-radius', $border-radius-subtlest);
  color:         $grey-med;
  font-family:   $font-family-monospace;
	@include rem('font-size', $font-size-base * 0.9);
  @include padding($padding-smallest);
  white-space:   nowrap;
  word-break:    normal;
}
