code {
	background:    $athens-grey-dark;
  border:        1px solid $alto;
  border-radius: 0.25rem;
  color:         $mine-shaft-light;
  font-family:   $font-family-monospace;
	font-size:     0.9rem;
  @include padding($padding-smallest);
  white-space:   nowrap;
  word-break:    normal;
}
