input {
	font-family: $font-family-primary;

	::-webkit-input-placeholder {
		color: $grey-lighter;
	}

	:-moz-placeholder {
		color: $grey-lighter;
	}

	::-moz-placeholder {
		color: $grey-lighter;
	}

	:-ms-input-placeholder {
		color: $grey-lighter;
	}
}
