input {
	font-family: $font-family-primary;

	::-webkit-input-placeholder {
		color: $grey-x-light;
	}

	:-moz-placeholder {
		color: $grey-x-light;
	}

	::-moz-placeholder {
		color: $grey-x-light;
	}

	:-ms-input-placeholder {
		color: $grey-x-light;
	}
}
