.o-banner {
  background:    $white;
  border-bottom: $border-size-base solid $grey-x-light;
}

  .o-banner__inner {
    margin:    0 auto;
    max-width: $break-wide;

    .c-logo {
      float: left;
    }
  }

  .o-nav {
    float: right;
  }

    .o-nav__list {
      margin:  0;
      @include padding($logo-padding);
    }

      .o-nav__item {
        float:      left;
        list-style: none;
        margin:     0;
        @include margin-left($margin-base);
        padding:    0;
      }

      .o-nav__link {
        display:         block;
        @include line_height($font-size-base, $logo-size);
        text-decoration: none;

        &.c-button {
          line-height: inherit;
          @include margin-top($margin-x-small);
        }

        &.is-current {
          font-weight: $font-weight-bold;
        }
      }

  .o-nav-stacked {
    border: $border-size-base solid $grey-x-light;
    @include rem('border-radius', $border-radius-base);
    @include margin(0, 0, $margin-base);
    padding:       0;
  }

    .o-nav-stacked__list {
      margin:  0;
      padding: 0;
    }

      .o-nav-stacked__item {
        border-top: $border-size-base solid $grey-x-light;
        list-style: none;
        margin:     0;
        padding:    0;

        &:first-child {
          border: none;
        }
      }

        .o-nav-stacked__link {
          display:         block;
          @include padding($padding-x-small, $padding-base);
          text-decoration: none;

          &.is-current {
            font-weight: $font-weight-bold;
          }
        }
