<div class="c-alert c-alert--info">
  You are now signed in.
</div>

<div class="c-page-block">
  <div class="c-grid">
    <div class="c-col--3">
      <nav class="o-nav-stacked">
        <ul class="o-nav-stacked__list">
          <li class="o-nav-stacked__item"><a class="o-nav-stacked__link" href="#">Club Hub</a></li>
          <li class="o-nav-stacked__item"><a class="o-nav-stacked__link is-current" href="#">Profile</a></li>
          <li class="o-nav-stacked__item"><a class="o-nav-stacked__link" href="#">Another Page</a></li>
          <li class="o-nav-stacked__item"><a class="o-nav-stacked__link" href="#">Change Password</a></li>
          <li class="o-nav-stacked__item"><a class="o-nav-stacked__link" href="#">More Links</a></li>
          <li class="o-nav-stacked__item"><a class="o-nav-stacked__link" href="#">Projects or Something</a></li>
        </ul>
      </nav>
    </div>

    <div class="c-col--9">
      <div class="c-content-panel">
        <h1>Your Profile</h1>

        <h2>The Basics</h2>

        <p>In order to complete your profile, we need some basic information about you.</p>

        <form class="c-form" accept-charset="UTF-8" action="#" method="post">
          <fieldset class="c-form__fieldset">
            <label class="c-form__label" for="user_first_name">First name</label>
            <input class="c-form__input" id="user_first_name" name="user[first_name]" required="required" size="30" type="text" value="Arnold">

            <label class="c-form__label" for="user_last_name">Last name</label>
            <input class="c-form__input" id="user_last_name" name="user[last_name]" required="required" size="30" type="text" value="Pettibone">

            <label class="c-form__label" for="user_email">Email</label>
            <input class="c-form__input" id="user_email" name="user[email]" required="required" size="30" type="email" value="arnie@pettibone.biz">

            <label class="c-form__label" for="user_postcode">Postcode</label>
            <input class="c-form__input" id="user_postcode" name="user[postcode]" required="required" size="30" type="text" value="E2 3GG">

            <label class="c-form__label" for="user_gender">Gender</label>
            <input class="c-form__input" id="user_gender" name="user[gender]" size="30" type="text" value="Male">

            <label class="c-form__label" for="user_year_of_birth">Year of birth</label>
            <input class="c-form__input" id="user_year_of_birth" min="1900" name="user[year_of_birth]" required="required" type="number" value="1983">

            <label class="c-form__label" for="user_heard_via">How did you hear about Code Club?</label>
            <input class="c-form__input" id="user_heard_via" name="user[heard_via]" size="30" type="text" value="A tweet on Twitter dot com">

            <button class="c-button c-button--green" type="submit">Save Changes</button>
          </fieldset>
        </form>

        <hr>

        <h2>A bit more about you</h2>

        <form class="c-form" accept-charset="UTF-8" action="#" method="post">
          <fieldset class="c-form__fieldset">
            <label class="c-form__label" for="user_job_title">Job title</label>
            <input class="c-form__input" id="user_job_title" name="user[job_title]" size="30" type="text" value="Web Developer">

            <label class="c-form__label" for="user_company">Company</label>
            <input class="c-form__input" id="user_company" name="user[company]" size="30" type="text" value="Pettibone Enterprises">

            <label class="c-form__label" for="user_bio">Tell us a little about yourself</label>
            <textarea class="c-form__input" cols="40" id="user_bio" maxlength="512" name="user[bio]" rows="5">I am impervious to magic.</textarea>

            <label class="c-form__label" for="user_blog">Blog</label>
            <input class="c-form__input" id="user_blog" name="user[blog]" size="30" type="url" value="https://pettibone.wordpress.com">

            <label class="c-form__label" for="user_website">Website</label>
            <input class="c-form__input" id="user_website" name="user[website]" size="30" type="url" value="https://pettibone.biz">

            <label class="c-form__label" for="user_twitter">Twitter username</label>
            <input class="c-form__input" id="user_twitter" name="user[twitter]" size="30" type="text" value="@a_pettibone">

            <label class="c-form__label" for="user_github">Github username</label>
            <input class="c-form__input" id="user_github" name="user[github]" size="30" type="text" value="pettibone">

            <label class="c-form__label" for="user_phone">Phone number</label>
            <input class="c-form__input" id="user_phone" name="user[phone]" size="30" type="tel" value="07123 123456">

            <button class="c-button c-button--green" type="submit">Save Changes</button>
          </fieldset>
        </form>

        <hr>

        <h2>Volunteer Preferences</h2>

        <form class="c-form" accept-charset="UTF-8" action="#" method="post">
          <fieldset class="c-form__fieldset">

            <div class="c-form__input-group">
              <input class="c-form__input-group-checkbox" id="input-group-checkbox-1" name="user[terms_accepted]" type="checkbox" value="true" checked="checked">
              <label class="c-form__input-group-label" for="input-group-checkbox-1">Are you looking for a club to volunteer for?</label>
            </div>

            <button class="c-button c-button--green" type="submit">Save Changes</button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
