<style>
  .grid-demo {
    margin-bottom: 3rem;
  }
  .grid-demo .c-col {
    background: rgba(51, 153, 51, 0.1);
    border:     2px solid #393;
    border-radius: 0.5rem;
    padding:    1rem 0;
    text-align: center;
  }
</style>

<div class="c-page-block">
  <div class="c-grid">
    <div class="c-col c-col--12">
      <h1 class="u-text--center">Grid System Example</h1>
      <hr>
      <h2 class="u-text--center">Basic Grid Column Sizes</h1>
    </div>
  </div>

  <div class="grid-demo">
    <% for num in 1..12 %>
      <div class="c-grid">
        <div class="c-col c-col--<%= num %>"><% if num > 1 %><code>.c-col--<%= num %></code><% else %><code>.c-col</code><% end %></div>
      </div>
    <% end %>

    <div class="c-grid">
      <% 12.times do %><div class="c-col c-col--1"><code>.c-col</code></div><% end %>
    </div>

    <div class="c-grid">
      <% 6.times  do %><div class="c-col c-col--2"><code>.c-col--2</code></div><% end %>
    </div>

    <div class="c-grid">
      <% 4.times  do %><div class="c-col c-col--3"><code>.c-col--3</code></div><% end %>
    </div>

    <div class="c-grid">
      <% 3.times  do %><div class="c-col c-col--4"><code>.c-col--4</code></div><% end %>
    </div>

    <div class="c-grid">
      <% 2.times  do %><div class="c-col c-col--6"><code>.c-col--6</code></div><% end %>
    </div>

    <div class="c-grid">
      <div class="c-col c-col--12"><code>.c-col--12</code></div>
    </div>
  </div>

  <div class="c-grid">
    <div class="c-col c-col--12">
      <h2 class="u-text--center">Combining Different Column Sizes</h2>
    </div>
  </div>

  <div class="grid-demo">
    <div class="c-grid">
      <div class="c-col c-col--9"><code>.c-col--9</code></div>
      <div class="c-col c-col--3"><code>.c-col--3</code></div>
    </div>

    <div class="c-grid">
      <div class="c-col c-col--3"><code>.c-col--3</code></div>
      <div class="c-col c-col--3"><code>.c-col--3</code></div>
      <div class="c-col c-col--6"><code>.c-col--6</code></div>
    </div>

    <div class="c-grid">
      <div class="c-col c-col--4"><code>.c-col--4</code></div>
      <div class="c-col c-col--8"><code>.c-col--8</code></div>
    </div>

    <div class="c-grid">
      <div class="c-col c-col--5"><code>.c-col--5</code></div>
      <div class="c-col c-col--3"><code>.c-col--3</code></div>
      <div class="c-col c-col--4"><code>.c-col--4</code></div>
    </div>
  </div>

  <div class="c-grid">
    <div class="c-col c-col--12">
      <h2 class="u-text--center">Center Aligning Columns</h2>
    </div>
  </div>

  <div class="grid-demo">
    <div class="c-grid c-grid--h-center">
      <div class="c-col c-col--5"><code>.c-col--5</code></div>
      <div class="c-col c-col--5"><code>.c-col--5</code></div>
    </div>

    <div class="c-grid c-grid--h-center">
      <div class="c-col c-col--4"><code>.c-col--4</code></div>
      <div class="c-col c-col--4"><code>.c-col--4</code></div>
    </div>

    <div class="c-grid c-grid--h-center">
      <div class="c-col c-col--3"><code>.c-col--3</code></div>
      <div class="c-col c-col--3"><code>.c-col--3</code></div>
    </div>

    <div class="c-grid c-grid--h-center">
      <div class="c-col c-col--2"><code>.c-col--2</code></div>
      <div class="c-col c-col--2"><code>.c-col--2</code></div>
      <div class="c-col c-col--6"><code>.c-col--6</code></div>
    </div>

    <% 11.downto(1) do |num| %>
      <div class="c-grid c-grid--h-center">
        <div class="c-col c-col--<%= num %>"><% if num > 1 %><code>.c-col--<%= num %></code><% else %><code>.c-col</code><% end %></div>
      </div>
    <% end %>
  </div>

  <div class="c-grid">
    <div class="c-col c-col--12">
      <h2 class="u-text--center">Vertical column alignment</h2>
    </div>
  </div>

  <div class="grid-demo">
    <div class="c-grid c-grid--v-top">
      <div class="c-col c-col--4">HEY LOOK AT US!</div>
      <div class="c-col c-col--4">We're<br>at<br>the<br>top<br>of<br>the<br>grid</div>
      <div class="c-col c-col--4">And<br>it<br>doesn't<br>even<br>matter<br>how<br>tall<br>we<br>are!</div>
    </div>

    <div class="c-grid c-grid--v-center">
      <div class="c-col c-col--4">Oh what's this?</div>
      <div class="c-col c-col--4">Now<br>we're<br>in<br>the<br>vertical<br>center<br>of<br>the<br>grid?</div>
      <div class="c-col c-col--4">What<br>madness<br>is<br>this?</div>
    </div>

    <div class="c-grid c-grid--v-bottom">
      <div class="c-col c-col--4">Well what do you know.</div>
      <div class="c-col c-col--4">The<br>bottom<br>of<br>the<br>grid.</div>
      <div class="c-col c-col--4">Can't<br>say<br>we<br>didn't<br>see<br>that<br>coming.</div>
    </div>
  </div>
</div>
