<div class="o-hero">
  <div class="o-hero__nav o-hero__nav--left">
    <a href="#" class="o-hero__nav-link"><span class="c-icon c-icon--arrow-left c-icon--white"></span>Back to style guide</a>
  </div>

  <div class="o-hero__body">
    <h1 class="o-hero__title">This is an example page</h1>

    <p class="o-hero__subtitle c-lede">
      This example page shows some ways of breaking up a content over a page. Using a combination of page blocks, content
      panels and the grid system you can create interesting layouts.
    </p>
  </div>
</div>

<nav class="o-nav-horiz">
  <ul class="o-nav-horiz__list">
    <li class="o-nav-horiz__item"><a class="o-nav-horiz__link is-current">Projects & Resources</a></li>
    <li class="o-nav-horiz__item"><a class="o-nav-horiz__link">Manage Volunteers</a></li>
    <li class="o-nav-horiz__item"><a class="o-nav-horiz__link">Club Settings</a></li>
  </ul>
</nav>

<div class="c-page-block">
  <div class="row center-xs">
    <div class="col-xs-6">
      <div class="box">
        <p>This page features an introductory paragraph, followed by some cards.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
  </div>


<div class="o-card-container">
  <div class="o-project-card">
    <a class="o-project-card__link" href="#">
      <img class="o-project-card__image" alt="" src="/assets/images/project_123.png">
      <div class="o-project-card__body">
        <div class="o-project-card__meta">Project 1</div>
        <div class="o-project-card__title">Teaching Turtles</div>
        <p>Learn more about drawing with the turtle.</p>
        <p class="u-text--right u-color--green">
          Start <span class="c-icon c-icon--arrow-circle-right c-icon--green"></span>
        </p>
      </div>
    </a>
  </div>

  <div class="o-project-card">
    <a class="o-project-card__link" href="#">
      <img class="o-project-card__image" alt="" src="/assets/images/project_123.png">
      <div class="o-project-card__body">
        <div class="o-project-card__meta">Project 1</div>
        <div class="o-project-card__title">Teaching Turtles</div>
        <p>Learn more about drawing with the turtle.</p>
        <p class="u-text--right u-color--green">
          Start <span class="c-icon c-icon--arrow-circle-right c-icon--green"></span>
        </p>
      </div>
    </a>
  </div>

  <div class="o-project-card">
    <a class="o-project-card__link" href="#">
      <img class="o-project-card__image" alt="" src="/assets/images/project_123.png">
      <div class="o-project-card__body">
        <div class="o-project-card__meta">Project 1</div>
        <div class="o-project-card__title">Teaching Turtles</div>
        <p>Learn more about drawing with the turtle.</p>
        <p class="u-text--right u-color--green">
          Start <span class="c-icon c-icon--arrow-circle-right c-icon--green"></span>
        </p>
      </div>
    </a>
  </div>
</div>
</div>

<div class="c-page-block c-page-block--alt-block">
  <h3>A section with some text and an image</h3>

  <div class="row between-xs">
    <div class="col-xs-5">
      <div class="box">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>

    <div class="col-xs-6">
      <div class="box">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
  </div>
</div>

<div class="c-page-block">
  <div class="row center-xs">
    <div class="col-xs-8">
      <div class="c-content-panel">
        <h4>A panel with some headings and text</h4>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <h4>A panel with some headings</h4>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit.</p>
      </div>
    </div>
  </div>
</div>

<div class="c-page-block c-page-block--action-block">
  <div class="row center-xs">
    <div class="col-xs-6 u-text--center">
      <h2>Use an action block wisely</h2>

      <p class="c-lede">
        Use one per page to host an important action! In this case, we have a email newsletter sign up form.
      </p>

      <form class="c-form">
        <fieldset class="c-form__fieldset">
          <input class="c-form__input u-color--grey-dark" id="whatevers_input" name="user[whatevers]" placeholder="Enter your email address" type="text">

          <button class="c-button c-button--white u-color--blue c-button--large">Sign up</button>
        </fieldset>
      </form>
    </div>
  </div>
</div>
