/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* STYLES FOR STYLE GUIDE HOUSING */
.nav_left {
  width: 250px;
  background: #333;
  color: #fff;
  min-height: 100%;
  font-size: 14px;
  float: left;
  position: relative;
  z-index: 100;
  padding-bottom: 3em; }

.nav_left .brand {
  padding: 14px;
  margin-bottom: 7px;
  float: none; }

.nav_left .brand {
  color: #fff; }

.nav_left h2 {
  font-size: 1.4em; }

.nav_left h5 {
  margin-top: 28px;
  margin-left: 14px; }

.nav_left ul {
  border-top: 1px solid #222; }

.nav_left ul li {
  background: none;
  border-bottom: 1px solid #222;
  padding: 0; }

.nav_left ul li a {
  text-decoration: none;
  color: #999;
  padding: 7px 14px;
  display: block; }

.nav_left ul li a:hover {
  color: #ccc;
  background: #222; }

.nav_left ul li.cur a {
  border-left: 5px solid #339933;
  padding-left: 9px;
  color: #fff; }

.body_wrap {
  border-left: 250px solid #333;
  padding: 5% 0;
  position: relative;
  z-index: 1;
  /*background:#e0e0e0;*/ }

.example .body_wrap {
  padding: 0;
  border-left: 0; }

.example .nav_left {
  margin-left: -250px; }

.diagram {
  padding-left: 300px;
  margin: 2em 0; }

.diagram > img {
  float: left;
  margin-left: -300px;
  width: 260px;
  border: 1px solid #e0e0e0; }

.grid .body_wrap {
  background-image: url(/assets/images/grid_mobile.svg);
  background-repeat: repeat-y;
  background-position: center 0;
  background-size: 100%; }

.toggle_drawer {
  display: block;
  width: 40px;
  height: 40px;
  background: #333 url(/assets/images/icons/arrow-fill-left.svg) no-repeat center center;
  background-size: 70%;
  color: #fff;
  text-indent: -9999em;
  cursor: pointer;
  position: absolute;
  top: 25px;
  right: 0;
  border-radius: 5px; }

.drawer_toggle .toggle_drawer {
  right: -35px;
  background-image: url(/assets/images/icons/arrow-fill-right.svg); }

.drawer_toggle .nav_left {
  margin-left: -250px; }

.drawer_toggle .body_wrap {
  border-left: 0; }

.colourblock {
  border-radius: 5px;
  padding: 2em;
  display: inline-block;
  text-align: center;
  min-width: 8em;
  margin: 0.5em; }

.img_desc {
  padding: 2em 0 2em 350px;
  border-bottom: 1px solid #e0e0e0;
  overflow: hidden; }

.img_desc .image {
  float: left;
  margin-left: -350px;
  width: 320px; }

.img_desc img {
  max-width: 100%;
  display: block;
  margin: 0 auto; }

@media (min-width: 768px) {
  .grid .body_wrap {
    background-image: url(/assets/images/grid_tablet.svg); } }

@media (min-width: 900px) {
  .grid .body_wrap {
    background-image: url(/assets/images/grid_desktop.svg); } }

@font-face {
  font-family: Museo Sans Rounded;
  font-weight: 300;
  src: url("/assets/fonts/MuseoSansRounded-300.otf") format("opentype"); }

@font-face {
  font-family: Museo Sans Rounded;
  font-weight: 500;
  src: url("/assets/fonts/MuseoSansRounded-500.otf") format("opentype"); }

html, * {
  box-sizing: border-box; }

body {
  background-color: #f5f6f9;
  font-family: "Museo Sans Rounded",Museo Sans Rounded;
  font-size: 16px;
  line-height: 22px;
  color: #333;
  font-weight: 300; }

.center {
  text-align: center; }

.rule {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 0.8em; }

.light {
  color: #fff; }

.subtle {
  opacity: 0.5; }

.block {
  display: block; }

.number {
  font-weight: 700;
  color: #fff;
  background: #e18932;
  font-size: 12px;
  width: 2em;
  line-height: 2em;
  text-align: center;
  display: inline-block;
  border-radius: 1em; }

.on {
  display: block !important; }

.clear:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

a {
  font-weight: 500;
  color: #339933; }

a:hover,
a:focus {
  color: #333; }

a.close {
  display: inline-block;
  text-indent: -9999em;
  width: 13px;
  height: 13px;
  background: url(/assets/images/icons/close.svg) no-repeat center center;
  opacity: 0.5; }

a.close:hover,
a.close:focus {
  opacity: 0.8; }

p, ul, ol, dl {
  margin-bottom: 1em; }

p {
  max-width: 40em; }

h1 {
  font-size: 28px;
  margin-bottom: 0.5em; }

h2 {
  font-size: 24px;
  margin-bottom: 0.6em; }

h3 {
  font-size: 20px;
  margin-bottom: 0.8em; }

h4 {
  font-size: 16px;
  margin-bottom: 1em; }

h5 {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 1em; }

h1, h2, h3, h4, h5 {
  font-weight: 500;
  line-height: 1.2em; }

ul li {
  background: url(/assets/images/bullet.svg) no-repeat 0 0.2em;
  background-size: 0.8em;
  padding-left: 1.2em; }

ul.alt li {
  background-size: 1.2em;
  background-position: 0 0;
  padding-left: 2em;
  margin-bottom: 0.7em; }

ol {
  list-style: decimal; }

dl {
  border-top: 1px solid #e0e0e0;
  list-style: none; }

dl li {
  border-bottom: 1px solid #e0e0e0;
  overflow: hidden;
  padding: 0.6em 0 0.6em 10em; }

dl dt {
  font-weight: 500;
  width: 10em;
  float: left;
  margin-left: -10em; }

code, .mono {
  font-family: "Consolas","Andale Mono",monospace;
  font-size: 12px;
  color: #666; }

code {
  display: inline-block;
  border: 1px solid #e0e0e0;
  background: #f6f6f6;
  padding: 0.5em;
  border-radius: 4px; }

pre {
  display: block;
  max-width: 100%;
  margin-bottom: 2.5em; }

pre code {
  max-width: 100%;
  overflow: scroll;
  display: block; }

hr {
  border: 0;
  margin: 2em 0;
  border-top: 1px solid #e0e0e0; }

.meta {
  font-size: 14px;
  line-height: 19px; }

.big {
  font-size: 18px;
  line-height: 26px; }

@media (min-width: 768px) {
  h1 {
    font-size: 36px;
    margin-bottom: 0.5em; }
  h2 {
    font-size: 28px;
    margin-bottom: 0.6em; }
  h3 {
    font-size: 22px;
    margin-bottom: 0.8em; }
  h4 {
    font-size: 17px;
    margin-bottom: 1em; } }

@media (min-width: 900px) {
  h1 {
    font-size: 48px;
    margin-bottom: 0.5em; }
  h2 {
    font-size: 36px;
    margin-bottom: 0.6em; }
  h3 {
    font-size: 24px;
    margin-bottom: 0.8em; }
  h4 {
    font-size: 18px;
    margin-bottom: 1em; } }

/* FLEX */
.layout {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  padding: 0 8%;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start; }

.col {
  margin: 1%;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  overflow: hidden; }

.grid .col {
  background: coral; }

.col1of12 {
  -webkit-flex-basis: 6%;
      -ms-flex-preferred-size: 6%;
          flex-basis: 6%; }

.col1of6 {
  -webkit-flex-basis: 14.5%;
      -ms-flex-preferred-size: 14.5%;
          flex-basis: 14.5%; }

.col1of4 {
  -webkit-flex-basis: 23%;
      -ms-flex-preferred-size: 23%;
          flex-basis: 23%; }

.col2of4 {
  -webkit-flex-basis: 48%;
      -ms-flex-preferred-size: 48%;
          flex-basis: 48%; }

.col3of4 {
  -webkit-flex-basis: 74%;
      -ms-flex-preferred-size: 74%;
          flex-basis: 74%; }

.col1of3 {
  -webkit-flex-basis: 31%;
      -ms-flex-preferred-size: 31%;
          flex-basis: 31%; }

.col2of3 {
  -webkit-flex-basis: 64.5%;
      -ms-flex-preferred-size: 64.5%;
          flex-basis: 64.5%; }

.col1of2 {
  -webkit-flex-basis: 48%;
      -ms-flex-preferred-size: 48%;
          flex-basis: 48%; }

.col1of1 {
  -webkit-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
          flex-basis: 100%; }

.pad0 {
  padding: 0; }

.pad1 {
  padding: 1em; }

.pad2 {
  padding: 9%; }

.pad3 {
  padding: 17%; }

.pady1 {
  padding-top: 1em;
  padding-bottom: 1em; }

.pady2 {
  padding-top: 5%;
  padding-bottom: 5%; }

.pady3 {
  padding-top: 9%;
  padding-bottom: 9%; }

.padx1 {
  padding-left: 1em;
  padding-right: 1em; }

.padx2 {
  padding-left: 9%;
  padding-right: 9%; }

.padx3 {
  padding-left: 17%;
  padding-right: 17%; }

.margin-one {
  margin-bottom: 1em; }

.margin-half {
  margin-bottom: 0.5em; }

.margin-double {
  margin-bottom: 2em; }

.margin-zero {
  margin-bottom: 0; }

/* PRIMARY NAV */
#nav_pri {
  background: #fff;
  padding: 6px 5%;
  position: relative;
  border-bottom: 1px solid #e0e0e0;
  overflow: hidden; }

h1.brand {
  color: #339933;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
  font-size: 18px;
  float: left; }

h1.brand a {
  color: #339933;
  text-decoration: none; }

h1.brand span {
  display: inline-block;
  text-indent: -9999em;
  width: 60px;
  height: 60px;
  background: url(/assets/images/brand_circle.svg) no-repeat center center;
  background-size: 100%; }

h1.brand small {
  font-size: 18px;
  line-height: 1em;
  position: relative;
  top: 1.15em; }

nav.pri {
  float: right;
  background: url(/assets/images/icons/menu.svg) no-repeat center center;
  width: 40px;
  height: 40px;
  margin-top: 10px; }

nav.pri > ul {
  display: none; }

nav ul li {
  background-image: none;
  padding: 0; }

nav ul li a {
  color: #777;
  text-decoration: none;
  display: block;
  padding: 0.7em 1.2em; }

nav ul li a:hover,
nav ul li a:focus {
  background: #fff;
  color: #333; }

.hero {
  color: #fff;
  background: #339933;
  text-align: center;
  padding: 5%; }

.hero a {
  color: #fff; }

.hero ul {
  list-style: none; }

.hero ul li {
  padding: 0;
  margin-bottom: 1em;
  background: none; }

.hero ul li a,
.hero ul li a:hover,
.hero ul li a:focus {
  display: block; }

.hero ul li a:hover {
  color: #339933 !important; }

.hero {
  background-size: 100% 100%;
  background-repeat: no-repeat; }

.hero.flash {
  background-image: url(/assets/images/hero_flash.png);
  background-color: #291629; }

/* CONTENT BLOCK LAYOUTS */
.content_wrap {
  padding: 5%; }

.content_wrap + section {
  border-top: 1px solid #e0e0e0; }

.bubble {
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  background: #fff; }

.content_wrap > section + section {
  margin-top: 5%; }

.blue {
  color: #fff;
  background: #5290d2; }

.green {
  color: #fff;
  background: #339933; }

.bg-light-green {
  background: #d3e8d0; }

footer {
  background: #333;
  color: #fff;
  padding: 5%; }

section.blue a,
section.green a,
footer a {
  color: #fff; }

section.blue a:hover,
section.blue a:focus,
section.green a:hover,
section.green a:focus,
footer a:hover,
footer a:focus {
  opacity: 0.5;
  color: #fff; }

.menu_menu {
  background: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  margin-bottom: 5%; }

.menu_menu ul {
  margin: 0; }

.menu_menu ul li {
  background: none;
  padding: 0;
  border-top: 1px solid #e0e0e0; }

.menu_menu ul li:first-child {
  border: none; }

.menu_menu ul li a {
  display: block;
  text-decoration: none;
  padding: 0.8em 1em; }

.menu_menu ul li.current a {
  background: url(/assets/images/icons/arrow-right.svg) no-repeat right 10px center;
  background-size: 0.5em; }

.image_grid > div {
  float: left;
  margin: 0 0 5% 0;
  width: 130px;
  overflow: visible; }

.image_grid .img {
  border: 1px solid #e0e0e0;
  width: 100px;
  height: 100px;
  border-radius: 5px;
  position: relative; }

.image_grid.icons .img img {
  max-width: 20px;
  max-height: 20px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }

/* CARDS */
.card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .card.link:hover, .card.link .link:focus {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-color: #ccc; }
  .card > a:first-child {
    display: block;
    text-decoration: none; }
  .card .title {
    border-bottom: 1px solid #e0e0e0;
    padding: 1em; }
  .card .content {
    text-align: left; }
  .card .action {
    margin-top: auto; }
    .card .action.divide {
      border-top: 1px solid #e0e0e0; }
  .card.image a {
    color: #fff; }
  .card.course-scratch {
    background: #ec8313 url(/assets/images/tile_scratch.svg); }
    .card.course-scratch .action {
      background: #ec8313; }
  .card.course-html {
    background: #2396dd url(/assets/images/tile_html.png) center center; }
    .card.course-html .action {
      background: #2396dd; }
  .card.course-python {
    background: #00c394 url(/assets/images/tile_python.svg);
    background-size: 40em; }
    .card.course-python .action {
      background: #00c394; }

@media (min-width: 768px) {
  #nav_pri {
    padding-left: 7%;
    padding-right: 7%; }
  .hero {
    padding: 0; }
  .hero_image {
    padding: 7% 15%;
    font-size: 1.1em; }
  .hero ul {
    margin: 0 auto;
    display: inline-block; }
  .hero ul li {
    float: left;
    margin: 0 0.5em; }
  .hero ul li a {
    display: inline-block !important; }
  .hero_image {
    background-size: 95%;
    background-position: center 70%;
    background-repeat: no-repeat; }
  .hero {
    background-size: 100% 100%; }
  .books {
    background-image: url(/assets/images/hero_books.png); }
  .dancingrobots {
    background-image: url(/assets/images/dancingrobots.png); }
  .content_wrap {
    padding: 5% 7%; }
  section, footer {
    padding-left: 7%;
    padding-right: 7%; }
  .menu_menu {
    width: 30%;
    float: left; }
  .menu_content {
    width: 65.5%;
    float: right; } }

@media (min-width: 900px) {
  /*body.grid {
    background-image:url(/assets/images/grid_desktop.svg);
  }*/
  #nav_pri {
    padding-left: 9%;
    padding-right: 9%; }
  nav.pri {
    width: auto;
    height: auto;
    background: none; }
  nav.pri ul {
    display: block;
    background: none;
    position: static;
    overflow: visible;
    box-shadow: none;
    margin: 10px 0 0 0; }
  nav ul li {
    float: left;
    border: none;
    margin-left: 1.4em; }
  nav ul li a {
    display: inline-block;
    padding: 0;
    color: #339933; }
  nav ul li.emphasis {
    margin-top: -13px; }
  nav ul li.emphasis a {
    border: 3px solid #339933;
    padding: 10px;
    border-radius: 25px; }
  nav ul li.emphasis a:hover {
    border-color: #333; }
  nav.section {
    background: #fff;
    border-bottom: 1px solid #e0e0e0;
    text-align: center;
    padding: 1em 0; }
  nav.section ul {
    margin: 0; }
  nav.section li {
    float: none;
    display: inline; }
  nav.section a {
    display: inline-block; }
  .hero_image {
    padding: 7% 22%; }
  .content_wrap {
    padding: 5% 9%; }
  section, footer {
    padding-left: 9%;
    padding-right: 9%; }
  .menu_menu {
    width: 23%; }
  .menu_content {
    width: 74.5%; } }

form > div {
  margin-bottom: 2em; }

label {
  font-size: 14px;
  font-weight: 500;
  color: #666;
  display: block;
  margin: 0 0 0.6em 0; }

form hr {
  margin: 3em -5%; }

p.info {
  font-size: 14px;
  margin-bottom: 0.6em;
  color: #666; }

input, textarea {
  font-family: "Museo Sans Rounded";
  font-weight: 300;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  font-size: 16px;
  line-height: 21px;
  padding: 14px;
  width: 100%;
  outline: none; }

input:focus {
  border-color: #999; }

input[type="submit"] {
  font-weight: 500;
  color: #fff;
  background: #339933;
  border: 2px solid #339933;
  cursor: pointer;
  font-size: 16px;
  width: auto;
  border-radius: 2em;
  padding-left: 3em;
  padding-right: 3em;
  display: block;
  margin: 0 auto;
  text-align: center; }

input[type="submit"]:hover {
  background: #fff;
  color: #339933; }

.smallprint {
  font-size: 13px;
  font-weight: 300;
  text-align: center;
  color: #666; }

/* LABEL-IN */
.label-in {
  position: relative; }

.label-in label {
  position: absolute;
  top: 1.15em;
  left: 5%;
  z-index: 3; }

.label-in input {
  padding-left: 8em; }

/* CHECKLISTS */
.checklist ul {
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  overflow: hidden; }

.checklist li {
  background-image: none;
  padding: 0; }

.checklist input {
  display: none; }

.checklist li:first-child label {
  border: none; }

.checklist label {
  border-top: 1px solid #e0e0e0;
  display: block;
  cursor: pointer;
  margin: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  padding: 14px;
  padding-left: 50px;
  background: url(/assets/images/checkbox_empty.svg) no-repeat 15px center; }

.checklist label:hover {
  background-color: #f6f6f6; }

.checklist input:checked + label {
  background-image: url(/assets/images/checkbox_checked.svg); }

/* DROPDOWN */
.field_dropdown {
  position: relative; }

.field_dropdown h4 {
  font-size: 16px;
  margin: 0;
  line-height: 22px;
  padding: 14px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  cursor: pointer;
  background: url(/assets/images/icon_arrow_down.svg) no-repeat 95% center;
  background-size: 0.8em;
  position: relative; }

.field_dropdown h4:hover {
  background-color: #f6f6f6; }

.field_dropdown ul {
  display: none;
  background: #f6f6f6;
  position: absolute;
  width: 95%;
  left: 2.5%;
  border: 1px solid #e0e0e0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  top: 51px; }

.field_dropdown ul label {
  background-image: none;
  padding-left: 14px; }

.field_dropdown ul label:hover {
  background-color: #fff; }

/* MESSAGING & ERRORS */
.message {
  color: #fff;
  padding: 1em 5.5% 1px 5.5%;
  margin: 0 -5.5% 2em -5.5%; }

.message.error {
  background: #ff5252; }

.error_highlight label {
  color: #ff5252; }

.error_highlight input,
.error_highlight textarea {
  border-color: #ff5252; }

.error_content_wrap {
  margin-top: 5px;
  padding-top: 5px;
  background: url(/assets/images/icon_arrow_up_red.svg) no-repeat center 0.5em;
  background-size: 0.8em; }

.error_content {
  background: #ff5252;
  color: #fff;
  border-radius: 5px;
  font-size: 14px;
  padding: 0.5em 1em;
  margin: 0.5em; }

.fieldwithbutton {
  overflow: hidden; }

.fieldwithbutton input[type="text"] {
  width: 70%;
  margin-right: 1em;
  float: left; }

.fieldwithbutton input[type="submit"] {
  padding: 0.8em;
  margin: 0; }

/* BUTTONS */
.button,
.button.invert:hover,
.button.invert:focus {
  display: inline-block;
  text-decoration: none;
  border: 0.1875em solid #339933;
  background: #339933;
  color: #fff;
  padding: 0.5em 2em;
  border-radius: 1.5em; }

.button:hover,
.button:focus,
.button.invert {
  background: transparent;
  color: #339933; }

.button.full {
  width: 100%; }

.button.white {
  background-color: #fff;
  border-color: #fff;
  color: #333; }

.button.white:hover {
  background-color: transparent;
  color: #fff; }

.button.invert.white {
  color: #fff;
  border-color: #fff;
  background-color: transparent; }

.button.invert.white:hover,
.button.invert.white:focus {
  background-color: #fff;
  color: #333; }

.button.subtle {
  background: #fff;
  border-color: #666;
  color: #333;
  opacity: 0.6; }

.button.subtle:hover,
.button.subtle:focus {
  opacity: 1; }

.button.large {
  font-size: 1.1em; }

.button.icon,
.button.icon:hover {
  background-repeat: no-repeat;
  background-position: 2em center;
  padding-left: 3.5em;
  background-size: 1em; }

.calendar {
  background-image: url(/assets/images/icons/calendar_white.svg); }

.calendar:hover,
.calendar:focus {
  background-image: url(/assets/images/icons/calendar_green.svg); }

.document {
  background-image: url(/assets/images/icons/document.svg); }

.link {
  text-decoration: none; }

.link.icon {
  background-repeat: no-repeat;
  background-position: 0 center;
  padding-left: 1.4em !important;
  background-size: 1em; }

.link.icon.right {
  background-position: right center;
  padding-left: 0 !important;
  padding-right: 1.4em; }

.link.icon.calendar {
  background-image: url(/assets/images/icons/calendar_green.svg); }

.link.icon.calendar:hover,
.link.icon.calendar:focus {
  background-image: url(/assets/images/icons/calendar.svg); }

.email {
  background-image: url(/assets/images/icons/email.svg); }

.arrow-circle-right {
  background-image: url(/assets/images/icons/arrow-circle-right.svg); }

.plus-circle {
  background-image: url(/assets/images/icons/plus-circle.svg); }

.button.square {
  border-radius: 0.4em !important; }

.disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none; }

/*# sourceMappingURL=application.css.map */
