<div class="layout">
  <div class="bubble pad2 col col1of1">

    <dl>
      <li>
        <dt>Page Alerts</dt>
        <dd>These sit directly below the primary navigation and are used to notify the user of page-load event, such as a form success or error. They cannot be used with hero blocks.</dd>
      </li>
      <li>
        <dt>Inline Alerts</dt>
        <dd>Inline alerts can be used within the content areas, such as in forms. They can be used to highlight a certain requirement or action before the user commits.</dd>
      </li>
    </dl>

    <p>Alerts come in four different</p>

  </div>
</div>
