<p>
  Use this module when you want to show a user a list of clubs that they are involved with, either as a host or a volunteer.
</p>

<%= render_example do %>
<ul class="o-club-list">
  <li class="o-club-list__item">
    <div class="o-club-list__title">
      Knavesmire Primary School
      <span class="o-club-list__meta c-meta">Trafalgar Street, York, York, Yorkshire and Humber, YO23 1HY</span>
    </div>
    <span class="o-club-list__badge c-badge c-badge--green">Active</span>
    <a href="#" class="o-club-list__button c-button c-button--hollow c-button--green">View Club</a>
  </li>
  <li class="o-club-list__item">
    <div class="o-club-list__title">
      Knavesmire Primary School
      <span class="o-club-list__meta c-meta">Trafalgar Street, York, York, Yorkshire and Humber, YO23 1HY</span>
    </div>
    <span class="o-club-list__badge c-badge c-badge--green">Active</span>
    <a href="#" class="o-club-list__button c-button c-button--hollow c-button--green">View Club</a>
  </li>
  <li class="o-club-list__item">
    <div class="o-club-list__title">
      Knavesmire Primary School
      <span class="o-club-list__meta c-meta">Trafalgar Street, York, York, Yorkshire and Humber, YO23 1HY</span>
    </div>
    <span class="o-club-list__badge c-badge c-badge--green">Active</span>
    <a href="#" class="o-club-list__button c-button c-button--hollow c-button--green">View Club</a>
  </li>
</ul>
<% end %>
