<div class="sg-panel">
	<h2>Standalone Logomark</h2>

	<div class="sg-example">
		<h3 class="sg-example__heading">Example</h3>

		<div class="sg-example__preview">
			<figure class="c-logo">
				<a href="" class="c-logo__link">
					<img src="" alt="" class="c-logo__image">
				</a>
			</figure>
		</div>

		<code class="sg-example__code">

		</code>
	</div>

	<hr>

	<h2>Logomark with Text</h2>

	<div class="sg-example">
		<h3 class="sg-example__heading">Example</h3>

		<div class="sg-example__preview">
			<figure class="c-logo">
				<a href="" class="c-logo__link">
					<img src="" alt="" class="c-logo__image">
					<figcaption class="c-logo__appendix">Ireland</figcaption>
				</a>
			</figure>
		</div>

		<code class="sg-example__code">

		</code>
	</div>

	<h2>Logomark with Stacked Text</h2>

	<div class="sg-example">
		<h3 class="sg-example__heading">Example</h3>

		<div class="sg-example__preview">
			<figure class="c-logo c-logo--stacked">
				<a href="" class="c-logo__link">
					<img src="" alt="" class="c-logo__image">
					<figcaption class="c-logo__appendix c-logo__appendix--stacked">Ireland</figcaption>
				</a>
			</figure>
		</div>

		<code class="sg-example__code">

		</code>
	</div>
</div>
