<h2>Content-heading listings (FAQs)</h2>

<div class="faq">
  <div class="section">
    <h4 class="toggle">What is Code Club Pro?</h4>

    <div class="content hidden">
      <p>Code Club Teacher Training is part of Code Club UK, a not-for-profit organisation. We offer training and resources to primary school teachers.</p>
    </div>
  </div>

  <div class="section">
    <h4 class="toggle">What does Code Club Pro do?</h4>

    <div class="content hidden">
      <p>We help to prepare primary school teachers to prepare them for the new computing curriculum. We explain the core computing concepts covered in the curriculum, so that teachers can do what they do best - which is teach.</p>
    </div>
  </div>

  <div class="section">
    <h4 class="toggle">What are your goals?</h4>

    <div class="content hidden">
      <p>We want as many teachers as possible to feel confident, excited and prepared for the new curriculum. It’s quite a big task – there are approximately 200,000 teachers in the UK and we want to help as many as we can. With great supporters behind us, we know we can achieve many things.</p>
    </div>
  </div>

  <div class="section">
    <h4 class="toggle">Why we do it?</h4>

    <div class="content hidden">
      <p>The new computing curriculum came into effect in September 2014 and for the first time primary school teachers will be expected to teach computing to children from 5yrs+.</p>
    </div>
  </div>
