<div class="sg-example">
  <h3 class="sg-example__heading">Example</h3>

  <div class="sg-example__preview">
    <footer class="o-footer">
        <div class="container">
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-3">
              <p class="o-footer__heading">About</p>
              <ul class="o-footer__list">
                <li class="o-footer__list-item"><a href="#" class="o-footer__list-link">About Code Club</a></li>
                <li class="o-footer__list-item"><a href="#" class="o-footer__list-link">Creating a Code Club</a></li>
                <li class="o-footer__list-item"><a href="#" class="o-footer__list-link">Becoming a Coordinator</a></li>
              </ul>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
              <p class="o-footer__heading">Support Code Club</p>
              <ul class="o-footer__list">
                <li class="o-footer__list-item"><a href="#" class="o-footer__list-link">Donate</a></li>
                <li class="o-footer__list-item"><a href="#" class="o-footer__list-link">Shop</a></li>
              </ul>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
              <p class="o-footer__heading">Help</p>
              <ul class="o-footer__list">
                <li class="o-footer__list-item"><a href="#" class="o-footer__list-link">FAQ</a></li>
                <li class="o-footer__list-item"><a href="#" class="o-footer__list-link">Terms of Service</a></li>
              </ul>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
              <p class="o-footer__heading">Useful Links</p>
              <ul class="o-footer__list">
                <li class="o-footer__list-item"><a href="#" class="o-footer__list-link">Code Club Projects</a></li>
                <li class="o-footer__list-item"><a href="#" class="o-footer__list-link">Download Scrach 2</a></li>
                <li class="o-footer__list-item"><a href="#" class="o-footer__list-link">Code Club World on Github</a></li>
                <li class="o-footer__list-item"><a href="#" class="o-footer__list-link">Code Club UK</a></li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-10">
              &copy; Code Club World Limited 2012–2016.
              All Rights Reserved.
              Company No. 081440247
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2">
              <ul class="o-footer__social-list">
                <li class="o-footer__social-list-item">
                  <a class="o-footer__social-list-link" href="#">
                    <span class="c-icon c-icon--social-facebook c-icon--white"></span>
                  </a>
                </li>
                <li class="o-footer__social-list-item">
                  <a class="o-footer__social-list-link" href="#">
                    <span class="c-icon c-icon--social-google c-icon--white"></span>
                  </a>
                </li>
                <li class="o-footer__social-list-item">
                  <a class="o-footer__social-list-link" href="#">
                    <span class="c-icon c-icon--social-twitter c-icon--white"></span>
                  </a>
                </li>
                <li class="o-footer__social-list-item">
                  <a class="o-footer__social-list-link" href="#">
                    <span class="c-icon c-icon--social-youtube c-icon--white"></span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
    </footer>
  </div>

  <code class="sg-example__code">
    &lt;footer class="o-footer"&gt;<br>
    &nbsp;&nbsp;&lt;div class="container"&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="row"&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="col-xs-6 col-sm-6 col-md-3"&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;p class="o-footer__heading"&gt;About&lt;/p&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;ul class="o-footer__list"&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li class="o-footer__list-item"&gt;&lt;a href="#" class="o-footer__list-link"&gt;About Code Club&lt;/a&gt;&lt;/li&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li class="o-footer__list-item"&gt;&lt;a href="#" class="o-footer__list-link"&gt;Creating a Code Club&lt;/a&gt;&lt;/li&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li class="o-footer__list-item"&gt;&lt;a href="#" class="o-footer__list-link"&gt;Becoming a Coordinator&lt;/a&gt;&lt;/li&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/ul&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="col-xs-6 col-sm-6 col-md-3"&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;p class="o-footer__heading"&gt;Support Code Club&lt;/p&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;ul class="o-footer__list"&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li class="o-footer__list-item"&gt;&lt;a href="#" class="o-footer__list-link"&gt;Donate&lt;/a&gt;&lt;/li&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li class="o-footer__list-item"&gt;&lt;a href="#" class="o-footer__list-link"&gt;Shop&lt;/a&gt;&lt;/li&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/ul&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="col-xs-6 col-sm-6 col-md-3"&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;p class="o-footer__heading"&gt;Help&lt;/p&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;ul class="o-footer__list"&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li class="o-footer__list-item"&gt;&lt;a href="#" class="o-footer__list-link"&gt;FAQ&lt;/a&gt;&lt;/li&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li class="o-footer__list-item"&gt;&lt;a href="#" class="o-footer__list-link"&gt;Terms of Service&lt;/a&gt;&lt;/li&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/ul&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="col-xs-6 col-sm-6 col-md-3"&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;p class="o-footer__heading"&gt;Useful Links&lt;/p&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;ul class="o-footer__list"&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li class="o-footer__list-item"&gt;&lt;a href="#" class="o-footer__list-link"&gt;Code Club Projects&lt;/a&gt;&lt;/li&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li class="o-footer__list-item"&gt;&lt;a href="#" class="o-footer__list-link"&gt;Download Scrach 2&lt;/a&gt;&lt;/li&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li class="o-footer__list-item"&gt;&lt;a href="#" class="o-footer__list-link"&gt;Code Club World on Github&lt;/a&gt;&lt;/li&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li class="o-footer__list-item"&gt;&lt;a href="#" class="o-footer__list-link"&gt;Code Club UK&lt;/a&gt;&lt;/li&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/ul&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="row"&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="col-xs-12 col-sm-12 col-md-10"&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&copy; Code Club World Limited 2012–2016.<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;All Rights Reserved.<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Company No. 081440247<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="col-xs-12 col-sm-12 col-md-2"&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;ul class="o-footer__social-list"&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li class="o-footer__social-list-item"&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;a class="o-footer__social-list-link" href="#"&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &lt;span class="c-icon c-icon--social-facebook c-icon--white"&gt;&lt;/span&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/a&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/li&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li class="o-footer__social-list-item"&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;a class="o-footer__social-list-link" href="#"&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &lt;span class="c-icon c-icon--social-google c-icon--white"&gt;&lt;/span&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/a&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/li&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li class="o-footer__social-list-item"&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;a class="o-footer__social-list-link" href="#"&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &lt;span class="c-icon c-icon--social-twitter c-icon--white"&gt;&lt;/span&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/a&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/li&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li class="o-footer__social-list-item"&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;a class="o-footer__social-list-link" href="#"&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &lt;span class="c-icon c-icon--social-youtube c-icon--white"&gt;&lt;/span&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/a&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/li&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/ul&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;<br>
    &nbsp;&nbsp;&lt;/div&gt;<br>
    &lt;/footer&gt;
  </code>
</div>
