<div class="content_wrap">

	<ul>
		<li>Should talk about layout of forms (structure, headings, dividers)</li>
	</ul>

	<section class="bubble">
		<form>
			<h3>Basic elements</h3>

			<div>
				<label for="text_input1">Text input</label>
				<input type="text" id="text_input1">
			</div>

			<div>
				<label for="text_input2">Text input with placeholder text</label>
				<input type="text" id="text_input2" placeholder="A simple instruction">
			</div>

			<div>
				<label for="text_input1">A field with a additional info</label>
				<p class="info">If you are a teacher please use your school email address</p>
				<input type="text" id="text_input1">
			</div>

			<div>
				<label for="text_password1">Password</label>
				<input type="password" id="text_password1">
			</div>

			<div>
				<label for="textarea1">Textarea</label>
				<textarea id="textarea1"></textarea>
			</div>

			<div>
				<label for="file1">Upload a file</label>
				<input type="file" id="file1">
			</div>

			<div class="fieldwithbutton">
				<label for="text_button1">Field with button</label>
				<input type="text" id="text_button1">
				<input type="submit" class="button square" value="Press">
			</div>

			<hr><!-- form break -->

			<h3>Error highlighting</h3>

			<div class="message error">
				<p>We can use an area like to to inform the user of various things, in this case, a form error that they may need to scroll down to attend to. Same styling as our under-nav messaging</p>
			</div>

			<div class="error_highlight">
				<label for="text_input1">Email address</label>
				<input type="text" id="text_input1" value="greg@codeclub">
				<div class="error_content_wrap">
					<div class="error_content">
						Please enter a valid email address
					</div>
				</div>
			</div>
	  </form>
	</section>

	<section class="bubble">
		<form>
			<h3>More advanced elements</h3>

			<div>
				<label>Select one from a list</label>

				<div class="checklist">
        	<ul>
          	<li>
          		<input id="checklist1" type="radio" name="checklist1">
          		<label class="collection_radio_buttons" for="checklist1">Yes</label>
          	</li>

          	<li>
          		<input id="checklist2" type="radio" name="checklist1">
          		<label class="collection_radio_buttons" for="checklist2">No</label>
         		</li>
        	</ul>
        </div>
			</div>

			<div>
				<label>Select multiples from a list</label>

				<div class="checklist">
        	<ul>
          	<li>
          		<input id="multi_checklist1" type="checkbox" name="checklist2">
          		<label class="collection_radio_buttons" for="multi_checklist1">Yes</label>
          	</li>

          	<li>
          		<input id="multi_checklist2" type="checkbox" name="checklist2">
          		<label class="collection_radio_buttons" for="multi_checklist2">No</label>
         		</li>
        	</ul>
        </div>
			</div>

			<div>
				<label>Select one option dropdown</label>

        <div class="field_dropdown">
					<h4 class="toggle">Select one</h4>

          <ul class="checklist">
						<li>
							<input id="dropdown1" type="radio" name="dropdown">
							<label for="dropdown1" class="collection_radio_buttons">Select this option</label>
						</li>

          	<li>
							<input id="dropdown2" type="radio" name="dropdown">
							<label for="dropdown2" class="collection_radio_buttons">Select an option</label>
						</li>

          	<li>
							<input id="dropdown3" type="radio" name="dropdown">
							<label for="dropdown3" class="collection_radio_buttons">Select another option</label>
						</li>
					</ul>
				</div>
			</div>
		</form>
	</section>

	<section class="bubble">
		<h3>Alternative styles</h3>

		<h4>Label-in text fields</h4>

		<p>Useful for when you want to condense the form layout, like on a login form. Succinct labels must be used.</p>

		<form>
			<div class="label-in">
				<label for="labelin_input1">Email</label>
				<input type="text" id="labelin_input1" placeholder="john@example.com">
			</div>

			<div class="label-in">
				<label for="labelin_input2">Password</label>
	  		<input type="password" id="labelin_input2">
			</div>
		</form>
	</section>

	<section class="bubble">
		<h3>End of form bits</h3>

		<form>
			<div class="submit">
				<input type="submit" value="Submit button">
			</div>

			<div class="smallprint">
				<p>Some small print, By clicking Continue, you acknowledge that you have read and agree to the Code Club Terms & Conditions.</p>
			</div>
		</form>
	</section>
</div>
