<ul>
  <li>Consistent on every Code Club website</li>
  <li>Use the logo anchor to link to the homepage, no need for a separate link</li>
  <li>On handheld devices the menu condenses into a hamburger menu interface (see an <%= link_to 'example page', page_path('layout', 'example-pages') %> for a demo).</li>
</ul>

<div class="sg-example">
  <h3 class="sg-example__heading">Example</h3>

  <div class="sg-example__preview">
    <header class="o-nav">
      <div class="container">
        <div class="row center-sm start-md between-md">
          <div class="col-xs-12 col-sm-12 col-md-3 c-logo">
            <a href="/" class="c-logo__link">
              <img alt="" class="c-logo__image" src="/assets/code-club/images/code-club-logo.svg">
              <div class="c-logo__appendix">Example page</div>
            </a>
          </div>

          <input class="o-nav__toggle-input" id="off-canvas-nav-toggle-input" type="checkbox">
          <label class="o-nav__toggle-label" for="off-canvas-nav-toggle-input"><span></span></label>

          <nav class="o-nav__list-container col-md-9">
            <ul class="o-nav__list">
              <li class="o-nav__item"><a class="o-nav__link" href="#">About</a></li>
              <li class="o-nav__item"><a class="o-nav__link" href="#">Projects</a></li>
              <li class="o-nav__item"><a class="o-nav__link" href="#">Contact</a></li>
              <li class="o-nav__item"><a class="o-nav__link" href="#">Your Club Hub</a></li>
              <li class="o-nav__item"><a class="o-nav__link" href="#">Sign Out</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
  </div>

  <code class="sg-example__code">
    &lt;header class="o-nav"&gt;<br>
    &nbsp;&nbsp;&lt;div class="container"&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="row center-sm start-md between-md"&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="col-xs-12 col-sm-12 col-md-3 c-logo"&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;a href="/" class="c-logo__link"&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;img alt="" class="c-logo__image" src="/assets/code-club/images/code-club-logo.svg"&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;div class="c-logo__appendix"&gt;Example page&lt;/div&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/a&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;<br>
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;input class="o-nav__toggle-input" id="off-canvas-nav-toggle-input" type="checkbox"&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;label class="o-nav__toggle-label" for="off-canvas-nav-toggle-input"&gt;&lt;span&gt;&lt;/span&gt;&lt;/label&gt;<br>
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;nav class="o-nav__list-container col-md-9"&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;ul class="o-nav__list"&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li class="o-nav__item"&gt;&lt;a class="o-nav__link" href="#"&gt;About&lt;/a&gt;&lt;/li&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li class="o-nav__item"&gt;&lt;a class="o-nav__link" href="#"&gt;Projects&lt;/a&gt;&lt;/li&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li class="o-nav__item"&gt;&lt;a class="o-nav__link" href="#"&gt;Contact&lt;/a&gt;&lt;/li&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li class="o-nav__item"&gt;&lt;a class="o-nav__link" href="#"&gt;Your Club Hub&lt;/a&gt;&lt;/li&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li class="o-nav__item"&gt;&lt;a class="o-nav__link" href="#"&gt;Sign Out&lt;/a&gt;&lt;/li&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/ul&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/nav&gt;<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&lt;/div&gt;<br>
    &nbsp;&nbsp;&lt;/div&gt;<br>
    &lt;/header&gt;
  </code>
</div>
