<ul>
  <li>Consistent on every Code Club website</li>
  <li>Use the logo anchor to link to the homepage, no need for a separate link</li>
  <li>On handheld devices the menu condenses into a hamburger menu interface (see an <%= link_to 'example page', page_path('layout', 'example-pages') %> for a demo).</li>
</ul>

<%= render_example do %>
<%= render :partial => '_components/nav' %>
<% end %>
