<div class="sg-panel">
  <h2>Types of Navigation</h2>

  <p>There are three different types of navigation menus that can be employed:</p>

  <dl class="c-def-list">
    <dt class="c-def-list__term">Primary navigation</dt>
    <dd class="c-def-list__definition">Top-level site-wide navigation; always present at the very top of every page. Also houses the Code Club logo.</dd>
    <dt class="c-def-list__term">Section navigation</dt>
    <dd class="c-def-list__definition">In-section navigation; for providing links to sub-pages within a section (eg in the About section, there may be sub-pages for Team, Contact &amp; Jobs)</dd>
    <dt class="c-def-list__term">Menu navigation</dt>
    <dd class="c-def-list__definition">Navigation for screens using the <%= link_to("menu layout", page_path('structure', 'layout')) %></dd>
  </dl>

  <h3>Primary navigation</h3>

  <ul>
    <li>Consistent on every Code Club website</li>
    <li>Use the logo anchor to link to the homepage, no need for a link</li>
    <li>On handheld devices the menu condenses into a hamburger menu interface, which when triggered slides the menu in from the left</li>
    <li>Use only one instance of the emphasis style if required</li>
  </ul>

  <div class="sg-example">
    <h3 class="sg-example__heading">Example</h3>

    <div class="sg-example__preview">
      <header class="o-banner" role="banner">
        <div class="o-banner__inner">
          <figure class="c-logo">
    				<a href="#" class="c-logo__link">
    					<img src="/assets/code_club/images/code-club-logo.svg" alt="" class="c-logo__image">
    					<figcaption class="c-logo__appendix">United Kingdom</figcaption>
    				</a>
    			</figure>

          <nav class="o-nav" role="navigation">
            <ul class="o-nav__list">
              <li class="o-nav__item"><a class="o-nav__link" href="#">About</a></li>
              <li class="o-nav__item"><a class="o-nav__link" href="#">Projects</a></li>
              <li class="o-nav__item"><a class="o-nav__link is-current" href="#">Contact</a></li>
              <li class="o-nav__item"><a class="o-nav__link" href="#">Your Club Hub</a></li>
              <li class="o-nav__item"><a class="o-nav__link c-button c-button--hollow c-button--green" href="#">Sign Out</a></li>
            </ul>
          </nav>
        </div>
      </header>
    </div>

    <code class="sg-example__code">
      &lt;header class="o-banner" role="banner"&gt;<br>
      &nbsp;&nbsp;&lt;div class="o-banner__inner"&gt;<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&lt;figure class="c-logo"&gt;<br>
    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;a href="#" class="c-logo__link"&gt;<br>
    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;img alt="" class="c-logo__image" src="/assets/code_club/images/code-club-logo.svg"&gt;<br>
    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;figcaption class="c-logo__appendix"&gt;United Kingdom&lt;/figcaption&gt;<br>
    	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/a&gt;<br>
    	&nbsp;&nbsp;&nbsp;&nbsp;&lt;/figure&gt;<br>
      <br>
      &nbsp;&nbsp;&nbsp;&nbsp;&lt;nav class="o-nav" role="navigation"&gt;<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;ul class="o-nav__list"&gt;<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li class="o-nav__item"&gt;&lt;a class="o-nav__link" href="#"&gt;About&lt;/a&gt;&lt;/li&gt;<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li class="o-nav__item"&gt;&lt;a class="o-nav__link" href="#"&gt;Projects&lt;/a&gt;&lt;/li&gt;<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li class="o-nav__item"&gt;&lt;a class="o-nav__link is-current" href="#"&gt;Contact&lt;/a&gt;&lt;/li&gt;<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li class="o-nav__item"&gt;&lt;a class="o-nav__link" href="#"&gt;Your Club Hub&lt;/a&gt;&lt;/li&gt;<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;li class="o-nav__item"&gt;&lt;a class="o-nav__link c-button c-button--hollow c-button--green" href="#"&gt;Sign Out&lt;/a&gt;&lt;/li&gt;<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt;/ul&gt;<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&lt;/nav&gt;<br>
      &nbsp;&nbsp;&lt;/header&gt;
    </code>
  </div>
</div>
