.c-grid {
  background-position: center center;
  background-repeat:   no-repeat;
  background-size:     100% auto;
  display:             flex;
  flex-flow:           row wrap;
  justify-content:     space-between;
  margin:              0 auto;
  max-width:           $break-wide;
  padding:             0 5%;
}

  .c-grid--h-start    { justify-content: flex-start;    }
  .c-grid--h-center   { justify-content: center;        }
  .c-grid--h-end      { justify-content: flex-end;      }
  .c-grid--h-between  { justify-content: space-between; }
  .c-grid--h-around   { justify-content: space-around;  }
  .c-grid--v-top      { align-items:     flex-start;    }
  .c-grid--v-center   { align-items:     center;        }
  .c-grid--v-bottom   { align-items:     flex-end;      }
  .c-grid--v-stretch  { align-items:     stretch;       }
  .c-grid--v-baseline { align-items:     baseline;      }

  .c-col {
    flex:          1 0 100%;
    margin-bottom: 5vw;
    max-width:     100%;
    overflow:      hidden;
  }

    .c-col--top         { align-self:  flex-start; }
    .c-col--center      { align-self:  center;     }
    .c-col--bottom      { align-self:  flex-end;   }
    .c-col--stretch     { align-self:  stretch;    }
    .c-col--baseline    { align-self:  baseline;   }

@include respond-to('narrow') {
  .c-col {
    flex-grow:   0;
    flex-shrink: 1;
    margin:      2vw 2%;
  }

    .c-col--1 {
      flex-basis: 21%;
      max-width:  21%;
    }

    .c-col--2 {
      flex-basis: 29%;
      max-width:  29%;
    }

    .c-col--3,
    .c-col--4 {
      flex-basis: 46%;
      max-width:  46%;
    }

    .c-col--5,
    .c-col--6,
    .c-col--7,
    .c-col--8,
    .c-col--9,
    .c-col--10,
    .c-col--11,
    .c-col--12 {
      flex-basis: 96%;
      max-width:  96%;
    }
}

@include respond-to('regular') {
  .c-grid {
    padding: 0 8%;
  }

    .c-col {
      margin: 1vw 1%;
    }

      .c-col--1  { flex-basis: 6%;    max-width: 6%;    }
      .c-col--2  { flex-basis: 14.5%; max-width: 14.5%; }
      .c-col--3  { flex-basis: 23%;   max-width: 23%;   }
      .c-col--4  { flex-basis: 31%;   max-width: 31%;   }
      .c-col--5  { flex-basis: 39.5%; max-width: 39.5%; }
      .c-col--6  { flex-basis: 48%;   max-width: 48%;   }
      .c-col--7  { flex-basis: 56%;   max-width: 56%;   }
      .c-col--8  { flex-basis: 64.5%; max-width: 64.5%; }
      .c-col--9  { flex-basis: 73%;   max-width: 73%;   }
      .c-col--10 { flex-basis: 81%;   max-width: 81%;   }
      .c-col--11 { flex-basis: 89.5%; max-width: 89.5%; }
      .c-col--12 { flex-basis: 100%;  max-width: 100%;  }
}
