<div class="sg-panel">
  <h2>Block Alerts</h2>

  <p>These sit directly below the primary navigation and are used to notify the user of page-load event, such as a form success or error. They cannot be used with hero blocks.</p>
  <p>Alerts carry four different types of message: Success, information, warning or error. These four states each feature a different colour and a different icon.</p>

  <div class="sg-example">
    <h3 class="sg-example__heading">Example</h3>

    <div class="sg-example__preview">
      <div class="c-alert c-alert--success">
        <span class="c-icon c-icon--small"><img src="/assets/code_club/images/icons/tick-circle-white.svg" alt="" class="c-icon__image"></span>
        This is a success alert.
      </div>

      <div class="c-alert c-alert--info">
        <span class="c-icon c-icon--small"><img src="/assets/code_club/images/icons/info-fill-white.svg" alt="" class="c-icon__image"></span>
        This is an information alert.
      </div>

      <div class="c-alert c-alert--warning">
        <span class="c-icon c-icon--small"><img src="/assets/code_club/images/icons/warning-orange.svg" alt="" class="c-icon__image"></span>
        This is a warning message.
      </div>

      <div class="c-alert c-alert--error">
        <span class="c-icon c-icon--small"><img src="/assets/code_club/images/icons/error-white.svg" alt="" class="c-icon__image"></span>
        This is an error. Please enter the correct information so we can continue.
      </div>
    </div>

    <code class="sg-example__code">
      &lt;div class="c-alert c-alert--success"&gt;<br>
      &nbsp;&nbsp;&lt;span class="c-icon c-icon--small"&gt;<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&lt;img alt="" src="/assets/code_club/images/icons/tick-circle-white.svg" class="c-icon__image"&gt;<br>
      &nbsp;&nbsp;&lt;/span&gt;<br>
      &nbsp;&nbsp;This is a success alert.<br>
      &lt;/div&gt;<br>
      <br>
      &lt;div class="c-alert c-alert--info"&gt;<br>
      &nbsp;&nbsp;&lt;span class="c-icon c-icon--small"&gt;<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&lt;img alt="" src="/assets/code_club/images/icons/info-fill-white.svg" class="c-icon__image"&gt;<br>
      &nbsp;&nbsp;&lt;/span&gt;<br>
      &nbsp;&nbsp;This is an information alert.<br>
      &lt;/div&gt;<br>
      <br>
      &lt;div class="c-alert c-alert--warning"&gt;<br>
      &nbsp;&nbsp;&lt;span class="c-icon c-icon--small"&gt;<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&lt;img alt="" src="/assets/code_club/images/icons/warning-orange.svg" class="c-icon__image"&gt;<br>
      &nbsp;&nbsp;&lt;/span&gt;<br>
      &nbsp;&nbsp;This is a warning message.<br>
      &lt;/div&gt;<br>
      <br>
      &lt;div class="c-alert c-alert--error"&gt;<br>
      &nbsp;&nbsp;&lt;span class="c-icon c-icon--small"&gt;<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&lt;img alt="" src="/assets/code_club/images/icons/error-white.svg" class="c-icon__image"&gt;<br>
      &nbsp;&nbsp;&lt;/span&gt;<br>
      &nbsp;&nbsp;This is an error. Please enter the correct information so we can continue.<br>
      &lt;/div&gt;
    </code>
  </div>

  <hr>

  <h2>Inline Alerts</h2>

  <p>Inline alerts can be used within the content areas, such as in forms. They can be used to highlight a certain requirement or action before the user commits.</p>

  <div class="sg-example">
    <h3 class="sg-example__heading">Example</h3>

    <div class="sg-example__preview">
      <div class="c-alert c-alert--inline c-alert--success">
        <span class="c-icon c-icon--small"><img src="/assets/code_club/images/icons/tick-circle-white.svg" alt="" class="c-icon__image"></span>
        This is a success alert.
      </div>

      <div class="c-alert c-alert--inline c-alert--info">
        <span class="c-icon c-icon--small"><img src="/assets/code_club/images/icons/info-fill-white.svg" alt="" class="c-icon__image"></span>
        This is an information alert.
      </div>

      <div class="c-alert c-alert--inline c-alert--warning">
        <span class="c-icon c-icon--small"><img src="/assets/code_club/images/icons/warning-orange.svg" alt="" class="c-icon__image"></span>
        This is a warning message.
      </div>

      <div class="c-alert c-alert--inline c-alert--error">
        <span class="c-icon c-icon--small"><img src="/assets/code_club/images/icons/error-white.svg" alt="" class="c-icon__image"></span>
        This is an error. Please enter the correct information so we can continue.
      </div>
    </div>

    <code class="sg-example__code">
      &lt;div class="c-alert c-alert--inline c-alert--success"&gt;<br>
      &nbsp;&nbsp;&lt;span class="c-icon c-icon--small"&gt;<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&lt;img alt="" src="/assets/code_club/images/icons/tick-circle-white.svg" class="c-icon__image"&gt;<br>
      &nbsp;&nbsp;&lt;/span&gt;<br>
      &nbsp;&nbsp;This is a success alert.<br>
      &lt;/div&gt;<br>
      <br>
      &lt;div class="c-alert c-alert--inline c-alert--info"&gt;<br>
      &nbsp;&nbsp;&lt;span class="c-icon c-icon--small"&gt;<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&lt;img alt="" src="/assets/code_club/images/icons/info-fill-white.svg" class="c-icon__image"&gt;<br>
      &nbsp;&nbsp;&lt;/span&gt;<br>
      &nbsp;&nbsp;This is an information alert.<br>
      &lt;/div&gt;<br>
      <br>
      &lt;div class="c-alert c-alert--inline c-alert--warning"&gt;<br>
      &nbsp;&nbsp;&lt;span class="c-icon c-icon--small"&gt;<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&lt;img alt="" src="/assets/code_club/images/icons/warning-orange.svg" class="c-icon__image"&gt;<br>
      &nbsp;&nbsp;&lt;/span&gt;<br>
      &nbsp;&nbsp;This is a warning message.<br>
      &lt;/div&gt;<br>
      <br>
      &lt;div class="c-alert c-alert--inline c-alert--error"&gt;<br>
      &nbsp;&nbsp;&lt;span class="c-icon c-icon--small"&gt;<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&lt;img alt="" src="/assets/code_club/images/icons/error-white.svg" class="c-icon__image"&gt;<br>
      &nbsp;&nbsp;&lt;/span&gt;<br>
      &nbsp;&nbsp;This is an error. Please enter the correct information so we can continue.<br>
      &lt;/div&gt;
    </code>
  </div>
</div>
