<%= section_header('What are they for?') %>

<p>
  Badges are used to highlight a particular piece of meta data relating to a bigger object. Think of when you have unread
  notifications on a mobile app, when your device will mark the app's icon with a badge containing the number of unread notifications.
</p>

<p>
  We also use badges to denote the state of a Code Club, to show that they either pending activation, or active. You may find other uses.
  They come in a variety of colors, but only one size.
</p>

<%= render_example do %>
<% colors[:palette].each do |name, value| %>
<p><span class="c-badge c-badge--<%= name %>"><%= name %></span></p>
<% end %>
<% end %>
