<div class="sg-panel">
  <ul>
    <li>Should advice on button language (instead of using "Submit" or "Done", use "Contact host" or "Request session")</li>
    <li>We should prioritise these button styles; eg solid green is a page's primary action, inverted colours is the standard button, etc)</li>
  </ul>

	<div class="sg-example">
		<h3 class="sg-example__heading">Example</h3>

		<p><button class="c-button" type="submit">Button</button></p>
		<p><a class="c-button" href="#">Button as Link</a></p>

		<code class="sg-example__code">
			&lt;p&gt;&lt;button class="c-button" type="submit"&gt;Button&lt;/button&gt;&lt;/p&gt;<br>
			&lt;p&gt;&lt;a class="c-button" href="#"&gt;Button as Link&lt;/a&gt;&lt;/p&gt;
		</code>
	</div>

	<hr>

	<h2>Colouring Buttons</h2>

	<p>Buttons can be styled with any colour in the palette. Be careful to have appropriate contrast between the color of the button and its background.</p>

	<div class="sg-example">
		<h3 class="sg-example__heading">Example</h3>

		<p><button class="c-button c-button--grey"          type="submit">Grey Button</button></p>
		<p><button class="c-button c-button--grey-med"      type="submit">Grey Med Button</button></p>
		<p><button class="c-button c-button--grey-light"    type="submit">Grey Light Button</button></p>
		<p><button class="c-button c-button--grey-x-light"  type="submit">Grey Lighter Button</button></p>
		<p><button class="c-button c-button--grey-xx-light" type="submit">Grey Lightest Button</button></p>
		<p><button class="c-button c-button--red"           type="submit">Red Button</button></p>
		<p><button class="c-button c-button--red-light"     type="submit">Red Light Button</button></p>
		<p><button class="c-button c-button--red-dark"      type="submit">Red Dark Button</button></p>
		<p><button class="c-button c-button--blue"          type="submit">Blue Button</button></p>
		<p><button class="c-button c-button--blue-light"    type="submit">Blue Light Button</button></p>
		<p><button class="c-button c-button--blue-dark"     type="submit">Blue Dark Button</button></p>
		<p><button class="c-button c-button--green"         type="submit">Green Button</button></p>
		<p><button class="c-button c-button--green-light"   type="submit">Green Light Button</button></p>
		<p><button class="c-button c-button--green-dark"    type="submit">Green Dark Button</button></p>
		<p><button class="c-button c-button--yellow"        type="submit">Yellow Button</button></p>
		<p><button class="c-button c-button--yellow-light"  type="submit">Yellow Light Button</button></p>
		<p><button class="c-button c-button--yellow-dark"   type="submit">Yellow Dark Button</button></p>

		<code class="sg-example__code">
			&lt;p&gt;&lt;button class="c-button c-button--grey"          type="submit"&gt;Grey Button&lt;/button&gt;&lt;/p&gt;<br>
			&lt;p&gt;&lt;button class="c-button c-button--grey-med"      type="submit"&gt;Grey Med Button&lt;/button&gt;&lt;/p&gt;<br>
			&lt;p&gt;&lt;button class="c-button c-button--grey-light"    type="submit"&gt;Grey Light Button&lt;/button&gt;&lt;/p&gt;<br>
			&lt;p&gt;&lt;button class="c-button c-button--grey-x-light"  type="submit"&gt;Grey Lighter Button&lt;/button&gt;&lt;/p&gt;<br>
			&lt;p&gt;&lt;button class="c-button c-button--grey-xx-light" type="submit"&gt;Grey Lightest Button&lt;/button&gt;&lt;/p&gt;<br>
			&lt;p&gt;&lt;button class="c-button c-button--red"           type="submit"&gt;Red Button&lt;/button&gt;&lt;/p&gt;<br>
			&lt;p&gt;&lt;button class="c-button c-button--red-light"     type="submit"&gt;Red Light Button&lt;/button&gt;&lt;/p&gt;<br>
			&lt;p&gt;&lt;button class="c-button c-button--red-dark"      type="submit"&gt;Red Dark Button&lt;/button&gt;&lt;/p&gt;<br>
			&lt;p&gt;&lt;button class="c-button c-button--blue"          type="submit"&gt;Blue Button&lt;/button&gt;&lt;/p&gt;<br>
			&lt;p&gt;&lt;button class="c-button c-button--blue-light"    type="submit"&gt;Blue Light Button&lt;/button&gt;&lt;/p&gt;<br>
			&lt;p&gt;&lt;button class="c-button c-button--blue-dark"     type="submit"&gt;Blue Dark Button&lt;/button&gt;&lt;/p&gt;<br>
			&lt;p&gt;&lt;button class="c-button c-button--green"         type="submit"&gt;Green Button&lt;/button&gt;&lt;/p&gt;<br>
			&lt;p&gt;&lt;button class="c-button c-button--green-light"   type="submit"&gt;Green Light Button&lt;/button&gt;&lt;/p&gt;<br>
			&lt;p&gt;&lt;button class="c-button c-button--green-dark"    type="submit"&gt;Green Dark Button&lt;/button&gt;&lt;/p&gt;<br>
			&lt;p&gt;&lt;button class="c-button c-button--yellow"        type="submit"&gt;Yellow Button&lt;/button&gt;&lt;/p&gt;<br>
			&lt;p&gt;&lt;button class="c-button c-button--yellow-light"  type="submit"&gt;Yellow Light Button&lt;/button&gt;&lt;/p&gt;<br>
			&lt;p&gt;&lt;button class="c-button c-button--yellow-dark"   type="submit"&gt;Yellow Dark Button&lt;/button&gt;&lt;/p&gt;
		</code>
	</div>

	<hr>

	<h2>Hollow Buttons</h2>

	<div class="sg-example">
		<h3 class="sg-example__heading">Example</h3>

		<p><button class="c-button c-button--hollow c-button--grey"          type="submit">Grey Button</button></p>
		<p><button class="c-button c-button--hollow c-button--grey-med"      type="submit">Grey Med Button</button></p>
		<p><button class="c-button c-button--hollow c-button--grey-light"    type="submit">Grey Light Button</button></p>
		<p><button class="c-button c-button--hollow c-button--grey-x-light"  type="submit">Grey Lighter Button</button></p>
		<p><button class="c-button c-button--hollow c-button--grey-xx-light" type="submit">Grey Lightest Button</button></p>
		<p><button class="c-button c-button--hollow c-button--red"           type="submit">Red Button</button></p>
		<p><button class="c-button c-button--hollow c-button--red-light"     type="submit">Red Light Button</button></p>
		<p><button class="c-button c-button--hollow c-button--red-dark"      type="submit">Red Dark Button</button></p>
		<p><button class="c-button c-button--hollow c-button--blue"          type="submit">Blue Button</button></p>
		<p><button class="c-button c-button--hollow c-button--blue-light"    type="submit">Blue Light Button</button></p>
		<p><button class="c-button c-button--hollow c-button--blue-dark"     type="submit">Blue Dark Button</button></p>
		<p><button class="c-button c-button--hollow c-button--green"         type="submit">Green Button</button></p>
		<p><button class="c-button c-button--hollow c-button--green-light"   type="submit">Green Light Button</button></p>
		<p><button class="c-button c-button--hollow c-button--green-dark"    type="submit">Green Dark Button</button></p>
		<p><button class="c-button c-button--hollow c-button--yellow"        type="submit">Yellow Button</button></p>
		<p><button class="c-button c-button--hollow c-button--yellow-light"  type="submit">Yellow Light Button</button></p>
		<p><button class="c-button c-button--hollow c-button--yellow-dark"   type="submit">Yellow Dark Button</button></p>

		<code class="sg-example__code">
			&lt;p&gt;&lt;button class="c-button c-button-hollow c-button--grey"          type="submit"&gt;Grey Button&lt;/button&gt;&lt;/p&gt;<br>
			&lt;p&gt;&lt;button class="c-button c-button-hollow c-button--grey-med"      type="submit"&gt;Grey Med Button&lt;/button&gt;&lt;/p&gt;<br>
			&lt;p&gt;&lt;button class="c-button c-button-hollow c-button--grey-light"    type="submit"&gt;Grey Light Button&lt;/button&gt;&lt;/p&gt;<br>
			&lt;p&gt;&lt;button class="c-button c-button-hollow c-button--grey-x-light"  type="submit"&gt;Grey Lighter Button&lt;/button&gt;&lt;/p&gt;<br>
			&lt;p&gt;&lt;button class="c-button c-button-hollow c-button--grey-xx-light" type="submit"&gt;Grey Lightest Button&lt;/button&gt;&lt;/p&gt;<br>
			&lt;p&gt;&lt;button class="c-button c-button-hollow c-button--red"           type="submit"&gt;Red Button&lt;/button&gt;&lt;/p&gt;<br>
			&lt;p&gt;&lt;button class="c-button c-button-hollow c-button--red-light"     type="submit"&gt;Red Light Button&lt;/button&gt;&lt;/p&gt;<br>
			&lt;p&gt;&lt;button class="c-button c-button-hollow c-button--red-dark"      type="submit"&gt;Red Dark Button&lt;/button&gt;&lt;/p&gt;<br>
			&lt;p&gt;&lt;button class="c-button c-button-hollow c-button--blue"          type="submit"&gt;Blue Button&lt;/button&gt;&lt;/p&gt;<br>
			&lt;p&gt;&lt;button class="c-button c-button-hollow c-button--blue-light"    type="submit"&gt;Blue Light Button&lt;/button&gt;&lt;/p&gt;<br>
			&lt;p&gt;&lt;button class="c-button c-button-hollow c-button--blue-dark"     type="submit"&gt;Blue Dark Button&lt;/button&gt;&lt;/p&gt;<br>
			&lt;p&gt;&lt;button class="c-button c-button-hollow c-button--green"         type="submit"&gt;Green Button&lt;/button&gt;&lt;/p&gt;<br>
			&lt;p&gt;&lt;button class="c-button c-button-hollow c-button--green-light"   type="submit"&gt;Green Light Button&lt;/button&gt;&lt;/p&gt;<br>
			&lt;p&gt;&lt;button class="c-button c-button-hollow c-button--green-dark"    type="submit"&gt;Green Dark Button&lt;/button&gt;&lt;/p&gt;<br>
			&lt;p&gt;&lt;button class="c-button c-button-hollow c-button--yellow"        type="submit"&gt;Yellow Button&lt;/button&gt;&lt;/p&gt;<br>
			&lt;p&gt;&lt;button class="c-button c-button-hollow c-button--yellow-light"  type="submit"&gt;Yellow Light Button&lt;/button&gt;&lt;/p&gt;<br>
			&lt;p&gt;&lt;button class="c-button c-button-hollow c-button--yellow-dark"   type="submit"&gt;Yellow Dark Button&lt;/button&gt;&lt;/p&gt;
		</code>
	</div>

	<hr>

	<h2>Miscellaneous Button Options</h2>

	<p>Buttons can contain icons, dim when disbaled, can have a more squared border radius, and have a couple of sizing options too.</p>
	<p>These styles can be mixed-and-matched in a variety of configurations.</p>

	<div class="sg-example">
		<h3 class="sg-example__heading">Example</h3>

		<p>
			<button class="c-button">
				<span class="c-icon">
					<%= image_tag "images/icons/calender_white.svg", :alt => '', :class => 'c-icon__image' %>
				</span>
				Button with an icon
			</button>
		</p>
	  <p><a class="c-button c-button--green c-button--disabled" href="#">Disabled button</a></p>
	  <p><a class="c-button c-button--blue c-button--squared" href="#">A squared button</a></p>
		<p><a class="c-button c-button--red c-button--large" href="#">A large button</a></p>
		<p><a class="c-button c-button--grey c-button--x-large" href="#">An extra large button</a></p>

		<pre><code class="sg-example__code">
			<p>
				<button class="c-button">
					<span class="c-icon">
						<%= image_tag "images/icons/calender_white.svg", :alt => '', :class => 'c-icon__image' %>
					</span>
					Button with an icon
				</button>
			</p>
		  <p><a class="c-button c-button--green c-button--disabled" href="#">Disabled button</a></p>
		  <p><a class="c-button c-button--blue c-button--squared" href="#">A squared button</a></p>
			<p><a class="c-button c-button--red c-button--large" href="#">A large button</a></p>
			<p><a class="c-button c-button--grey c-button--x-large" href="#">An extra large button</a></p>
		</code></pre>
	</div>

</div>
