<div class="sg-panel">
  <ul>
    <li>Should advice on button language (instead of using "Submit" or "Done", use "Contact host" or "Request session")</li>
    <li>We should prioritise these button styles; eg solid green is a page's primary action, inverted colours is the standard button, etc)</li>
  </ul>

	<div class="sg-example">
		<h3 class="sg-example__heading">Example</h3>

    <div class="sg-example__preview">
  		<p><button class="c-button" type="submit">Button</button></p>
  		<p><a class="c-button" href="#">Button as Link</a></p>
    </div>

		<code class="sg-example__code">
			&lt;button class="c-button" type="submit"&gt;Button&lt;/button&gt;<br>
			&lt;a class="c-button" href="#"&gt;Button as Link&lt;/a&gt;
		</code>
	</div>

	<hr>

	<h2>Colouring Buttons</h2>

	<p>Buttons can be styled with any colour in the palette. Be careful to have appropriate contrast between the color of the button and its background.</p>

	<div class="sg-example">
		<h3 class="sg-example__heading">Example</h3>

    <div class="sg-example__preview">
  		<p><button class="c-button c-button--grey" type="submit">Grey Button</button></p>
  		<p><button class="c-button c-button--grey-med" type="submit">Grey Med Button</button></p>
  		<p><button class="c-button c-button--grey-light" type="submit">Grey Light Button</button></p>
  		<p><button class="c-button c-button--grey-x-light" type="submit">Grey Lighter Button</button></p>
  		<p><button class="c-button c-button--grey-xx-light" type="submit">Grey Lightest Button</button></p>
  		<p><button class="c-button c-button--red" type="submit">Red Button</button></p>
  		<p><button class="c-button c-button--red-light" type="submit">Red Light Button</button></p>
  		<p><button class="c-button c-button--red-dark" type="submit">Red Dark Button</button></p>
  		<p><button class="c-button c-button--blue" type="submit">Blue Button</button></p>
  		<p><button class="c-button c-button--blue-light" type="submit">Blue Light Button</button></p>
  		<p><button class="c-button c-button--blue-dark" type="submit">Blue Dark Button</button></p>
  		<p><button class="c-button c-button--green" type="submit">Green Button</button></p>
  		<p><button class="c-button c-button--green-light" type="submit">Green Light Button</button></p>
  		<p><button class="c-button c-button--green-dark" type="submit">Green Dark Button</button></p>
  		<p><button class="c-button c-button--yellow" type="submit">Yellow Button</button></p>
  		<p><button class="c-button c-button--yellow-light" type="submit">Yellow Light Button</button></p>
  		<p><button class="c-button c-button--yellow-dark" type="submit">Yellow Dark Button</button></p>
    </div>

		<code class="sg-example__code">
			&lt;button class="c-button c-button--grey" type="submit"&gt;<br>
      &nbsp;&nbsp;Grey Button<br>
      &lt;/button&gt;<br>
			&lt;button class="c-button c-button--grey-med" type="submit"&gt;<br>
      &nbsp;&nbsp;Grey Med Button<br>
      &lt;/button&gt;<br>
			&lt;button class="c-button c-button--grey-light" type="submit"&gt;<br>
      &nbsp;&nbsp;Grey Light Button<br>
      &lt;/button&gt;<br>
			&lt;button class="c-button c-button--grey-x-light" type="submit"&gt;<br>
      &nbsp;&nbsp;Grey Lighter Button<br>
      &lt;/button&gt;<br>
			&lt;button class="c-button c-button--grey-xx-light" type="submit"&gt;<br>
      &nbsp;&nbsp;Grey Lightest Button<br>
      &lt;/button&gt;<br>
			&lt;button class="c-button c-button--red" type="submit"&gt;<br>
      &nbsp;&nbsp;Red Button<br>
      &lt;/button&gt;<br>
			&lt;button class="c-button c-button--red-light" type="submit"&gt;<br>
      &nbsp;&nbsp;Red Light Button<br>
      &lt;/button&gt;<br>
			&lt;button class="c-button c-button--red-dark" type="submit"&gt;<br>
      &nbsp;&nbsp;Red Dark Button<br>
      &lt;/button&gt;<br>
			&lt;button class="c-button c-button--blue" type="submit"&gt;<br>
      &nbsp;&nbsp;Blue Button<br>
      &lt;/button&gt;<br>
			&lt;button class="c-button c-button--blue-light" type="submit"&gt;<br>
      &nbsp;&nbsp;Blue Light Button<br>
      &lt;/button&gt;<br>
			&lt;button class="c-button c-button--blue-dark" type="submit"&gt;<br>
      &nbsp;&nbsp;Blue Dark Button<br>
      &lt;/button&gt;<br>
			&lt;button class="c-button c-button--green" type="submit"&gt;<br>
      &nbsp;&nbsp;Green Button<br>
      &lt;/button&gt;<br>
			&lt;button class="c-button c-button--green-light" type="submit"&gt;<br>
      &nbsp;&nbsp;Green Light Button<br>
      &lt;/button&gt;<br>
			&lt;button class="c-button c-button--green-dark" type="submit"&gt;<br>
      &nbsp;&nbsp;Green Dark Button<br>
      &lt;/button&gt;<br>
			&lt;button class="c-button c-button--yellow" type="submit"&gt;<br>
      &nbsp;&nbsp;Yellow Button<br>
      &lt;/button&gt;<br>
			&lt;button class="c-button c-button--yellow-light" type="submit"&gt;<br>
      &nbsp;&nbsp;Yellow Light Button<br>
      &lt;/button&gt;<br>
			&lt;button class="c-button c-button--yellow-dark" type="submit"&gt;<br>
      &nbsp;&nbsp;Yellow Dark Button<br>
      &lt;/button&gt;
		</code>
	</div>

	<hr>

	<h2>Hollow Buttons</h2>

	<div class="sg-example">
		<h3 class="sg-example__heading">Example</h3>

    <div class="sg-example__preview">
  		<p><button class="c-button c-button--hollow c-button--grey" type="submit">Grey Button</button></p>
  		<p><button class="c-button c-button--hollow c-button--grey-med" type="submit">Grey Med Button</button></p>
  		<p><button class="c-button c-button--hollow c-button--grey-light" type="submit">Grey Light Button</button></p>
  		<p><button class="c-button c-button--hollow c-button--grey-x-light" type="submit">Grey Lighter Button</button></p>
  		<p><button class="c-button c-button--hollow c-button--grey-xx-light" type="submit">Grey Lightest Button</button></p>
  		<p><button class="c-button c-button--hollow c-button--red" type="submit">Red Button</button></p>
  		<p><button class="c-button c-button--hollow c-button--red-light" type="submit">Red Light Button</button></p>
  		<p><button class="c-button c-button--hollow c-button--red-dark" type="submit">Red Dark Button</button></p>
  		<p><button class="c-button c-button--hollow c-button--blue" type="submit">Blue Button</button></p>
  		<p><button class="c-button c-button--hollow c-button--blue-light" type="submit">Blue Light Button</button></p>
  		<p><button class="c-button c-button--hollow c-button--blue-dark" type="submit">Blue Dark Button</button></p>
  		<p><button class="c-button c-button--hollow c-button--green" type="submit">Green Button</button></p>
  		<p><button class="c-button c-button--hollow c-button--green-light" type="submit">Green Light Button</button></p>
  		<p><button class="c-button c-button--hollow c-button--green-dark" type="submit">Green Dark Button</button></p>
  		<p><button class="c-button c-button--hollow c-button--yellow" type="submit">Yellow Button</button></p>
  		<p><button class="c-button c-button--hollow c-button--yellow-light" type="submit">Yellow Light Button</button></p>
  		<p><button class="c-button c-button--hollow c-button--yellow-dark" type="submit">Yellow Dark Button</button></p>
    </div>

		<code class="sg-example__code">
			&lt;button class="c-button c-button-hollow c-button--grey" type="submit"&gt;<br>
      &nbsp;&nbsp;Grey Button<br>
      &lt;/button&gt;<br>
			&lt;button class="c-button c-button-hollow c-button--grey-med" type="submit"&gt;<br>
      &nbsp;&nbsp;Grey Med Button<br>
      &lt;/button&gt;<br>
			&lt;button class="c-button c-button-hollow c-button--grey-light" type="submit"&gt;<br>
      &nbsp;&nbsp;Grey Light Button<br>
      &lt;/button&gt;<br>
			&lt;button class="c-button c-button-hollow c-button--grey-x-light" type="submit"&gt;<br>
      &nbsp;&nbsp;Grey Lighter Button<br>
      &lt;/button&gt;<br>
			&lt;button class="c-button c-button-hollow c-button--grey-xx-light" type="submit"&gt;<br>
      &nbsp;&nbsp;Grey Lightest Button<br>
      &lt;/button&gt;<br>
			&lt;button class="c-button c-button-hollow c-button--red" type="submit"&gt;<br>
      &nbsp;&nbsp;Red Button<br>
      &lt;/button&gt;<br>
			&lt;button class="c-button c-button-hollow c-button--red-light" type="submit"&gt;<br>
      &nbsp;&nbsp;Red Light Button<br>
      &lt;/button&gt;<br>
			&lt;button class="c-button c-button-hollow c-button--red-dark" type="submit"&gt;<br>
      &nbsp;&nbsp;Red Dark Button<br>
      &lt;/button&gt;<br>
			&lt;button class="c-button c-button-hollow c-button--blue" type="submit"&gt;<br>
      &nbsp;&nbsp;Blue Button<br>
      &lt;/button&gt;<br>
			&lt;button class="c-button c-button-hollow c-button--blue-light" type="submit"&gt;<br>
      &nbsp;&nbsp;Blue Light Button<br>
      &lt;/button&gt;<br>
			&lt;button class="c-button c-button-hollow c-button--blue-dark" type="submit"&gt;<br>
      &nbsp;&nbsp;Blue Dark Button<br>
      &lt;/button&gt;<br>
			&lt;button class="c-button c-button-hollow c-button--green" type="submit"&gt;<br>
      &nbsp;&nbsp;Green Button<br>
      &lt;/button&gt;<br>
			&lt;button class="c-button c-button-hollow c-button--green-light" type="submit"&gt;<br>
      &nbsp;&nbsp;Green Light Button<br>
      &lt;/button&gt;<br>
			&lt;button class="c-button c-button-hollow c-button--green-dark" type="submit"&gt;<br>
      &nbsp;&nbsp;Green Dark Button<br>
      &lt;/button&gt;<br>
			&lt;button class="c-button c-button-hollow c-button--yellow" type="submit"&gt;<br>
      &nbsp;&nbsp;Yellow Button<br>
      &lt;/button&gt;<br>
			&lt;button class="c-button c-button-hollow c-button--yellow-light" type="submit"&gt;<br>
      &nbsp;&nbsp;Yellow Light Button<br>
      &lt;/button&gt;<br>
			&lt;button class="c-button c-button-hollow c-button--yellow-dark" type="submit"&gt;<br>
      &nbsp;&nbsp;Yellow Dark Button<br>
      &lt;/button&gt;
		</code>
	</div>

	<hr>

	<h2>Miscellaneous Button Options</h2>

	<p>Buttons can contain icons, dim when disbaled, can have a more squared border radius, and have a couple of sizing options too.</p>
	<p>These styles can be mixed-and-matched in a variety of configurations.</p>

	<div class="sg-example">
		<h3 class="sg-example__heading">Example</h3>

    <div class="sg-example__preview">
  		<p>
  			<button class="c-button">
  				<span class="c-icon">
  					<%= image_tag "images/icons/calender_white.svg", :alt => '', :class => 'c-icon__image' %>
  				</span>
  				Button with an icon
  			</button>
  		</p>
  	  <p><a class="c-button c-button--green c-button--disabled" href="#">Disabled button</a></p>
  	  <p><a class="c-button c-button--blue c-button--squared" href="#">A squared button</a></p>
  		<p><a class="c-button c-button--red c-button--large" href="#">A large button</a></p>
  		<p><a class="c-button c-button--grey c-button--x-large" href="#">An extra large button</a></p>
    </div>

		<code class="sg-example__code">
			&lt;button class="c-button"&gt;<br>
			&nbsp;&nbsp;&lt;span class="c-icon"&gt;<br>
			&nbsp;&nbsp;&nbsp;&nbsp;&lt;img alt="" class="c-icon__image" src="images/icons/calender_white.svg"&gt;<br>
			&nbsp;&nbsp;&lt;/span&gt;<br>
			&nbsp;&nbsp;Button with an icon<br>
			&lt;/button&gt;<br>
		  &lt;a class="c-button c-button--green c-button--disabled" href="#"&gt;<br>
      &nbsp;&nbsp;Disabled button<br>
      &lt;/a&gt;<br>
		  &lt;a class="c-button c-button--blue c-button--squared" href="#"&gt;<br>
      &nbsp;&nbsp;A squared button<br>
      &lt;/a&gt;<br>
			&lt;a class="c-button c-button--red c-button--large" href="#"&gt;<br>
      &nbsp;&nbsp;A large button<br>
      &lt;/a&gt;<br>
			&lt;a class="c-button c-button--grey c-button--x-large" href="#"&gt;<br>
      &nbsp;&nbsp;An extra large button<br>
      &lt;/a&gt;
		</code>
	</div>

</div>
