<h2>Standalone Logomark</h2>

<div class="sg-example">
	<h3 class="sg-example__heading">Example</h3>

	<div class="sg-example__preview">
		<figure class="c-logo">
			<a href="#" class="c-logo__link">
				<img src="/assets/code-club/images/code-club-logo.svg" alt="" class="c-logo__image">
			</a>
		</figure>
	</div>

	<code class="sg-example__code">
		&lt;figure class="c-logo"&gt;<br>
		&nbsp;&nbsp;&lt;a href="#" class="c-logo__link"&gt;<br>
		&nbsp;&nbsp;&nbsp;&nbsp;&lt;img alt="" class="c-logo__image" src="/bower_components/code-club/dist/images/code-club-logo.svg"&gt;<br>
		&nbsp;&nbsp;&lt;/a&gt;<br>
		&lt;/figure&gt;
	</code>
</div>

<hr>

<h2>Logomark with Text</h2>

<div class="sg-example">
	<h3 class="sg-example__heading">Example</h3>

	<div class="sg-example__preview">
		<figure class="c-logo">
			<a href="#" class="c-logo__link">
				<img src="/assets/code-club/images/code-club-logo.svg" alt="" class="c-logo__image">
				<figcaption class="c-logo__appendix">United Kingdom</figcaption>
			</a>
		</figure>
	</div>

	<code class="sg-example__code">
		&lt;figure class="c-logo"&gt;<br>
		&nbsp;&nbsp;&lt;a href="#" class="c-logo__link"&gt;<br>
		&nbsp;&nbsp;&nbsp;&nbsp;img alt="" class="c-logo__image" src="/bower_components/code-club/dist/images/code-club-logo.svg"&gt;<br>
		&nbsp;&nbsp;&nbsp;&nbsp;&lt;figcaption class="c-logo__appendix"&gt;United Kingdom&lt;/figcaption&gt;<br>
		&nbsp;&nbsp;&lt;/a&gt;<br>
		&lt;/figure&gt;
	</code>
</div>

<hr>

<h2>Logomark with Stacked Text</h2>

<div class="sg-example">
	<h3 class="sg-example__heading">Example</h3>

	<div class="sg-example__preview">
		<figure class="c-logo c-logo--stacked">
			<a href="#" class="c-logo__link">
				<img src="/assets/code-club/images/code-club-logo.svg" alt="" class="c-logo__image c-logo__image--stacked">
				<figcaption class="c-logo__appendix c-logo__appendix--stacked">United Kingdom</figcaption>
			</a>
		</figure>
	</div>

	<code class="sg-example__code">
		&lt;figure class="c-logo c-logo--stacked"&gt;<br>
		&nbsp;&nbsp;&lt;a href="#" class="c-logo__link"&gt;<br>
		&nbsp;&nbsp;&nbsp;&nbsp;img alt="" class="c-logo__image c-logo__image--stacked" src="/bower_components/code-club/dist/images/code-club-logo.svg"&gt;<br>
		&nbsp;&nbsp;&nbsp;&nbsp;&lt;figcaption class="c-logo__appendix c-logo__appendix--stacked"&gt;United Kingdom&lt;/figcaption&gt;<br>
		&nbsp;&nbsp;&lt;/a&gt;<br>
		&lt;/figure&gt;
	</code>
</div>
