<div class="c-content-panel">
  <h2>What are they?</h2>

  <p>Content panels are exactly that - panels for your content. In fact, you're looking at one right now. The big white box with rounded corners that surrounds this very sentence and everything alongside it.</p>

	<div class="sg-example">
		<h3 class="sg-example__heading">Example</h3>

    <div class="sg-example__preview">
      <div class="c-content-panel">
        <h4>Content Panel Example</h4>
        <p>Eu senectus commodo vulputate vestibulum id odio mollis vestibulum blandit sapien a volutpat morbi parturient ullamcorper penatibus scelerisque magnis faucibus curabitur consectetur dictumst semper. Sed sociosqu nullam tristique vivamus etiam mi odio velit consectetur in et vestibulum ornare sodales suspendisse bibendum turpis in et curabitur tempus a.</p>
        <p>Scelerisque a a sit ac tellus dignissim porta dis ac scelerisque et phasellus vel a sapien a dapibus inceptos phasellus consectetur felis. Suspendisse volutpat dui adipiscing adipiscing adipiscing ultrices tortor nostra a vehicula eros quisque euismod iaculis a urna amet a a in parturient cubilia elementum.</p>
        <p><a href="#" class="c-button c-button--green">Button</a></p>
      </div>
    </div>

		<code class="sg-example__code">
      &lt;div class="c-content-panel"&gt;<br>
      &nbsp;&nbsp;...<br>
      &lt;/div&gt;
		</code>
	</div>
</div>
