<%= section_header('What are they?') %>

<p>Content panels are exactly that - panels for your content. In fact, you're looking at one right now. The big white box with rounded corners that surrounds this very sentence and everything alongside it.</p>

<%= render_example do %>
<div class="c-content-panel">
  <h4>Content Panel Example</h4>
  <p>Eu senectus commodo vulputate vestibulum id odio mollis vestibulum blandit sapien a volutpat morbi parturient ullamcorper penatibus scelerisque magnis faucibus curabitur consectetur dictumst semper. Sed sociosqu nullam tristique vivamus etiam mi odio velit consectetur in et vestibulum ornare sodales suspendisse bibendum turpis in et curabitur tempus a.</p>
  <p>Scelerisque a a sit ac tellus dignissim porta dis ac scelerisque et phasellus vel a sapien a dapibus inceptos phasellus consectetur felis. Suspendisse volutpat dui adipiscing adipiscing adipiscing ultrices tortor nostra a vehicula eros quisque euismod iaculis a urna amet a a in parturient cubilia elementum.</p>
  <p><a href="#" class="c-button c-button--green">Button</a></p>
</div>
<% end %>

<%= section_header('Instruction panel') %>
<%= render_example do %>
<div class="c-instruction-panel">
  <div class="c-instruction--title-block">
    <img src="/assets/code-club/images/code-club-logo.svg" class="c-instruction--illustration">
    <span class="c-instruction--step">Step 1</span>
    <span class="c-instruction--title">Register</span>
    <span class="c-instruction--duration">10 min</span>
  </div>
  <div class="c-instruction--text-block">
    <span class="c-instruction--summary">
      Eu senectus commodo vulputate vestibulum id odio mollis vestibulum blandit
      sapien a volutpat morbi parturient ullamcorper penatibus scelerisque magnis
      faucibus curabitur consectetur dictumst semper. Sed sociosqu nullam tristique
      vivamus etiam mi odio velit consectetur in et vestibulum ornare sodales suspendisse
      bibendum turpis in et curabitur tempus a.</span>
    <ul class="c-instruction--bullets">
      <li>You need to:</li>
      <li>Submit the registration form</li>
      <li>Complete DBS check</li>
    </ul>
    <ul class="c-instruction--bullets">
      <li>We will provide:</li>
      <li>Resources</li>
    </ul>
  </div>
</div>
<% end %>
