<div class="sg-panel">
	<h2>Basic Form Markup</h2>

	<p>Although it doesn't trigger any currently presentational styles, all forms must begind and end with the following markup.</p>

	<p>
		You'll need to ensure that your form's <code>method</code> and <code>action</code>
		attributes are correct too, and any forms handling file uploads will require the
		<code>enctype="multipart/form-data"</code> attribute to be present too.
	</p>

	<p>You can wrap your form's inner elements in one or more <code>fieldset</code> elements too, like this:</p>

	<div class="sg-example">
		<code class="sg-example__code">
			&lt;form class="c-form"&gt;<br>
			&nbsp;&nbsp;&lt;fieldset class="c-form__fieldset"&gt;<br>
			&nbsp;&nbsp;&nbsp;&nbsp;...<br>
			&nbsp;&nbsp;&lt;/fieldset&gt;<br>
			&lt;/form&gt;
		</code>
	</div>

	<hr>

	<h2>Basic Form Elements</h2>

	<h3>Labels</h3>

	<div class="sg-example">
		<h4 class="sg-example__heading">Example</h4>

		<div class="sg-example__preview">
			<label class="c-form__label">Enter your email address again:</label>
		</div>

		<code class="sg-example__code">
			&lt;label class="c-form__label"&gt;Enter your email address again:&lt;/label&gt;
		</code>
	</div>

	<h3>Basic Input Fields</h3>

	<p>
		This style should be used for any field that accepts a free input of alphanumeric characters. It can
		contain an optional placeholder, where browser support exists.
	</p>

	<div class="sg-example">
		<h4 class="sg-example__heading">Example</h4>

		<div class="sg-example__preview">
			<input class="c-form__input" id="whatevers" name="user[whatevers]" placeholder="example@domain.com" type="text">
		</div>

		<code class="sg-example__code">
			&lt;input class="c-form__input" id="whatevers_input" name="user[whatevers]" placeholder="example@domain.com" type="text"&gt;
		</code>
	</div>

	<h3>Textareas</h3>

	<p>
		When creating your textareas, remember to set the <code>rows</code> and <code>cols</code> attributes to suitable numbers.
		Defining the number of <code>cols</code> is purely in the interests of valid markup, as the style will always stretch to the full width of
		its parent.
	</p>

	<div class="sg-example">
		<h4 class="sg-example__heading">Example</h4>

		<div class="sg-example__preview">
			<textarea class="c-form__textarea" id="whatevers_textarea" name="user[whatevers]" placeholder="Lorem ipsum dolor sit amet..." rows="5" cols="40"></textarea>
		</div>

		<code class="sg-example__code">
			&lt;textarea class="c-form__textarea" id="whatevers_textarea" name="user[whatevers]" placeholder="Lorem ipsum dolor sit amet..." rows="5" cols="40"&gt;&lt;/textarea&gt;
		</code>
	</div>

	<h3>Checkboxes</h3>

	<div class="sg-example">
		<h4 class="sg-example__heading">Example</h4>

		<div class="sg-example__preview">
			<label class="c-form__label">
				<input name="user[terms_accepted]" type="checkbox" value="true" checked="checked">
				Please accept our Terms of Service
			</label>
			<label class="c-form__label">
				<input name="user[newsletter_signup]" type="checkbox" value="true">
				Would you like to subscribe to our newsletter?
			</label>
			<label class="c-form__label">
				<input name="user[other]" type="checkbox" value="true">
				Some other question?
			</label>
		</div>

		<code class="sg-example__code">
			&lt;label class="c-form__label"&gt;<br>
			&nbsp;&nbsp;&lt;input name="user[terms_accepted]" type="checkbox" value="true" checked="checked"&gt;<br>
			&nbsp;&nbsp;Checkbox text goes here<br>
			&lt;/label&gt;<br>
			&lt;label class="c-form__label"&gt;<br>
			&nbsp;&nbsp;&lt;input name="user[newsletter_signup]" type="checkbox" value="true"&gt;<br>
			&nbsp;&nbsp;Would you like to subscribe to our newsletter?<br>
			&lt;/label&gt;<br>
			&lt;label class="c-form__label"&gt;<br>
			&nbsp;&nbsp;&lt;input name="user[other]" type="checkbox" value="true"&gt;<br>
			&nbsp;&nbsp;Some other question?<br>
			&lt;/label&gt;
		</code>
	</div>

	<h3>Radio Buttons</h3>

	<div class="sg-example">
		<h4 class="sg-example__heading">Example</h4>

		<div class="sg-example__preview">
			<label class="c-form__label">
				<input name="user[options]" type="radio" value="1" checked="checked">
				This is the first possible answer of three.
			</label>
			<label class="c-form__label">
				<input name="user[options]" type="radio" value="2">
				And here's the second.
			</label>
			<label class="c-form__label">
				<input name="user[options]" type="radio" value="3">
				Would you look at that? It's the third option!
			</label>
		</div>

		<code class="sg-example__code">
			&lt;label class="c-form__label"&gt;<br>
			&nbsp;&nbsp;&lt;input name="user[options]" type="radio" value="1" checked="checked"&gt;<br>
			&nbsp;&nbsp;This is the first possible answer of three.<br>
			&lt;/label&gt;<br>
			&lt;label class="c-form__label"&gt;<br>
			&nbsp;&nbsp;&lt;input name="user[options]" type="radio" value="2"&gt;<br>
			&nbsp;&nbsp;And here's the second.<br>
			&lt;/label&gt;<br>
			&lt;label class="c-form__label"&gt;<br>
			&nbsp;&nbsp;&lt;input name="user[options]" type="radio" value="3"&gt;<br>
			&nbsp;&nbsp;Would you look at that? It's the third option!<br>
			&lt;/label&gt;
		</code>
	</div>

  <code>EXAMPLE</code>

  <div>
  	<label for="text_input1">A field with a additional info</label>

    <div class="alert inline info">
      <%= image_tag 'images/icons/info-fill-white.svg' %>
      If you are a teacher please use your school email address
    </div>

    <input type="text" id="text_input1">
  </div>

  <code>EXAMPLE</code>

  <div>
  	<label for="text_password1">Password</label>
  	<input type="password" id="text_password1">
  </div>

  <code>EXAMPLE</code>

  <div>
  	<label for="textarea1">Textarea</label>
  	<textarea id="textarea1"></textarea>
  </div>

  <code>EXAMPLE</code>

	<div>
		<label for="file1">Upload a file</label>
		<input type="file" id="file1">
	</div>

  <code>EXAMPLE</code>

  <div class="fieldwithbutton">
  	<label for="text_button1">Field with button</label>
  	<input type="text" id="text_button1">
  	<input type="submit" class="button square" value="Press">
  </div>

  <code>EXAMPLE</code>

	<hr>

	<h2>Error highlighting</h2>

	<div class="error_highlight">
		<label for="text_input1">Email address</label>
		<input type="text" id="text_input1" value="greg@codeclub">

		<div class="alert inline error">
      <%= image_tag 'images/icons/error-white.svg' %>
		  Please enter a valid email address
		</div>
	</div>

  <code>EXAMPLE</code>

  <hr>

	<h2>More advanced elements</h2>

	<div>
		<label>Select one from a list</label>

		<div class="checklist">
    	<ul>
      	<li>
      		<input id="checklist1" type="radio" name="checklist1">
      		<label class="collection_radio_buttons" for="checklist1">Yes</label>
      	</li>
      	<li>
      		<input id="checklist2" type="radio" name="checklist1">
      		<label class="collection_radio_buttons" for="checklist2">No</label>
     		</li>
    	</ul>
    </div>
	</div>

  <code>EXAMPLE</code>

	<div>
		<label>Select multiples from a list</label>

		<div class="checklist">
    	<ul>
      	<li>
      		<input id="multi_checklist1" type="checkbox" name="checklist2">
      		<label class="collection_radio_buttons" for="multi_checklist1">Yes</label>
      	</li>
      	<li>
      		<input id="multi_checklist2" type="checkbox" name="checklist2">
      		<label class="collection_radio_buttons" for="multi_checklist2">No</label>
     		</li>
    	</ul>
    </div>
	</div>

  <code>EXAMPLE</code>

	<div>
		<label>Select one option dropdown</label>

    <div class="field_dropdown">
			<h4 class="toggle">Select one</h4>

      <ul class="checklist">
				<li>
					<input id="dropdown1" type="radio" name="dropdown">
					<label for="dropdown1" class="collection_radio_buttons">Select this option</label>
				</li>

      	<li>
					<input id="dropdown2" type="radio" name="dropdown">
					<label for="dropdown2" class="collection_radio_buttons">Select an option</label>
				</li>

      	<li>
					<input id="dropdown3" type="radio" name="dropdown">
					<label for="dropdown3" class="collection_radio_buttons">Select another option</label>
				</li>
			</ul>
		</div>
	</div>

  <hr>

	<h2>Label-in text fields</h2>

	<p>Useful for when you want to condense the form layout, like on a login form. Succinct labels must be used.</p>

  <div class="label-in">
  	<label for="labelin_input1">Email</label>
  	<input type="text" id="labelin_input1" placeholder="john@example.com">
  </div>

  <div class="label-in">
  	<label for="labelin_input2">Password</label>
  	<input type="password" id="labelin_input2">
  </div>

  <code>EXAMPLE</code>

  <hr>

  <h2>Submit button</h2>

  <div class="submit">
  	<input type="submit" value="Submit button">
  </div>

  <code>EXAMPLE</code>
</div>
