<div class="sg-panel">
  <h2>Available Icons</h2>

  <p>The basic icon takes the following form:</p>

  <p><code>&lt;span class="c-icon c-icon--ICON-NAME-HERE"&gt;&lt;/span&gt;</code></p>

  <p>Where you see "ICON NAME HERE" in the above example, replace that text with one of the following values:</p>

  <ul class="sg-icon-list">
    <% for icon in icons %>
      <li class="sg-icon-list__item">
        <span class="c-icon c-icon--<%= icon %>"></span>
        <code><%= icon %></code>
      </li>
    <% end %>
  </ul>

  <hr>

  <h2>Sizing icons</h2>

  <p>The default icon size is equivalent to 20px in width and height. The following modifiers are available for altering icon sizes:</p>

  <ul>
    <li><code>.c-icon--x-small</code></li>
    <li><code>.c-icon--small</code></li>
    <li><code>.c-icon--large</code></li>
    <li><code>.c-icon--x-large</code></li>
  </ul>

  <div class="sg-example">
    <h3 class="sg-example__heading">Example</h3>

    <div class="sg-example__preview">
      <p>
        <span class="c-icon c-icon--star c-icon--x-small"></span>
        <span class="c-icon c-icon--star c-icon--small"></span>
        <span class="c-icon c-icon--star"></span>
        <span class="c-icon c-icon--star c-icon--large"></span>
        <span class="c-icon c-icon--star c-icon--x-large"></span>
      </p>
    </div>

    <code class="sg-example__code">
      &lt;span class="c-icon c-icon--star c-icon--x-small"&gt;&lt;/span&gt;<br>
      &lt;span class="c-icon c-icon--star c-icon--small"&gt;&lt;/span&gt;<br>
      &lt;span class="c-icon c-icon--star"&gt;&lt;/span&gt;<br>
      &lt;span class="c-icon c-icon--star c-icon--large"&gt;&lt;/span&gt;<br>
      &lt;span class="c-icon c-icon--star c-icon--x-large"&gt;&lt;/span&gt;<br>
    </code>
  </div>
</div>
