<div class="sg-example">
  <h3 class="sg-example__heading">Example</h3>

  <div class="sg-example__preview">
    <div class="c-info c-info--success">
      <span class="c-icon c-icon--small c-icon--tick-circle c-icon--white"></span>
      This is a success alert.
    </div>

    <div class="c-info c-info--info">
      <span class="c-icon c-icon--small c-icon--info-fill c-icon--white"></span>
      This is an information alert.
    </div>

    <div class="c-info c-info--warning">
      <span class="c-icon c-icon--small c-icon--warning"></span>
      This is a warning message.
    </div>

    <div class="c-info c-info--error">
      <span class="c-icon c-icon--small c-icon--error c-icon--white"></span>
      This is an error. Please enter the correct information so we can continue.
    </div>
  </div>

  <code class="sg-example__code">
    &lt;div class="c-info c-info--success"&gt;<br>
    &nbsp;&nbsp;&lt;span class="c-icon c-icon--small c-icon--tick-circle c-icon--white"&gt;&lt;/span&gt;<br>
    &nbsp;&nbsp;This is a success alert.<br>
    &lt;/div&gt;<br>
    <br>
    &lt;div class="c-info c-info--info"&gt;<br>
    &nbsp;&nbsp;&lt;span class="c-icon c-icon--small c-icon--info-fill c-icon--white"&gt;&lt;/span&gt;<br>
    &nbsp;&nbsp;This is an information alert.<br>
    &lt;/div&gt;<br>
    <br>
    &lt;div class="c-info c-info--warning"&gt;<br>
    &nbsp;&nbsp;&lt;span class="c-icon c-icon--small c-icon--warning"&gt;&lt;/span&gt;<br>
    &nbsp;&nbsp;This is a warning message.<br>
    &lt;/div&gt;<br>
    <br>
    &lt;div class="c-info c-info--error"&gt;<br>
    &nbsp;&nbsp;&lt;span class="c-icon c-icon--small c-icon--error c-icon--white"&gt;&lt;/span&gt;<br>
    &nbsp;&nbsp;This is an error. Please enter the correct information so we can continue.<br>
    &lt;/div&gt;
  </code>
</div>
