<p>
  When your page requires an additional, highlited piece of information for the user that isn't necessarily the result of
  an action they have performed, use an info panel. If you are providing feedback from the server based on an action the
  user just took, use an <%= link_to 'alert', page_path('styles', 'alerts') %> instead.
</p>

<%= render_example do %>
<div class="c-info">
  <div class="c-info__icon">
    <span class="c-icon c-icon--small c-icon--info-fill c-icon--blue"></span>
  </div>
  <div class="c-info__body">
    This is an information panel. Use these to notify the user of things with text and an icon. They're useful.
  </div>
</div>

<div class="c-info c-info--success">
  <div class="c-info__icon">
    <span class="c-icon c-icon--small c-icon--info c-icon--green"></span>
  </div>
  <div class="c-info__body">
    This is an information panel. Use these to notify the user of things with text and an icon. They're useful.
  </div>
</div>

<div class="c-info c-info--warning">
  <div class="c-info__icon">
    <span class="c-icon c-icon--small c-icon--warning"></span>
  </div>
  <div class="c-info__body">
    This is an information panel. Use these to notify the user of things with text and an icon. They're useful.
  </div>
</div>

<div class="c-info c-info--error">
  <div class="c-info__icon">
    <span class="c-icon c-icon--small c-icon--error c-icon--red"></span>
  </div>
  <div class="c-info__body">
    This is an information panel. Use these to notify the user of things with text and an icon. They're useful.
  </div>
</div>
<% end %>
