<h2>Default list styles</h2>

<p>
  If you need an unordered, ordered, or definition list for inclusion in your site's regular body copy,
  then use the <code>&lt;ul&gt;</code>, <code>&lt;ol&gt;</code>, or <code>&lt;dl&gt;</code> elements <strong>without any extra HTML classes</strong>.
</p>

<p>
  The following list implmentations are only to be used in cases where your lists require a little more presentational flair.
</p>

<hr>

<h2>Plain Lists</h2>

<p>One use for plain lists is to create a series of text links in your page footers.</p>

<div class="sg-example">
  <h3 class="sg-example__heading">Example</h3>

  <div class="sg-example__preview">
    <ul class="c-list c-list--plain">
      <li class="c-list__item c-list__item--plain"><a href="#">Red</a></li>
      <li class="c-list__item c-list__item--plain"><a href="#">Blue</a></li>
      <li class="c-list__item c-list__item--plain"><a href="#">Turquoise</a></li>
      <li class="c-list__item c-list__item--plain"><a href="#">Teal</a></li>
    </ul>
  </div>

  <code class="sg-example__code">
    &lt;ul class="c-list c-list--plain"&gt;<br>
    &nbsp;&nbsp;&lt;li class="c-list__item c-list__item--plain"&gt;&lt;a href="#"&gt;Red&lt;/a&gt;&lt;/li&gt;<br>
    &nbsp;&nbsp;&lt;li class="c-list__item c-list__item--plain"&gt;&lt;a href="#"&gt;Blue&lt;/a&gt;&lt;/li&gt;<br>
    &nbsp;&nbsp;&lt;li class="c-list__item c-list__item--plain"&gt;&lt;a href="#"&gt;Turquoise&lt;/a&gt;&lt;/li&gt;<br>
    &nbsp;&nbsp;&lt;li class="c-list__item c-list__item--plain"&gt;&lt;a href="#"&gt;Teal&lt;/a&gt;&lt;/li&gt;<br>
    &lt;ul&gt;
  </code>
</div>

<hr>

<h2>Green Bullet Lists</h2>

<div class="sg-example">
  <h3 class="sg-example__heading">Example</h3>

  <div class="sg-example__preview">
    <ul class="c-list c-list--bulleted">
      <li class="c-list__item c-list__item--bulleted">Red</li>
      <li class="c-list__item c-list__item--bulleted">Blue</li>
      <li class="c-list__item c-list__item--bulleted">Turquoise</li>
      <li class="c-list__item c-list__item--bulleted">Teal</li>
    </ul>
  </div>

  <code class="sg-example__code">
    &lt;ul class="c-list c-list--bulleted"&gt;<br>
    &nbsp;&nbsp;&lt;li class="c-list__item c-list__item--bulleted"&gt;Red&lt;/li&gt;<br>
    &nbsp;&nbsp;&lt;li class="c-list__item c-list__item--bulleted"&gt;Blue&lt;/li&gt;<br>
    &nbsp;&nbsp;&lt;li class="c-list__item c-list__item--bulleted"&gt;Turquoise&lt;/li&gt;<br>
    &nbsp;&nbsp;&lt;li class="c-list__item c-list__item--bulleted"&gt;Teal&lt;/li&gt;<br>
    &lt;ul&gt;
  </code>
</div>

<p>There is also a larger variant of this bulleted list:</p>

<div class="sg-example">
  <h3 class="sg-example__heading">Example</h3>

  <div class="sg-example__preview">
    <ul class="c-list c-list--bulleted c-list--large">
      <li class="c-list__item c-list__item--bulleted c-list__item--large">Red</li>
      <li class="c-list__item c-list__item--bulleted c-list__item--large">Blue</li>
      <li class="c-list__item c-list__item--bulleted c-list__item--large">Turquoise</li>
      <li class="c-list__item c-list__item--bulleted c-list__item--large">Teal</li>
    </ul>
  </div>

  <code class="sg-example__code">
    &lt;ul class="c-list c-list--bulleted c-list--large"&gt;<br>
    &nbsp;&nbsp;&lt;li class="c-list__item c-list__item--bulleted c-list__item--large"&gt;Red&lt;/li&gt;<br>
    &nbsp;&nbsp;&lt;li class="c-list__item c-list__item--bulleted c-list__item--large"&gt;Blue&lt;/li&gt;<br>
    &nbsp;&nbsp;&lt;li class="c-list__item c-list__item--bulleted c-list__item--large"&gt;Turquoise&lt;/li&gt;<br>
    &nbsp;&nbsp;&lt;li class="c-list__item c-list__item--bulleted c-list__item--large"&gt;Teal&lt;/li&gt;<br>
    &lt;ul&gt;
  </code>
</div>

<hr>

<h2>Horizontal List</h2>

<div class="sg-example">
  <h3 class="sg-example__heading">Example</h3>

  <div class="sg-example__preview">
    <ul class="c-list c-list--horiz">
      <li class="c-list__item c-list__item--horiz">Red</li>
      <li class="c-list__item c-list__item--horiz">Blue</li>
      <li class="c-list__item c-list__item--horiz">Turquoise</li>
      <li class="c-list__item c-list__item--horiz">Teal</li>
    </ul>
  </div>

  <code class="sg-example__code">
    &lt;ul class="c-list c-list--horiz"&gt;<br>
    &nbsp;&nbsp;&lt;li class="c-list__item c-list__item--horiz"&gt;Red&lt;/li&gt;<br>
    &nbsp;&nbsp;&lt;li class="c-list__item c-list__item--horiz"&gt;Blue&lt;/li&gt;<br>
    &nbsp;&nbsp;&lt;li class="c-list__item c-list__item--horiz"&gt;Turquoise&lt;/li&gt;<br>
    &nbsp;&nbsp;&lt;li class="c-list__item c-list__item--horiz"&gt;Teal&lt;/li&gt;<br>
    &lt;ul&gt;
  </code>
</div>

<hr>

<h2>Horizontal Definition List</h2>

<div class="sg-example">
  <h3 class="sg-example__heading">Example</h3>

  <div class="sg-example__preview">
    <dl class="c-def-list">
      <dt class="c-def-list__term">Red</dt>
      <dd class="c-def-list__definition">Lorem Ipsum Dolor Sit Amet</dd>
      <dt class="c-def-list__term">Blue</dt>
      <dd class="c-def-list__definition">Lorem Ipsum Dolor Sit Amet</dd>
      <dt class="c-def-list__term">Turquoise</dt>
      <dd class="c-def-list__definition">Lorem Ipsum Dolor Sit Amet</dd>
      <dt class="c-def-list__term">Teal</dt>
      <dd class="c-def-list__definition">Lorem Ipsum Dolor Sit Amet</dd>
    </dl>
  </div>

  <code class="sg-example__code">
    &lt;dl class="c-def-list"&gt;<br>
    &nbsp;&nbsp;&lt;dt class="c-def-list__term"&gt;Red&lt;/dt&gt;<br>
    &nbsp;&nbsp;&lt;dd class="c-def-list__definition"&gt;Lorem Ipsum Dolor Sit Amet&lt;/dd&gt;<br>
    &nbsp;&nbsp;&lt;dt class="c-def-list__term"&gt;Blue&lt;/dt&gt;<br>
    &nbsp;&nbsp;&lt;dd class="c-def-list__definition"&gt;Lorem Ipsum Dolor Sit Amet&lt;/dd&gt;<br>
    &nbsp;&nbsp;&lt;dt class="c-def-list__term"&gt;Turquoise&lt;/dt&gt;<br>
    &nbsp;&nbsp;&lt;dd class="c-def-list__definition"&gt;Lorem Ipsum Dolor Sit Amet&lt;/dd&gt;<br>
    &nbsp;&nbsp;&lt;dt class="c-def-list__term"&gt;Teal&lt;/dt&gt;<br>
    &nbsp;&nbsp;&lt;dd class="c-def-list__definition"&gt;Lorem Ipsum Dolor Sit Amet&lt;/dd&gt;<br>
    &lt;/dl&gt;
  </code>
</div>
