<h2>What are they?</h2>

<p>
  Page blocks help to introduce some structure to your pages by breaking content into separate chunks.
  They are used to create the layered content you can see on the <%= link_to 'sample pages', page_path('layout', 'sample-pages') %>.
</p>

<p>
  <strong>Please note:</strong> for the purposes of illustration these block examples contain center aligned text, but that is not
  the default style for text in these blocks.
</p>

<div class="sg-example">
	<h3 class="sg-example__heading">Example</h3>

  <div class="sg-example__preview">
    <div class="c-page-block">
      <h4 class="u-text--center">Page Block Example</h4>
      <p class="u-text--center">Scelerisque a a sit ac tellus dignissim porta dis ac scelerisque et phasellus vel a sapien a dapibus inceptos phasellus consectetur felis. Suspendisse volutpat dui adipiscing adipiscing adipiscing ultrices tortor nostra a vehicula eros quisque euismod iaculis a urna amet a a in parturient cubilia elementum.</p>
    </div>
  </div>

	<code class="sg-example__code">
    &lt;div class="c-page-block"&gt;<br>
    &nbsp;&nbsp;...<br>
    &lt;/div&gt;
	</code>
</div>

<hr>

<h2>Page Block Variants</h2>

<h3>Alternative Background Color</h3>

<p>
  This performs exactly the same function as the regular content block, except the background is white and it has no borders. It's a little
  difficult to see in this example, but you can see one illustrated on the <%= link_to 'sample pages', page_path('layout', 'sample-pages') %>.
</p>

<div class="sg-example">
	<h3 class="sg-example__heading">Example</h3>

  <div class="sg-example__preview">
    <div class="c-page-block c-page-block--alt-block">
      <h4 class="u-text--center">Alternative Page Block Example</h4>
      <p class="u-text--center">Scelerisque a a sit ac tellus dignissim porta dis ac scelerisque et phasellus vel a sapien a dapibus inceptos phasellus consectetur felis. Suspendisse volutpat dui adipiscing adipiscing adipiscing ultrices tortor nostra a vehicula eros quisque euismod iaculis a urna amet a a in parturient cubilia elementum.</p>
    </div>
  </div>

	<code class="sg-example__code">
    &lt;div class="c-page-block c-page-block--alt-block"&gt;<br>
    &nbsp;&nbsp;...<br>
    &lt;/div&gt;
	</code>
</div>

<hr>

<h2>Page Block Variants</h2>

<h3>Action Blocks</h3>

<p>
  Use the action block once per page to feature an action that a user may take,
  i.e. "Sign up for our newsletter" or "Register interest".
</p>

<div class="sg-example">
	<h3 class="sg-example__heading">Example</h3>

  <div class="sg-example__preview">
    <div class="c-page-block c-page-block--action-block">
      <h4 class="u-text--center">Action Block Example</h4>
      <p class="u-text--center">Scelerisque a a sit ac tellus dignissim porta dis ac scelerisque et phasellus vel a sapien a dapibus inceptos phasellus consectetur felis. Suspendisse volutpat dui adipiscing adipiscing adipiscing ultrices tortor nostra a vehicula eros quisque euismod iaculis a urna amet a a in parturient cubilia elementum.</p>
    </div>
  </div>

	<code class="sg-example__code">
    &lt;div class="c-page-block c-page-block--action-block"&gt;<br>
    &nbsp;&nbsp;...<br>
    &lt;/div&gt;
	</code>
</div>
