<%= section_header('Speech Bubbles') %>

<%= render_example do %>
<div class="c-speech-bubble">
  Hello
</div>
<% end %>

<%= render_example do %>
    <div class="c-speech-bubble c-speech-bubble--bottom c-speech-bubble--right">
      Hello!
    </div>
    <div class="c-speech-bubble c-speech-bubble--bottom c-speech-bubble--left">
      Hello!
    </div>
    <div class="c-speech-bubble c-speech-bubble--top c-speech-bubble--right">
      Hello!
    </div>
    <div class="c-speech-bubble c-speech-bubble--top c-speech-bubble--left">
      Hello!
    </div>
<% end %>


<%= render_example do %>
    <div class="c-speech-bubble c-speech-bubble--bottom c-speech-bubble--x-small">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </div>
    <div class="c-speech-bubble c-speech-bubble--bottom c-speech-bubble--small">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Aliquam vel ligula sit amet quam tincidunt consequat.
    </div>
    <div class="c-speech-bubble c-speech-bubble--bottom">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Aliquam vel ligula sit amet quam tincidunt consequat.
      Aliquam quis commodo nisi, sit amet luctus massa.
    </div>
    <div class="c-speech-bubble c-speech-bubble--bottom c-speech-bubble--large">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Aliquam vel ligula sit amet quam tincidunt consequat.
      Aliquam quis commodo nisi, sit amet luctus massa.
      Praesent in purus in elit laoreet finibus.
    </div>
    <div class="c-speech-bubble c-speech-bubble--bottom c-speech-bubble--x-large">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Aliquam vel ligula sit amet quam tincidunt consequat.
      Aliquam quis commodo nisi, sit amet luctus massa.
      Praesent in purus in elit laoreet finibus.
      Sed non dui fringilla, bibendum nisi vitae, interdum ante.
      In ultricies ex nec quam consectetur mollis.
    </div>
<% end %>




