<div class="sg-panel">
	<h2>Fonts</h2>

	<p>Our main font is Museo Sans Rounded and is used in weights 300 (default) and 500 (bold, headings, links, buttons).</p>

	<p>Museo is not a system font, so it must be purchased and licensed for web use. It is available to license from the following vendors, as well as many others:</p>

	<ul>
		<li><a href="https://typekit.com/fonts/museo-sans-rounded">Museo Sans Rounded on Typekit</a></li>
		<li><a href="https://www.myfonts.com/fonts/exljbris/museo-sans-rounded/">Museo Sans Rounded on MyFonts</a></li>
		<li><a href="http://www.fonts.com/font/exljbris/museo-sans/rounded-300/web-font">Museo Sans Rounded on fonts.com</a></li>
	</ul>

	<p>For Cryllic alphabets, we use <a href="https://www.myfonts.com/fonts/exljbris/museo-sans-cyrillic/webfont_preview.html">Museo Sans Cyrillic</a>.</p>

	<hr>

	<h2>Headings</h2>

	<div class="sg-example">
		<h3 class="sg-example__heading">Example</h3>

		<div class="sg-example__preview">
			<% for header in 1..6 do %>
				<%= "<h#{header}>h#{header}: A nationwide network of volunteer-led after school coding clubs for children aged 9–11</h#{header}>".html_safe %>
			<% end %>
		</div>

		<code class="sg-example__code">
			<% for header in 1..6 do %>
				<%= "&lt;h#{header}&gt;h#{header}: Heading Level #{header}&lt;/h#{header}&gt;".html_safe %><br>
			<% end %>
		</code>
	</div>

	<hr>

	<h2>Body copy</h2>

	<p>Paragraphs are set at 16px with a 22px leading. For legibility, the maximum line-length is 40em. This is the base font sizing. On larger screens, the relative em value will increase.</p>
	<p>On smaller devices the base font sizing remains the same but the headings will decrease in relative size.</p>

	<div class="sg-example">
		<h3 class="sg-example__heading">Example</h3>

		<div class="sg-example__preview">
			<p>Lorem ipsum dolor sit amet, duo nostro ocurreret abhorreant at, his ut errem vocibus suscipit, veniam nonumy eu duo. Sea et wisi decore, cu verterem hendrerit mel. Latine deleniti vim an, vim an congue nostrum definitiones. Ipsum tibique salutandi sed at. Id mundi graece percipit usu, commune deleniti ad eum.</p>
			<p>An his paulo vocibus praesent. An odio voluptaria reformidans vis, ad est odio apeirian, per soleat ponderum signiferumque ne. Idque consectetuer ius ei, mea affert vivendo voluptatibus ei. Accumsan noluisse mea cu, nostrum fastidii ex has. Ad congue docendi sit, an melius bonorum laboramus eam, hinc commodo laoreet in vim.</p>
		</div>

		<code class="sg-example__code">
			&lt;p&gt;...&lt;/p&gt;
		</code>
	</div>

	<p>Smaller items can be set in 14px. Useful for meta information, notes, etc</p>

	<div class="sg-example">
		<h3 class="sg-example__heading">Example</h3>

		<div class="sg-example__preview">
			<p class="c-meta">Smaller items can be set in 14px. Useful for meta information, notes, etc</p>
		</div>

		<code class="sg-example__code">
			&lt;p class="c-meta"&gt;...&lt;/p&gt;
		</code>
	</div>

	<p>There is a larger class which is useful for presenting introductory pieces of text, callouts, or similar.</p>

	<div class="sg-example">
		<h3 class="sg-example__heading">Example</h3>

		<div class="sg-example__preview">
			<p class="c-lede">There is a larger class which is useful for presenting introductory pieces of text, callouts, or similar.</p>
		</div>

		<code class="sg-example__code">
			&lt;p class="c-lede"&gt;...&lt;/p&gt;
		</code>
	</div>

	<hr>

	<h2>Alignment Utilities</h2>

	<p>For aligning text on an ad-hoc basis, the following utility classes can be used.</p>

	<div class="sg-example">
		<h3 class="sg-example__heading">Example</h3>

		<div class="sg-example__preview">
			<p class="u-text--left">Left aligned text</p>
			<p class="u-text--center">Center aligned text</p>
			<p class="u-text--right">Right aligned text</p>
		</div>

		<code class="sg-example__code">
			&lt;p class="u-text--left"&gt;Left aligned text&lt;/p&gt;<br>
			&lt;p class="u-text--center"&gt;Center aligned text&lt;/p&gt;<br>
			&lt;p class="u-text--right"&gt;Right aligned text&lt;/p&gt;<br>
		</code>
	</div>

	<hr>

	<h2>Colour Adjustment Utilities</h2>

	<p>The following utility classes will allow you to change the colour of your text. Be careful to display text on a contrasting background to aid readability.</p>

	<div class="sg-example">
		<h3 class="sg-example__heading">Example</h3>

		<div class="sg-example__preview">
			<% @colors[:palette].each do |name, value| %>
			<p class="u-color--<%= name %>">Lorem Ipsum dolor sit amet</p>
			<% end %>
		</div>

		<code class="sg-example__code">
			<% @colors[:palette].each do |name, value| %>&lt;p class="u-color--<%= name %>"&lt;Lorem Ipsum dolor sit amet&lt;/p&gt;<br><% end %>
		</code>
	</div>
</div>
