.text-center  { text-align: center;  }
.text-justify { text-align: justify; }
.text-left    { text-align: left;    }
.text-right   { text-align: right;   }

.text-danger    { color: $color-danger;    }
.text-primary   { color: $color-primary;   }
.text-success   { color: $color-success;   }
.text-warning   { color: $color-warning;   }
