
//	Color Palette
$color-danger:      #ff5252;
$color-danger-d:    darken($color-danger, 10);

$color-default:     #666;
$color-default-m:   #999;
$color-default-l:   #ccc;

$color-primary:     #5290d2;
$color-primary-d:   darken($color-primary, 10);

$color-success:     #54ba54;
$color-success-d:   darken($color-success, 10);

$color-warning:     #fff578;
$color-warning-d:   darken($color-warning, 10);

//	Colors
$color-text:      $color-default;
$color-bg:        #f5f6f9;
$color-borders:   #e0e0e0;

$color-highlight: $color-primary;

$color-links:         #2d862d;
$color-links-active:  $color-links;
$color-links-visited: $color-links;
