
//	Color Palette
$color-danger:      #ff5252;
$color-danger-d:    darken($color-danger, 10);

$color-default:     #333;
$color-default-m:   #e0e0e0;
$color-default-l:   #f5f6f9;

$color-primary:     #5290d2;
$color-primary-d:   darken($color-primary, 10);

$color-success:     #393;
$color-success-d:   darken($color-success, 10);

$color-warning:     #fff578;
$color-warning-d:   #f17f1a;

//	Colors
$color-text:      $color-default;
$color-bg:        $color-default-l;
$color-borders:   $color-default-m;

$color-highlight: $color-primary;

$color-links:         $color-success;
$color-links-active:  $color-success-d;
$color-links-visited: $color-success-d;
