//  Page Background
$athens-grey:          #f5f6f9;
$athens-grey-light:    lighten($athens-grey, 10);
$athens-grey-dark:     darken($athens-grey, 10);

//  Default Text
$mine-shaft:          #333;
$mine-shaft-lighter:  rgba($mine-shaft, 0.3);
$mine-shaft-light:    rgba($mine-shaft, 0.6);
$mine-shaft-dark:     darken($mine-shaft, 10);

//  Default Box Borders
$alto:                #e0e0e0;
$alto-light:          lighten($alto, 10);
$alto-dark:           darken($alto, 10);

//	Red Danger
$sunset-orange:       #ff5252;
$sunset-orange-light: lighten($sunset-orange, 10);
$sunset-orange-dark:  darken($sunset-orange, 10);

//  Blue Highlight
$havelock-blue:       #5290d2;
$havelock-blue-light: lighten($havelock-blue, 10);
$havelock-blue-dark:  darken($havelock-blue, 10);

//  Code Club Green
$apple:               #393;
$apple-light:         lighten($apple, 10);
$apple-dark:          darken($apple, 10);

//  Yellow Warning
$paris-daisy:         #fff578;
$paris-daisy-light:   lighten($paris-daisy, 10);
$paris-daisy-dark:    darken($paris-daisy, 10);
