//  Include webfonts
@font-face {
    font-family: 'Palanquin';
    font-weight: 300;
    src:         url('../fonts/Palanquin/Palanquin-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Palanquin';
    font-weight: 500;
    src:         url('../fonts/Palanquin/Palanquin-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Palanquin';
    font-weight: 700;
    src:         url('../fonts/Palanquin/Palanquin-Bold.ttf') format('truetype');
}

//	Font Families
$font-family-primary:   'museo-sans-rounded', Palanquin, Calibri, Roboto, Verdana, sans-serif;
$font-family-secondary: 'museo-sans-rounded', Palanquin, Calibri, Roboto, Verdana, sans-serif;
$font-family-monospace: Consolas, monaco, monospace;

//	Font Sizes - in px, converted to rems. Don't use 'px' unit!
$font-size:       16;
$font-size-small: 14;
$font-size-large: 20;

$font-size-h1: 48;
$font-size-h2: 36;
$font-size-h3: 24;
$font-size-h4: 18;
$font-size-h5: 14;
$font-size-h6: 14;

//	Font Weights
$font-weight-light: 100;
$font-weight:       300;
$font-weight-bold:  700;

$font-weight-h1: $font-weight-bold;
$font-weight-h2: $font-weight-bold;
$font-weight-h3: $font-weight-bold;
$font-weight-h4: $font-weight-bold;
$font-weight-h5: $font-weight-bold;
$font-weight-h6: $font-weight-bold;
