//	Baseline stuff
$baseline-unit:    22;
$baseline-unit-px: #{$baseline-unit}px;

//	Line Heights
$line-height:    $baseline-unit;
$line-height-h1: 36;
$line-height-h2: 36;
$line-height-h3: 36;
$line-height-h4: 36;
$line-height-h5: 36;
$line-height-h6: 36;
