
<h2><%= title %></h2>

<% if description.present? %>
  <%= markdown(description) %>
<% end %>

<% if variants.present? && variants.any? %>
  <hr>

  <% for variant in variants do %>
    <%= ui(name, variant) %>
  <% end %>
<% end %>
