<title>Code Club styleguide</title>

<%= csrf_meta_tags %>

<link href="assets/stylesheets/_prototype/reset.css" rel="stylesheet" media="all">
<link href="assets/stylesheets/_prototype/housing.css" rel="stylesheet" media="all">
<link href="assets/stylesheets/_prototype/base.css" rel="stylesheet" media="all">
<link href="assets/stylesheets/_prototype/layout.css" rel="stylesheet" media="all">
<link href="assets/stylesheets/_prototype/forms.css" rel="stylesheet" media="all">
<link href="assets/stylesheets/_prototype/buttons.css" rel="stylesheet" media="all">
