<script>document.documentElement.className += ' wf-loading';</script>

<title>Code Club Style Guide</title>

<%= csrf_meta_tags %>

<link rel="shortcut icon" href="/assets/code-club/images/favicons/favicon.ico">
<link rel="apple-touch-icon-precomposed" href="/assets/code-club/images/favicons/icon.png">
<meta name="msapplication-TileColor" content="#F5F6F9">
<meta name="msapplication-TileImage" content="/assets/code-club/images/favicons/icon.png">
<link rel="icon" href="/assets/code-club/images/favicons/icon.png" sizes="32x32">

<%= stylesheet_link_tag '/assets/code-club/stylesheets/code-club', :media => 'all' %>
<%= stylesheet_link_tag '/assets/stylesheets/application',         :media => 'all' %>
