<div class="nav_left">

  <h1 class="brand">
    <a href="/">
      <span>Code Club</span>
      <small>Style guide</small>
    </a>
  </h1>

  <a class="toggle_drawer">tog</a>

  <%= render_navigation %>

</div>
