<header class="sg-header">
  <%= link_to :home, :class => 'sg-home-link' do %>
    <span class="sg-brand u-hide-text">Code Club</span>
    <small class="sg-site-title u-h4">Style Guide</small>
  <% end %>

  <%= render_navigation %>
</header>
