<% slug = slugify(title) %>

<a name="<%= slug %>"></a>

<%= content_tag (defined?(heading_tag) ? heading_tag : :h2)  do %>
    <%= title %>
    <a class="c-icon c-icon--link" href="#<%= slug %>"></a>
<% end %>
