
hr {
  background: $grey-xx-light;
  border:     0;
  color:      $grey-xx-light;
  height:     $border-size-base;
  @include rem('margin-bottom', $margin-large);
  @include rem('margin-top',    $margin-x-large);
}
