html {
	background: $grey-xx-light;
	@include font-size($font-size-base);
	height:     100%;
	width:      100%;
}

	body {
		color:            $grey-dark;
		font-family:      $font-family-primary;
		@include font-size($font-size-base);
		font-weight:      $font-weight-base;
		@include line-height($font-size-base, $line-height-base);
		position:         relative;
		text-rendering:   optimizeLegibility;
		text-size-adjust: 100%;
		width:            100%;
	}
