//  Color Palette
$grey-dark:      #333333;
$grey-med:       #848484;
$grey-light:     #C2C2C2;
$grey-x-light:   #E0E0E0;
$grey-xx-light:  #F5F6F9;
$red:            #FF5252;
$blue:           #5290D2;
$green:          #339933;
$yellow:         #FFF578;

$white:          #FFF;
$blue-grey-dark: #2E3946;
$card-blue:      #3E98DA;
$card-green:     #54BB92;
$card-orange:    #E18932;
