$icon-size-base:     20;
$icon-size-x-small:  $icon-size-base * 0.5;
$icon-size-small:    $icon-size-base * 0.8;
$icon-size-large:    $icon-size-base * 1.3;
$icon-size-x-large:  $icon-size-base * 1.5;
