// Font Sizes
$button-font-size-base:     $font-size-base;
$button-font-size-small:    $font-size-base;
$button-font-size-large:    $font-size-base;
$button-font-size-x-large:  $font-size-base;

// Paddings
$button-padding-base--y:    $padding-x-small;
$button-padding-base--x:    $padding-base;
$button-padding-small--y:   $padding-x-small;
$button-padding-small--x:   $padding-base;
$button-padding-large--y:   $padding-x-small;
$button-padding-large--x:   $padding-base;
$button-padding-x-large--y: $padding-x-small;
$button-padding-x-large--x: $padding-base;
