$input-width-base:    $font-size-base   * 10;
$input-width-x-small: $input-width-base * 0.5;
$input-width-small:   $input-width-base * 0.75;
$input-width-large:   $input-width-base * 1.25;
$input-width-x-large: $input-width-base * 1.5;
