$margin-base:     16;
$margin-xx-small: $margin-base * 0.25;
$margin-x-small:  $margin-base * 0.5;
$margin-small:    $margin-base * 0.75;
$margin-large:    $margin-base * 2;
$margin-x-large:  $margin-base * 3;
$margin-xx-large: $margin-base * 4;
