$padding-base:      16;
$padding-xx-small:  $padding-base * 0.25;
$padding-x-small:   $padding-base * 0.5;
$padding-small:     $padding-base * 0.75;
$padding-med:       $padding-base * 1.2;
$padding-large:     $padding-base * 2;
$padding-x-large:   $padding-base * 3;
$padding-xx-large:  $padding-base * 4;
$padding-xxx-large: $padding-base * 5;
