$padding-base:       16;
$padding-xx-small:   $padding-base * 0.25;
$padding-x-small:    $padding-base * 0.5;
$padding-small:      $padding-base * 0.75;
$padding-large:      $padding-base * 1.25;
$padding-x-large:    $padding-base * 2;
$padding-xx-large:   $padding-base * 3;
$padding-xxx-large:  $padding-base * 4;
$padding-xxxx-large: $padding-base * 5;
