//  Tablet portrait and narrower: 48rem * 16px = 768px
$break-narrow:  48rem;

//  Tablet landscape, laptops, and wider: 64rem * 6px = 1024px
$break-regular: 64rem;

//  Wider screens: 75rem * 16px = 1200px
$break-wide:    75rem;
