<ul class="sg-swatches-list">
  <% colors.each do |name, value| %>
  <li class="sg-swatch">
    <code class="sg-swatch__name"><%= name %></code>
    <span class="sg-swatch__sample u-background--<%= name %>"></span>
    <small class="sg-swatch__hex"><code>#<%= value %></code></small>
  </li>
  <% end %>
</ul>
