<?php
    $page = 'alerts';
    include('_start.php');
?>

    <div class="content_wrap">

        <section class="bubble">

            <h1>Alerts</h1>

            
            

        </section>

    </div>

<?php
    include('_end.php');
?>