
	<div class="content_wrap">

		<h1>Page layout</h1>

		<section class="bubble">

			<h2>Page recipe</h2>

			<p>Pages on Code Club websites are made from following ingredients:</p>
			<ul>
				<li>Header & nav</li>
				<li>Hero block</li>
				<li>Content blocks</li>
				<li>Footer</li>
			</ul>

			<hr>

			<h3>Content blocks</h3>

			<p>Use a combination of the following content blocks to break up your page content</p>

		</section>

	</div>

	<section>

		<h3>White block</h3>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

		<p><a href="">Example link</a></p>

	</section>

	<div class="content_wrap">

		<section class="bubble">

			<h3>White rounded block</h3>

			<p>This one is useful for hosting longer passages of text. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

			<p><a href="">Example link</a></p>

		</section>

	</div>

	<div class="content_wrap clear">

		<div class="menu_menu">

			<ul>
				<li><a href="">Menu item</a></li>
				<li><a href="">A list of sub pages</a></li>
				<li><a href="">Menu system</a></li>
			</ul>

		</div>

		<div class="menu_content">

			<section class="bubble">

				<h3>Menu layout</h3>

				<p>This layout block should be used for areas where the user needs easy access to a number of formal pages/interactions. The items in the menu should correspend to the content hosted in this area. </p>

			</section>

		</div>

	</div>

	<section class="blue">

		<h3>Blue block</h3>

		<p>This one should be used for hosting the primary page actions on a page. For example on a page whose content is about Teacher Training, this block could be used at the bottom of the page (but still above the dark grey footer) to show a graphic on how to apply for Teacher Training, plus a big button that would link to a contact form.</p>

		<p><a href="">Example link</a></p>

	</section>

	<footer>

		<h3>Footer</h3>

		<p>All site footers must be in this dark grey colour</p>

		<p>The content of the footer is dependent on what's useful. There could be useful links down here, social media accounts, an email newsletter form, or copyright information.</p>

		<p><a href="">Example link</a></p>

	</footer>
