<?php
    $page = 'brand';
    include('_start.php');
?>
    
    <h2 class="center pad1">Brand &amp; logo guidelines</h2>

	<div class="layout ">

		<div class="col col1of1 pad2 bubble">


            <div class="img_desc">
                <div class="image">
                    <img src="assets/img/brand_1.svg">
                </div>
                <h4>General usage</h4>
                <ul>
                    <li>Don't alter logo colours or text</li>
                    <li>Don't interupt or overlay the circle mark with text or images</li>
                    <li>Always place the circle mark on a plain background, either <code>$white</code> or <code>$dark-grey</code></li>
                </ul>
            </div>

            <div class="img_desc">
                <div class="image">
                    <img src="assets/img/brand_2.svg">
                </div>
                <h4>Size and spacing</h4>
                <ul>
                    <li>Allow 10% whitespace around the circle mark</li>
                    <li>Minimum size for web: 60x60 pixels</li>
                </ul>
            </div>

            <div class="img_desc">
                <div class="image">
                    <img src="assets/img/brand_3.svg">
                </div>
                <h4>Circle mark with appendix</h4>
                <ul>
                    <li>Minimum circle size: 60x60 pixels</li>
                    <li>Text size at 60x60: 18px</li>
                    <li>Text should scale up with circle</li>
                    <li>Text colour should be the same green as the circle mark</li>
                </ul>
            </div>

            <div class="img_desc">
                <div class="image">
                    <img src="assets/img/brand_4.svg">
                </div>
                <h4>Stacked appendix usage</h4>
                <ul>
                    <li>Minimum circle size: 60x60 pixels</li>
                    <li>Text size at 60x60: 12px</li>
                    <li>Text should scale up with circle</li>
                </ul>
            </div>

            <div class="img_desc">
                <div class="image">
                    <img src="assets/img/brand_5.svg">
                </div>
                <ul>
                    <li>Text flows to multiple lines if it exceeds the width of the circle by 25%</li>
                    <li>Relative leading: 1.2em</li>
                </ul>
            </div>


        </div>

    </div>

<?php
    include('_end.php');
?>