<?php
    $page = 'colour';
    include('_start.php');
?>

	<h2 class="center pad1">Colour</h2>

    <div class="layout">

    	

        <section class="col col1of1 pad2 bubble">

			<h3>Base colours</h3>
			
			<dl>
				<li>
					<dt>Page background</dt>
					<dd>
						<div class="colourblock" style="background:#f5f6f9">#f5f6f9</div>
						<code>$page-bg</code>
					</dd>
				</li>
				<li>
					<dt>Font color</dt>
					<dd>
						<div class="colourblock light" style="background:#333">#333333</div>
						<code>$dark-grey</code>
					</dd>
				</li>
				<li>
					<dt>Grey border colour</dt>
					<dd>
						<div class="colourblock" style="background:#e0e0e0">#e0e0e0</div>
						<code>$grey-border</code>
					</dd>
				</li>
				<li>
					<dt>Code Club Green</dt>
					<dd>
						<div class="colourblock light" style="background:#339933">#339933</div>
						<code>$green</code>
					</dd>
					<p class="meta">Usage: brand, buttons, heros, interaction points (links, buttons, icons)</p>
				</li>
				<li>
					<dt>Blue</dt>
					<dd>
						<div class="colourblock light" style="background:#5290d2">#5290d2</div>
						<code>$blue</code>
						<p class="meta">Usage: primary page action blocks</p>
					</dd>
				</li>
				<li>
					<dt>White</dt>
					<dd>
						<div class="colourblock" style="background:#fff; border:1px solid #e0e0e0">#ffffff</div>
						<code>$white</code>
					</dd>
				</li>
			</dl>

			<br><br>

			<h3>Interaction colours</h3>
			<dl>
				<li>
					<dt>Success</dt>		
					<dd>
						<div class="colourblock light" style="background:#339933">#339933</div>
						<code>$green</code>
					</dd>
				</li>
				<li>
					<dt>Information</dt>	
					<dd>
						<div class="colourblock light" style="background:#5290d2">#5290d2</div>
						<code>blue</code>
					</dd>
				</li>
				<li>
					<dt>Warning</dt>		
					<dd>
						<div class="colourblock" style="background:#fff578">#fff578</div>
						<code>$warning-yellow</code>
					</dd>
				</li>
				<li>
					<dt>Warning icon</dt>
					<dd>
						<div class="colourblock light" style="background:#f17f1a">#f17f1a</div>
						<code>$warning-orange</code>
					</dd>
				</li>
				<li>
					<dt>Error</dt>		
					<dd>
						<div class="colourblock light" style="background:#ff5252">#ff5252</div>
						<code>$error-red</code>
					</dd>
				</li>
			</dl>

        </section>

    </div>

<?php
    include('_end.php');
?>