<?php
    $page = 'icons';
    include('_start.php');
?>

    <div class="content_wrap">

        <section class="bubble">

            <h1>Icons</h1>

            <p>Icons should be delivered as SVGs and coloured using CSS.</p>

            <br><br><br>

            <div class="image_grid col_6 icons clear">

                <div>
                    <span class="mono">arrow-left</span>
                    <div class="img">
                        <img src="/assets/images/icons/arrow-left.svg">
                    </div>
                </div>

                <div>
                    <span class="mono">arrow-right</span>
                    <div class="img">
                        <img src="/assets/images/icons/arrow-right.svg">
                    </div>
                </div>

                <div>
                    <span class="mono">arrow-up</span>
                    <div class="img">
                        <img src="/assets/images/icons/arrow-up.svg">
                    </div>
                </div>

                <div>
                    <span class="mono">arrow-down</span>
                    <div class="img">
                        <img src="/assets/images/icons/arrow-down.svg">
                    </div>
                </div>

                <div>
                    <span class="mono">arrow-circle-left</span>
                    <div class="img">
                        <img src="/assets/images/icons/arrow-circle-left.svg">
                    </div>
                </div>

                <div>
                    <span class="mono">arrow-circle-right</span>
                    <div class="img">
                        <img src="/assets/images/icons/arrow-circle-right.svg">
                    </div>
                </div>

                <div>
                    <span class="mono">arrow-circle-up</span>
                    <div class="img">
                        <img src="/assets/images/icons/arrow-circle-up.svg">
                    </div>
                </div>

                <div>
                    <span class="mono">arrow-circle-down</span>
                    <div class="img">
                        <img src="/assets/images/icons/arrow-circle-down.svg">
                    </div>
                </div>

                <div>
                    <span class="mono">arrow-fill-left</span>
                    <div class="img">
                        <img src="/assets/images/icons/arrow-fill-left.svg">
                    </div>
                </div>

                <div>
                    <span class="mono">arrow-fill-right</span>
                    <div class="img">
                        <img src="/assets/images/icons/arrow-fill-right.svg">
                    </div>
                </div>

                <div>
                    <span class="mono">arrow-fill-up</span>
                    <div class="img">
                        <img src="/assets/images/icons/arrow-fill-up.svg">
                    </div>
                </div>

                <div>
                    <span class="mono">arrow-fill-down</span>
                    <div class="img">
                        <img src="/assets/images/icons/arrow-fill-down.svg">
                    </div>
                </div>

                <div>
                    <span class="mono">info</span>
                    <div class="img">
                        <img src="/assets/images/icons/info.svg">
                    </div>
                </div>

                <div>
                    <span class="mono">info-fill</span>
                    <div class="img">
                        <img src="/assets/images/icons/info-fill.svg">
                    </div>
                </div>

                <div>
                    <span class="mono">archive</span>
                    <div class="img">
                        <img src="/assets/images/icons/archive.svg">
                    </div>
                </div>

                <div>
                    <span class="mono">download</span>
                    <div class="img">
                        <img src="/assets/images/icons/download.svg">
                    </div>
                </div>


                <div>
                    <span class="mono">document</span>
                    <div class="img">
                        <img src="/assets/images/icons/document.svg">
                    </div>
                </div>

                <div>
                    <span class="mono">note</span>
                    <div class="img">
                        <img src="/assets/images/icons/note.svg">
                    </div>
                </div>

                <div>
                    <span class="mono">feedback</span>
                    <div class="img">
                        <img src="/assets/images/icons/feedback.svg">
                    </div>
                </div>

                <div>
                    <span class="mono">star</span>
                    <div class="img">
                        <img src="/assets/images/icons/star.svg">
                    </div>
                </div>

                <div>
                    <span class="mono">tick</span>
                    <div class="img">
                        <img src="/assets/images/icons/tick.svg">
                    </div>
                </div>

                <div>
                    <span class="mono">help</span>
                    <div class="img">
                        <img src="/assets/images/icons/help.svg">
                    </div>
                </div>

                <div>
                    <span class="mono">email</span>
                    <div class="img">
                        <img src="/assets/images/icons/email.svg">
                    </div>
                </div>

                <div>
                    <span class="mono">warning</span>
                    <div class="img">
                        <img src="/assets/images/icons/warning.svg">
                    </div>
                </div>

                <div>
                    <span class="mono">plus</span>
                    <div class="img">
                        <img src="/assets/images/icons/plus.svg">
                    </div>
                </div>

                <div>
                    <span class="mono">plus-circle</span>
                    <div class="img">
                        <img src="/assets/images/icons/plus-circle.svg">
                    </div>
                </div>

                <div>
                    <span class="mono">search</span>
                    <div class="img">
                        <img src="/assets/images/icons/search.svg">
                    </div>
                </div>

                <div>
                    <span class="mono">projects-resrc</span>
                    <div class="img">
                        <img src="/assets/images/icons/projects-resrc.svg">
                    </div>
                </div>

                <div>
                    <span class="mono">volunteers</span>
                    <div class="img">
                        <img src="/assets/images/icons/volunteers.svg">
                    </div>
                </div>

                <div>
                    <span class="mono">settings</span>
                    <div class="img">
                        <img src="/assets/images/icons/settings.svg">
                    </div>
                </div>

                <div>
                    <span class="mono">lock</span>
                    <div class="img">
                        <img src="/assets/images/icons/lock.svg">
                    </div>
                </div>

                <div>
                    <span class="mono">location</span>
                    <div class="img">
                        <img src="/assets/images/icons/location.svg">
                    </div>
                </div>

                <div>
                    <span class="mono">error</span>
                    <div class="img">
                        <img src="/assets/images/icons/error.svg">
                    </div>
                </div>

            </div>

        </section>

    </div>

<?php
    include('_end.php');
?>
