<?php
    $page = 'lists';
    include('_start.php');
?>

    <div class="content_wrap">

        <section class="bubble">

            <h1>Listings & tables</h1>

            
            

        </section>

    </div>

<?php
    include('_end.php');
?>