<div class="sg-panel">
	<h2>Base colours</h2>

	<dl class="sg-swatches">
		<dt class="sg-swatches__title">Page background</dt>
		<dd class="sg-swatches__description">
			<code class="sg-swatches__color sg-swatches__color--page-bg">#f5f6f9</code>
		</dd>

		<dt class="sg-swatches__title">Font color</dt>
		<dd class="sg-swatches__description">
			<code class="sg-swatches__color sg-swatches__color--light sg-swatches__color--dark-grey">#333333</code>
		</dd>

		<dt class="sg-swatches__title">Grey border colour</dt>
		<dd class="sg-swatches__description">
			<code class="sg-swatches__color sg-swatches__color--grey-border">#e0e0e0</code>
		</dd>

		<dt class="sg-swatches__title">Code Club Green</dt>
		<dd class="sg-swatches__description">
			<code class="sg-swatches__color sg-swatches__color--light sg-swatches__color--green">#339933</code>
      <span class="meta">Usage: brand, buttons, heros, interaction points (links, buttons, icons)</span>
		</dd>

		<dt class="sg-swatches__title">Blue</dt>
		<dd class="sg-swatches__description">
			<code class="sg-swatches__color sg-swatches__color--light sg-swatches__color--blue">#5290d2</code>
			<span class="meta">Usage: primary page action blocks</span>
		</dd>

		<dt class="sg-swatches__title">White</dt>
		<dd class="sg-swatches__description">
			<code class="sg-swatches__color sg-swatches__color--white">#ffffff</code>
		</dd>
	</dl>

	<h2>Interaction colours</h2>

  <dl class="sg-swatch-list">
		<dt class="sg-swatches__title">Success</dt>
  	<dd class="sg-swatches__description">
			<code class="sg-swatches__color sg-swatches__color--light sg-swatches__color--success">#339933</code>
		</dd>

		<dt class="sg-swatches__title">Information</dt>
  	<dd class="sg-swatches__description">
			<code class="sg-swatches__color sg-swatches__color--light sg-swatches__color--blue">#5290d2</code>
		</dd>

		<dt class="sg-swatches__title">Warning</dt>
  	<dd class="sg-swatches__description">
			<code class="sg-swatches__color sg-swatches__color--warning-yellow">#fff578</code>
		</dd>

		<dt class="sg-swatches__title">Warning icon</dt>
  	<dd class="sg-swatches__description">
			<code class="sg-swatches__color sg-swatches__color--light sg-swatches__color--warning-icon">#f17f1a</code>
		</dd>

		<dt class="sg-swatches__title">Error</dt>
    <dd class="sg-swatches__description">
			<code class="sg-swatches__color sg-swatches__color--light sg-swatches__color--error">#ff5252</code>
		</dd>
	</dl>
</div>
