.c-button {
  @include rem('border-radius', $border-radius-large);
  background:      $grey-med;
  border:          $border-size-x-large solid $grey-med;
  display:         inline-block;
  color:           $white;
  text-align:      center;
  text-decoration: none;
  @include padding($button-padding-x-large--y, $button-padding-base--x);
  vertical-align:  middle;

  &.c-button--grey-dark     { background: $grey-dark;     border-color: $grey-dark;     }
  &.c-button--grey-med      { background: $grey-med;      border-color: $grey-med;      }
  &.c-button--grey-light    { background: $grey-light;    border-color: $grey-light;    }
  &.c-button--grey-x-light  { background: $grey-x-light;  border-color: $grey-x-light;  }
  &.c-button--grey-xx-light { background: $grey-xx-light; border-color: $grey-xx-light; }
  &.c-button--red           { background: $red;           border-color: $red;           }
  &.c-button--blue          { background: $blue;          border-color: $blue;          }
  &.c-button--green         { background: $green;         border-color: $green;         }
  &.c-button--yellow        { background: $yellow;        border-color: $yellow;        }
  &.c-button--white         { background: $white;         border-color: $white;         }

  &:active,
  &:focus,
  &:hover {
    background: $white;
    color:      $grey-med;

    &.c-button--grey-dark     { color: $grey-dark;     }
    &.c-button--grey-med      { color: $grey-med;      }
    &.c-button--grey-light    { color: $grey-light;    }
    &.c-button--grey-x-light  { color: $grey-x-light;  }
    &.c-button--grey-xx-light { color: $grey-xx-light; }
    &.c-button--red           { color: $red;           }
    &.c-button--blue          { color: $blue;          }
    &.c-button--green         { color: $green;         }
    &.c-button--yellow        { color: $yellow;        }
    &.c-button--white         { color: $white;         }
  }

  &[disabled],
  &.c-button--disabled {
    cursor:         pointer;
    opacity:        0.3;
    pointer-events: none;
  }

  &.c-button--hollow {
    background: none;
    color:      $grey-med;

    &.c-button--grey-dark     { color: $grey-dark;     }
    &.c-button--grey-med      { color: $grey-med;      }
    &.c-button--grey-light    { color: $grey-light;    }
    &.c-button--grey-x-light  { color: $grey-x-light;  }
    &.c-button--grey-xx-light { color: $grey-xx-light; }
    &.c-button--red           { color: $red;           }
    &.c-button--blue          { color: $blue;          }
    &.c-button--green         { color: $green;         }
    &.c-button--yellow        { color: $yellow;        }
    &.c-button--white         { color: $white;         }

    &:active,
    &:focus,
    &:hover {
      color:      $white;
      background: $grey-med;

      &.c-button--grey-dark     { background: $grey-dark;     }
      &.c-button--grey-med      { background: $grey-med;      }
      &.c-button--grey-light    { background: $grey-light;    }
      &.c-button--grey-x-light  { background: $grey-x-light;  }
      &.c-button--grey-xx-light { background: $grey-xx-light; }
      &.c-button--red           { background: $red;           }
      &.c-button--blue          { background: $blue;          }
      &.c-button--green         { background: $green;         }
      &.c-button--yellow        { background: $yellow;        }
      &.c-button--white         { background: $white; color: $green; }
    }
  }
}

  .c-button--block   { display: block; }
  .c-button--squared { @include rem('border-radius', $border-radius-x-small); }

  .c-button--small {
    border-width: $border-size-large;
    @include rem('font-size', $button-font-size-small);
    @include padding($button-padding-small--y, $button-padding-small--x);
    @include rem('border-radius', $border-radius-x-large);
  }

  .c-button--large {
    border-width: $border-size-x-large;
    @include rem('font-size', $button-font-size-large);
    @include padding($button-padding-large--y, $button-padding-x-large--x);
    @include rem('border-radius', $border-radius-x-large);
  }

  .c-button--x-large {
    border-width: $border-size-xx-large;
    @include rem('font-size', $button-font-size-x-large);
    @include padding($button-padding-x-large--y, $button-padding-x-large--x);
    @include rem('border-radius', $border-radius-xx-large);
  }

.c-button-group {
  display:         flex;
  justify-content: flex-start;
  margin:          0 auto;
  @include margin-bottom($margin-base);

  .c-button {
    border-color:  darken($grey-med, 5%);
    border-radius: 0;
    border-width:  0 1px;

    &:first-child {
      @include rem('border-bottom-left-radius', $border-radius-large);
      border-left: none;
      @include rem('border-top-left-radius',    $border-radius-large);
    }

    &:last-child {
      @include rem('border-bottom-right-radius', $border-radius-large);
      border-right: none;
      @include rem('border-top-right-radius',    $border-radius-large);
    }

    &.c-button--grey-dark     { border-color: darken($grey-dark,     5%); }
    &.c-button--grey-med      { border-color: darken($grey-med,      5%); }
    &.c-button--grey-light    { border-color: darken($grey-light,    5%); }
    &.c-button--grey-x-light  { border-color: darken($grey-x-light,  5%); }
    &.c-button--grey-xx-light { border-color: darken($grey-xx-light, 5%); }
    &.c-button--red           { border-color: darken($red,           5%); }
    &.c-button--blue          { border-color: darken($blue,          5%); }
    &.c-button--green         { border-color: darken($green,         5%); }
    &.c-button--yellow        { border-color: darken($yellow,        5%); }
    &.c-button--white         { border-color: darken($white,         5%); }

    &:active,
    &:focus,
    &:hover,
    &.c-button__selected {
      color:      $white;
      background: darken($grey-med, 5%);

      &.c-button--grey-dark     { background: darken($grey-dark,     5%); }
      &.c-button--grey-med      { background: darken($grey-med,      5%); }
      &.c-button--grey-light    { background: darken($grey-light,    5%); }
      &.c-button--grey-x-light  { background: darken($grey-x-light,  5%); }
      &.c-button--grey-xx-light { background: darken($grey-xx-light, 5%); }
      &.c-button--red           { background: darken($red,           5%); }
      &.c-button--blue          { background: darken($blue,          5%); }
      &.c-button--green         { background: darken($green,         5%); }
      &.c-button--yellow        { background: darken($yellow,        5%); }
      &.c-button--white         { background: darken($white,         5%); }
    }
  }
}

  .c-button-group__center { justify-content: center;   }
  .c-button-group__right  { justify-content: flex-end; }
