.c-logo {
  display: inline-block;
  margin:  0;
  @include padding($logo-padding);
}

  .c-logo--stacked {
    text-align: center;
    @include rem('max-width', $logo-size * 2);
  }

  .c-logo__link {
    display:         inline-block;
    text-decoration: none;
    vertical-align:  middle;
  }

  .c-logo__image {
    display:        inline-block;
    float:          left;
    vertical-align: middle;
  }

    .c-logo__image--stacked {
      display:      block;
      float:        none;
      margin-left:  auto;
      margin-right: auto;
    }

  .c-logo__appendix {
    display:        inline-block;
    float:          left;
    @include rem('font-size', 18);
    font-style:     normal;
    @include rem('line-height', $logo-size);
    @include rem('text-indent', $logo-padding);
    text-transform: uppercase;
    vertical-align: middle;
  }

    .c-logo__appendix--stacked {
      display: block;
      float:   none;
      @include margin-top($logo-padding);
      @include rem('font-size', 16);
      line-height: 1.2;
      text-indent: 0;
    }
