.c-icon {
  background:      center center no-repeat;
  background-size: 100% 100%;
  display:         inline-block;
  @include square($icon-size-base);
  vertical-align:  middle;
}

  .c-icon__image {
    display: block;
    height:  100%;
    width:   100%;
  }

  .c-icon--arrow-down         { background-image: url('../images/icons/arrow-down.svg');         }
  .c-icon--arrow-left         { background-image: url('../images/icons/arrow-left.svg');         }
  .c-icon--arrow-right        { background-image: url('../images/icons/arrow-right.svg');        }
  .c-icon--arrow-up           { background-image: url('../images/icons/arrow-up.svg');           }
  .c-icon--arrow-circle-down  { background-image: url('../images/icons/arrow-circle-down.svg');  }
  .c-icon--arrow-circle-left  { background-image: url('../images/icons/arrow-circle-left.svg');  }
  .c-icon--arrow-circle-right { background-image: url('../images/icons/arrow-circle-right.svg'); }
  .c-icon--arrow-circle-up    { background-image: url('../images/icons/arrow-circle-up.svg');    }
  .c-icon--arrow-fill-down    { background-image: url('../images/icons/arrow-fill-down.svg');    }
  .c-icon--arrow-fill-left    { background-image: url('../images/icons/arrow-fill-left.svg');    }
  .c-icon--arrow-fill-right   { background-image: url('../images/icons/arrow-fill-right.svg');   }
  .c-icon--arrow-fill-up      { background-image: url('../images/icons/arrow-fill-up.svg');      }
  .c-icon--info               { background-image: url('../images/icons/info.svg');               }
  .c-icon--info-fill          { background-image: url('../images/icons/info-fill.svg');          }
  .c-icon--archive            { background-image: url('../images/icons/archive.svg');            }
  .c-icon--document           { background-image: url('../images/icons/document.svg');           }
  .c-icon--download           { background-image: url('../images/icons/download.svg');           }
  .c-icon--email              { background-image: url('../images/icons/email.svg');              }
  .c-icon--error              { background-image: url('../images/icons/error.svg');              }
  .c-icon--feedback           { background-image: url('../images/icons/feedback.svg');           }
  .c-icon--help               { background-image: url('../images/icons/help.svg');               }
  .c-icon--lock               { background-image: url('../images/icons/lock.svg');               }
  .c-icon--location           { background-image: url('../images/icons/location.svg');           }
  .c-icon--note               { background-image: url('../images/icons/note.svg');               }
  .c-icon--plus               { background-image: url('../images/icons/plus.svg');               }
  .c-icon--plus-circle        { background-image: url('../images/icons/plus-circle.svg');        }
  .c-icon--projects-resrc     { background-image: url('../images/icons/projects-resrc.svg');     }
  .c-icon--search             { background-image: url('../images/icons/search.svg');             }
  .c-icon--settings           { background-image: url('../images/icons/settings.svg');           }
  .c-icon--star               { background-image: url('../images/icons/star.svg');               }
  .c-icon--tick               { background-image: url('../images/icons/tick.svg');               }
  .c-icon--volunteers         { background-image: url('../images/icons/volunteers.svg');         }
  .c-icon--warning            { background-image: url('../images/icons/warning.svg');            }

  .c-icon--warning            { background-image: url('../images/icons/warning.svg');            }
  .c-icon--warning            { background-image: url('../images/icons/warning.svg');            }
  .c-icon--warning            { background-image: url('../images/icons/warning.svg');            }
  .c-icon--warning            { background-image: url('../images/icons/warning.svg');            }

  .c-icon--tick-circle-white  { background-image: url('../images/icons/tick-circle-white.svg');  }
  .c-icon--info-fill-white    { background-image: url('../images/icons/info-fill-white.svg');    }
  .c-icon--warning-orange     { background-image: url('../images/icons/warning-orange.svg');     }
  .c-icon--error-white        { background-image: url('../images/icons/error-white.svg');        }

  .c-icon--x-small  { @include square($icon-size-x-small);  }
  .c-icon--small    { @include square($icon-size-small);    }
  .c-icon--large    { @include square($icon-size-large);    }
  .c-icon--x-large  { @include square($icon-size-x-large);  }
