.c-list {
  margin-left:  0;
  max-width:    100%;
  padding-left: 0;
}

  .c-list__item {
    margin-left:  0;
    padding-left: 0;
  }

    .c-list__item--plain {
      list-style-type: none;
    }

    .c-list__item--bulleted {
      background:      url('../images/bullet.svg') left 0.4rem no-repeat;
      @include rem('background-size', $font-size-xx-small);
      list-style-type: none;
      @include margin($margin-xx-small, 0);
      @include padding-left($padding-base * 1.25);

      &.c-list__item--large {
        @include rem('background-size', $font-size-base);
        background-position: left 0.2rem;
        background-size:     $font-size-base * 1px;
        list-style-type:     none;
        @include padding-left($padding-x-large);
      }
    }

    .c-list__item--horiz {
      list-style: none;
      float:      left;
      @include margin-left($margin-base);

      &:first-child {
        margin-left: 0;
      }
    }

    .c-icon-list {
      padding: 0;
    }

      .c-icon-list__item {
        @include clearfix;
        background-position: left top;
        background-repeat:   no-repeat;
        list-style:          none;
        position:            relative;

        .c-icon {
          float: left;
          @include margin(0, $margin-small, $margin-small, 0);
        }

        .c-icon-list__text {
          float: left;
          @include rem('line-height', $icon-size-large);
        }
      }
