.c-nav-toggle {}

  .c-nav-toggle__input {
	  display: none;

	  &:checked ~ {
      .c-nav-toggle__label {
				&:before {
					transform: rotate(45deg);
					width:     24px;
				}

				span {
					opacity: 0;
				}

				&:after {
					transform: rotate(-45deg);
					width:     24px;
				}
			}

      .c-nav-toggle__nav-container .o-nav {
        background: orange !important;
        transform:  scale(1);
      }

      .c-nav-toggle__page-container {
        transform:      translate3d(-260px, 0, 0);
        pointer-events: none;
      }
    }
  }

  .c-nav-toggle__label {
  	background: $green;
  	@include rem('border-radius', $border-radius-xx-small);
  	cursor:     pointer;
  	height:     30px;
  	right:      15px;
  	position:   absolute;
  	top:        21px;
  	width:      30px;

  	@include respond-to(regular) {
  		display: none;
  	}

  	&:before, span, &:after {
  		backface-visibility: hidden;
  		background:          #fff;
  		border-radius:       4px;
  		content:             ' ';
  		display:             block;
  		height:              4px;
  		left:                6px;
  		opacity:             1;
  		position:            absolute;
  		transition:          all 0.1s ease-in-out;
  		transform-origin:    2px 2px;
  		width:               18px;
  	}

  	&:before { top: 6px;  }
  	span     { top: 13px; }
  	&:after  { top: 20px; }
  }

  .c-nav-toggle__nav-container .o-nav {
    background: #fcc;
    transition: all 0.2s ease-in-out;
    transform:  scale(0.5);
  }

  .c-nav-toggle__page-container {
    transition: all 0.2s ease-in-out;
  }
