.c-page-block {
  background-color:    $grey-xx-light;
  background-position: center center;
  background-repeat:   no-repeat;
  background-size:     cover;
  border-top:          1px solid $grey-x-light;
  @include padding($padding-xx-large, 0);

  &:first-of-type {
    border: none;
  }

  &:not(.c-page-block--alt-block, .c-page-block--action-block) + .c-page-block:not(.c-page-block--alt-block, .c-page-block--action-block) {
    border:      none;
    padding-top: 0;
  }
}

  .c-page-block__bg-repeat {
    background-size:     auto;
    background-repeat:   repeat;
    background-position: left top;
  }

  .c-page-block__bg-repeat-x { background-repeat: repeat-x; }
  .c-page-block__bg-repeat-y { background-repeat: repeat-y; }

  .c-page-block--alt-block {
    background-color: $white;

    + .c-page-block--alt-block {
      border-top:  none;
      padding-top: 0;
    }
  }

  .c-page-block--action-block {
    background-color: $blue;
    border:           none;
    color:            $white;

    a {
      color: $white;

      &:hover {
        color: $white;
      }
    }

    .c-button--action-button {
      background:   $white;
      border-color: $white;
      color:        $blue;

      &:hover {
        color:      $white;
        background: $blue;
      }
    }

    + .c-page-block--action-block {
      padding-top: 0;
    }
  }
