.c-page-block {
  background:    $grey-xx-light;
  border-bottom: $border-size-base solid $grey-x-light;
  border-top:    $border-size-base solid $grey-x-light;
  @include padding($padding-xx-large, 0);

  + .c-page-block {
    border-top: none;
  }
}

  .c-page-block--alt-block {
    background: $white;
    border:     none;
  }

  .c-page-block--action-block {
    background: $blue;
    border:     none;
    color:      $white;

    a {
      color: $white;

      &:hover {
        color: $white;
      }
    }
  }
