.c-page-block {
  background-color:    $grey-xx-light;
  background-position: center center;
  background-repeat:   no-repeat;
  background-size:     cover;
  @include padding($padding-xx-large, 0);

  ~ .c-page-block {
    border-bottom: none;
  }
}

  .c-page-block--alt-block {
    background-color: $white;
    border-bottom:    $border-size-base solid $grey-x-light;
    border-top:       $border-size-base solid $grey-x-light;

    + .c-page-block--alt-block {
      border-top: none;
    }
  }

  .c-page-block--action-block {
    background-color: $blue;
    border:           none;
    color:            $white;

    a {
      color: $white;

      &:hover {
        color: $white;
      }
    }

    .c-button--action-button {
      background:   $white;
      border-color: $white;
      color:        $blue;

      &:hover {
        color:      $white;
        background: $blue;
      }
    }
  }
