/* FLEX */

.layout {
	display:flex;
	flex-direction:row;
	flex-wrap: nowrap;
	padding:0 8%;
	justify-content:space-between;
	align-items:stretch;
}
.col {
	background:coral;
	margin:1%;
	flex-grow:0;
	overflow:hidden;
}

.col1of12 {
	flex-basis:6%;
}
.col1of6 {
	flex-basis:14.5%;
}
.col1of4 {
	flex-basis:23%;
}
.col2of4 {
	flex-basis:48%;
}
.col3of4 {
	flex-basis:73%;
}
.col1of3 {
	flex-basis:31%;
}
.col2of3 {
	flex-basis:64.5%;
}
.col1of2 {
	flex-basis:48%;
}
.col1of1 {
	flex-basis:100%;
}


.pad0 {
	padding:0;
}
.pad1 {
	padding:1em;
}
.pad2 {
	padding:8%;
}
.pad3 {
	padding:17%;
}


/* PRIMARY NAV */
#nav_pri {
	background:#fff;
	padding:6px 5%;
	position:relative;
	border-bottom:1px solid #e0e0e0;
}
#nav_pri h1.brand {
	float:left;
}
h1.brand {
	color:#339933;
	font-weight:500;
	text-transform:uppercase;
	margin:0;
}
h1.brand a {
	color:#339933;
	text-decoration:none;
}
h1.brand span {
	display:inline-block;
	text-indent:-9999em;
	width:60px;
	height:60px;
	background:url("/assets/images/brand_circle.svg") no-repeat center center;
	background-size:100%;
}
h1.brand small {
	font-size:18px;
	line-height:1em;
	position:relative;
	top:-7px;
}
nav {
	float:right;
	font-weight:500;
	color:#339933;
	font-size:14px;
}
nav > ul {
	display:none;
	position:absolute;
	right:5%;
	top:72px;
	background:#f5f6f9;
	border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
	text-align:right;
	box-shadow:0px 2px 3px rgba(0,0,0,0.2);
	overflow:hidden;
	margin:0;
}
nav ul li {
	border-top:1px solid #e0e0e0;
	background-image:none;
	padding:0;
}
nav ul li a {
	color:#777;
	text-decoration:none;
	display:block;
	padding:0.7em 1.2em;
}
nav ul li a:hover,
nav ul li a:focus {
	background:#fff;
	color:#333;
}
nav > h4 {
	cursor:pointer;
	font-size:14px;
	border:2px solid #339933;
	line-height:40px;
	padding:0 2em;
	border-radius:21px;
	margin:7px 0 0 0;
}
li.expanded h4 {
	display:none;
}
li.expanded ul {
	margin:0;
}
li.expanded ul li:first-child {
	border:none;
}

.hero {
	color:#fff;
	background:#339933;
	text-align:center;
	padding:5%;
}
.hero ul {
	list-style:none;
}
.hero ul li {
	padding:0;
	margin-bottom:1em;
	background:none;
}
.hero ul li a,
.hero ul li a:hover,
.hero ul li a:focus {
	display:block;
}
.hero ul li a:hover {
	color:#339933 !important;
}

.hero {
	background-size:100% 100%;
	background-repeat:no-repeat;
}
.hero.flash {
	background-image:url("/assets/images/hero_flash.png");
	background-color:#291629;
}

nav.section {
	background:#fff;
	border-bottom:1px solid #e0e0e0;
	float:none;
	padding:1em;
	font-weight:500;
}
nav.section ul {
	margin:0;
	text-align:center;
	display:block;
	position:static;
	background:none;
	box-shadow:none;
}
nav.section ul li {
	display:inline;
	float:none;
	margin:0 0.7em;
	border:none;
}
nav.section ul li a {
	display:inline-block;
	padding:0;
}

/* CONTENT BLOCK LAYOUTS */
.content_wrap {
	padding:5%;
}

.content_wrap + section {
	border-top:1px solid #e0e0e0;
}

.bubble {
	border:1px solid #e0e0e0;
	border-radius:10px;
	background:#fff;
}
.content_wrap > section + section {
	margin-top:5%;
}

.blue {
	color:#fff;
	background:#5290d2;
}
.green {
	color:#fff;
	background:#339933;
}

footer {
	background:#333;
	color:#fff;
}

section.blue a,
section.green a,
footer a {
	color:#fff;
}
section.blue a:hover,
section.blue a:focus,
section.green a:hover,
section.green a:focus,
footer a:hover,
footer a:focus {
	opacity:0.5;
	color:#fff;
}

.menu_menu {
	background:#fff;
	border:1px solid #e0e0e0;
	border-radius:10px;
	margin-bottom:5%;
}
.menu_menu ul {
	margin:0;
}
.menu_menu ul li {
	background:none;
	padding:0;
	border-top:1px solid #e0e0e0;
}
.menu_menu ul li:first-child {
	border:none;
}
.menu_menu ul li a {
	display:block;
	text-decoration:none;
	padding:0.8em 1em;
}

.image_grid > div {
	float:left;
	margin:0 0 5% 0;
	width:130px;
	overflow:visible;
}
.image_grid .img {
	border:1px solid #e0e0e0;
	width:100px;
	height:100px;
	border-radius:5px;
	position:relative;
}
.image_grid.icons .img img {
	max-width:20px;
	max-height:20px;
	display:block;
	position: absolute;
  	top: 50%;
  	left:50%;
  	transform: translateY(-50%);
  	transform: translateX(-50%);
}

.overlay {
	display:none;
	background:rgba(0,0,0,0.7);
	position:fixed;
	top:0;
	right:0;
	width:100%;
	height:100%;
}
.modal_wrap {
	position:absolute;
	top:5%;
	left:5%;
	width:90%;
}
.modal_content {
	margin:0 auto;
	background:#fff;
	max-width:35em;
	padding:5%;
	box-shadow:0 0 15px rgba(0,0,0,0.4);
	border-radius:8px;
	position:relative;
}
.modal_content .close {
	position:absolute;
	top:20px;
	right:20px;
}
.modal_content.feature {
	text-align:center;
}

/* CARDS */
.card {
	background:#fff;
	border:1px solid #e0e0e0;
	padding:5% 10%;
	border-radius:10px;
	text-align:center;
	max-width:28.6%;
}
.card h4 {
	border-bottom:1px solid #e0e0e0;
	padding-bottom:5%;
}
.card .content {
	text-align:left;
}

@media (min-width: 768px) {

	/*.page--grid {
		background-image:url("/assets/images/grid_tablet.svg");
	}*/

	#nav_pri {
		padding-left:7%;
		padding-right:7%;
	}
	nav h4 {
		display:none;
	}
	nav ul {
		display:block;
		background:none;
		position:static;
		overflow:visible;
		box-shadow:none;
		margin:19px 0 0 0;
	}
	nav ul li {
		float:left;
		border:none;
		margin-left:1.4em;
	}
	nav ul li.emphasis {

	}
	nav ul li a {
		display:inline-block;
		padding:0;
		color:#339933;
	}
	nav .expanded {
		position:relative;
	}
	nav .expanded h4 {
		display:inline-block;
		border:2px solid #339933;
		padding:1em;
		font-size:1em;
		cursor:pointer;
		border-radius:25px;
		margin:-12px 0 0 0;
	}
	nav .expanded ul {
		display:none;
		position:absolute;
		top:48px;
		right:0;
		background:#f5f6f9;
		border-bottom-right-radius:10px;
		border-bottom-left-radius:10px;
		text-align:right;
		box-shadow:0px 2px 3px rgba(0,0,0,0.2);
		overflow:hidden;
		margin:0;
	}
	nav .expanded ul li {
		float:none;
		border-top:1px solid #e0e0e0;
		background-image:none;
		padding:0;
		margin:0;
	}
	nav .expanded ul li a {
		color:#777;
		text-decoration:none;
		display:block;
		padding:0.7em 1.2em;
	}
	nav .expanded ul li a:hover,
	nav .expanded ul li a:focus {
		background:#fff;
		color:#333;
	}

	.hero {
		padding:0;
	}
	.hero_image {
		padding:7% 15%;
		font-size:1.1em;
	}
	.hero ul {
		margin:0 auto;
		display:inline-block;
	}
	.hero ul li {
		float:left;
		margin:0 0.5em;
	}
	.hero ul li a {
		display:inline-block !important;
	}
	.hero_image {
		background-size:95%;
		background-position:center 70%;
		background-repeat:no-repeat;

	}
	.hero {
		background-size:100% 100%;
	}
	.books {
		background-image:url("/assets/images/hero_books.png");
	}
	.dancingrobots {
		background-image:url("/assets/images/dancingrobots.png");
	}

	.content_wrap {
		padding:5% 7%;
	}

	section,footer {
		padding-left:7%;
		padding-right:7%;
	}

	.menu_menu {
		width:30%;
		float:left;
	}
	.menu_content {
		width:65.5%;
		float:right;
	}

}

@media (min-width: 900px) {

	/*.page--grid {
		background-image:url("/assets/images/grid_desktop.svg");
	}*/

	#nav_pri {
		padding-left:9%;
		padding-right:9%;
	}

	.hero {

	}
	.hero_image {
		padding:7% 22%;
	}

	.content_wrap {
		padding:5% 9%;
	}

	/*section,footer {
		padding-left:9%;
		padding-right:9%;
	}*/

	.menu_menu {
		width:23%;
	}
	.menu_content {
		width:74.5%;
	}

}
