.c-form {}

  .c-form__fieldset {

  }

  .c-form__label {
    color:          $grey-med;
    display:        block;
    @include rem('font-size', $font-size-small);
    @include margin-bottom($margin-small);
    vertical-align: middle;
  }

    .c-form__label--error {
      color: $red;
    }

    .c-form__label--inline {
      display: inline;
      @include margin-bottom($margin-small);
    }

  .c-form__input {
    font-family:    $font-family-primary;
    font-weight:    $font-weight-base;
    border:         $border-size-base solid $grey-x-light;
    @include rem('border-radius', $border-radius-x-small);
    display:        block;
    @include margin-bottom($margin-base);
    @include padding($padding-small);
    outline:        0;
    vertical-align: middle;
    width:          100%;
  }

    .c-form__input--error {
      border-color: $red;
    }

  .c-form__textarea {
    font-family:    $font-family-primary;
    font-weight:    $font-weight-base;
    border:         $border-size-base solid $grey-x-light;
    @include rem('border-radius', $border-radius-x-small);
    display:        block;
    @include margin-bottom($margin-base);
    @include padding($padding-small);
    outline:        0;
    width:          100%;
    vertical-align: middle;
  }

  .c-form__input-group {
    border: $border-size-base solid $grey-x-light;
    @include rem('border-radius', $border-radius-small);
  }

    .c-form__input-group-checkbox {
      @extend .u-visually-hidden;

      &:checked + .c-form__input-group-label {
        background-image: url('../images/checkbox_checked.svg');
      }
    }

    .c-form__input-group-radio {
      @extend .u-visually-hidden;

      &:checked + .c-form__input-group-label {
        background-image: url('../images/checkbox_checked.svg');
      }
    }

    .c-form__input-group-label {
      background: url('../images/checkbox_empty.svg') 15px center no-repeat;
      border-top: $border-size-base solid $grey-x-light;
      cursor:     pointer;
      display:    block;
      @include padding($padding-small, $padding-small, $padding-small, $padding-x-large);

      &:first-of-type {
        border-top: none;
      }
    }
