.c-grid-table {
  border-collapse: collapse;
  @include margin-bottom($margin-large);
  width:           100%;
}

  .c-grid-table__head {}

    .c-grid-table__head-row {}

      .c-grid-table__col-heading {
        font-weight:    $font-weight-light;
        @include rem('font-size', $font-size-small);
        @include padding-bottom($padding-base);
        vertical-align: middle;
      }

  .c-grid-table__body {}

    .c-grid-table__body-row {}

      .c-grid-table__row-heading {
        font-weight:    $font-weight-light;
        @include rem('font-size', $font-size-small);
        @include padding($padding-base, 0);
        vertical-align: middle;
      }

      .c-grid-table__cell {
        border:         2px solid $grey-x-light;
        @include padding($padding-base, 0);
        text-align:     center;
        vertical-align: middle;
      }
