.o-card {
  background: $white;
  border:     $border-size-base solid $grey-x-light;
  @include rem('border-radius', $border-radius-small);
}

  .o-card__heading {
    border-bottom: $border-size-base solid $grey-x-light;
    @include padding($padding-small);
    text-align:    center;
  }

  .o-card__body {
    @include padding($padding-small, $padding-base);
  }

  .o-card__footer {
    border-top: $border-size-base solid $grey-x-light;
    @include padding($padding-small);
    text-align: center;
  }

    .o-card__footer-link {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

.o-course-card {
  background: $white;
}

  .o-course-card__link {
    @include rem('border-radius', $border-radius-small);
    color:           $grey-med;
    display:         block;
    overflow:        hidden;
    text-align:      center;
    text-decoration: none;

    &:hover {
      box-shadow: 0 0 15px $grey-light;
      color:      $grey-med;
    }
  }

    .o-course-card__link--generic {
      border: $border-size-base solid $grey-x-light;

      &:hover {
        border-color: $grey-light;
      }
    }

    .o-course-card__link--scratch {
      background: $card-orange;
      border:     none;
      color:      $white;

      &:hover {
        color: $white;
      }
    }

    .o-course-card__link--webdev  {
      background: $card-blue;
      border:     none;
      color:      $white;

      &:hover {
        color: $white;
      }
    }

    .o-course-card__link--python  {
      background: $card-green;
      border:     none;
      color:      $white;

      &:hover {
        color: $white;
      }
    }

  .o-course-card__body {
    background-position: center center;
    background-repeat:   repeat;
    @include padding($padding-x-large, $padding-small);
  }

    .o-course-card__body--scratch {
      background-image: url('../images/project-cards/scratch.svg');
    }

    .o-course-card__body--webdev {
      background-image: url('../images/project-cards/webdev.svg');
      background-size: cover;
    }

    .o-course-card__body--python {
      background-image: url('../images/project-cards/python.svg');
    }

  .o-course-card__image {
    display:   block;
    max-width: 100%;
  }

  .o-course-card__title {
    margin: 0;
  }

  .o-course-card__footer {
    background:  rgba(0, 0, 0, 0.1);
    @include rem('font-size', $font-size-small);
    font-weight: $font-weight-light;
    @include padding($padding-small);
  }

    .o-course-card__footer--generic {
      border-top: $border-size-base solid $grey-x-light;
    }

.o-project-card {
  background: $white;
  border:     none;
  @include rem('border-radius', $border-radius-small);
  overflow:   hidden;

  &:hover {
    box-shadow: 0 0 15px $grey-light;
  }
}

  .o-project-card__link {
    color:           $grey-med;
    display:         block;
    text-decoration: none;

    &:hover {
      border-color: $grey-light;
      color:        $grey-med;
    }
  }

    .o-project-card__image {
      display:   block;
      max-width: 100%;
    }

    .o-project-card__body {
      border:       solid $grey-x-light;
      @include rem('border-bottom-right-radius', $border-radius-small);
      @include rem('border-bottom-left-radius',  $border-radius-small);
      border-width: 0 $border-size-base $border-size-base $border-size-base;
      @include padding($padding-large, $padding-small, $padding-small);
    }

    .o-project-card__meta {
      @extend .c-meta;
      line-height: 2;
    }

    .o-project-card__title {
      @include h3;
    }
