.o-hero {
  background-color:    $green;
  background-position: center center;
  background-repeat:   no-repeat;
  background-size:     cover;
  color:               $white;
}

  @media only screen and (max-width: 56.24rem) {
    .o-hero {
      background-image: none !important;
    }
  }

  .o-hero__nav {
    @include clearfix;
    @include padding($padding-x-small, 0);
  }

    .o-hero__nav-left {
      float: left;
    }

    .o-hero__nav-right {
      float: right;
    }

      .o-hero__nav-link {
        display: inline-block;
        color:   $white;
        @include margin(0, $margin-xx-small);
        @include rem('font-size', $font-size-small);
        text-decoration: none;

        &:hover,
        &:active,
        &:focus {
          color:           $white;
          text-decoration: underline;
        }
  }

  .o-hero__bg {
    background-position: center center;
    background-repeat:   no-repeat;
    background-size:     100% auto;
  }

    .o-hero--bg-top    { background-position: center top;    }
    .o-hero--bg-bottom { background-position: center bottom; }

    @include respond-to('regular') {
      .o-hero__bg {
        @include rem('height',     $hero-body-min-height);
        @include rem('min-height', $hero-body-min-height);
      }
    }

    @media only screen and (max-width: 56.24rem) {
      .o-hero__bg {
        background-image: none !important;
      }
    }

  .o-hero__body {
    text-align: center;
    @include padding($padding-large, 0);
  }

  @include respond-to('narrow') {
    .o-hero__body {
      @include padding($padding-xxx-large, 0);
    }
  }

    @include respond-to('regular') {
      .o-hero__body {
        padding: 0;
      }
    }

  .o-hero__title {
    &:last-child {
      margin: 0;
    }
  }

    .o-hero__title--sentence {
      @include h2;
    }

  .o-hero__subtitle {
    @include rem('font-size', $font-size-large);
  }

  .o-hero__list {
    @include clearfix;
    display: inline-block;
    margin:  0;
    padding: 0;
  }

    .o-hero__item {
      float:      left;
      list-style: none;
      @include margin(0, $margin-small);
    }
