.o-hero {
  background: $green;
  color:      $white;
}

  .o-hero__nav {
    @include padding($padding-x-small, $padding-xx-small);
  }

  .o-hero__nav-left {
    float: left;
  }

  .o-hero__nav-right {
    float: right;
  }

  .o-hero__nav-link {
    display: inline-block;
    color:   $white;
    @include margin(0, $margin-xx-small);
    @include rem('font-size', $font-size-small);
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
      color: $white;
      text-decoration: underline;
    }
  }

  .o-hero__body {
    @include padding($padding-xxxx-large, $padding-xxx-large);
    max-width:  $hero-body-max-width;
    margin:     0 auto;
    text-align: center;
  }

  .o-hero__subtitle {
    @include rem('font-size', $font-size-large);
    max-width: 100%;
  }

  .o-hero__list {
    display: inline-block;
    margin:  0;
    padding: 0;
  }

    .o-hero__item {
      float:      left;
      list-style: none;
      @include margin(0, $margin-small);
    }
