.o-nav-stacked {
  border: $border-size-base solid $grey-x-light;
  @include rem('border-radius', $border-radius-base);
  @include margin(0, 0, $margin-base);
  padding:       0;
}

  .o-nav-stacked__list {
    margin:  0;
    padding: 0;
  }

    .o-nav-stacked__item {
      border-top: $border-size-base solid $grey-x-light;
      list-style: none;
      margin:     0;
      max-width:  100%;
      padding:    0;

      &:first-child {
        border: none;
      }
    }

      .o-nav-stacked__link {
        display:         block;
        @include padding($padding-x-small, $padding-base);
        text-decoration: none;

        &.is-current {
          background: url('../images/stacked-nav-is-current.svg') right center no-repeat;
          color:      $grey;
        }
      }
