//	Element visibility modifiers
.u-hide-text {
	overflow:    hidden !important;
	text-indent: 100%   !important;
	white-space: nowrap !important;
}

.u-hidden {
	display:    none   !important;
	visibility: hidden !important;
}

.u-invisible {
	visibility: hidden !important;
}

.u-visually-hidden {
	border:   0             !important;
	clip:     rect(0 0 0 0) !important;
	height:   1px           !important;
	margin:   -1px          !important;
	overflow: hidden        !important;
	padding:  0             !important;
	position: absolute      !important;
	width:    1px           !important;
}
