//  Font weight modifiers
.u-font-weight--light   { font-weight: $font-weight-light   !important; }
.u-font-weight--base    { font-weight: $font-weight-base    !important; }
.u-font-weight--bold    { font-weight: $font-weight-bold    !important; }
.u-font-weight--x-bold  { font-weight: $font-weight-x-bold  !important; }
.u-font-weight--xx-bold { font-weight: $font-weight-xx-bold !important; }
