.u-color--grey          { color: $grey          !important; }
.u-color--grey-med      { color: $grey-med      !important; }
.u-color--grey-light    { color: $grey-light    !important; }
.u-color--grey-x-light  { color: $grey-x-light  !important; }
.u-color--grey-xx-light { color: $grey-xx-light !important; }
.u-color--red           { color: $red           !important; }
.u-color--blue          { color: $blue          !important; }
.u-color--green         { color: $green         !important; }
.u-color--yellow        { color: $yellow        !important; }

//	Link color modifiers
a {
	.u-color--grey &,          &.u-color--grey          { color: $grey          !important; }
	.u-color--grey-med &,      &.u-color--grey-med      { color: $grey-med      !important; }
	.u-color--grey-light &,    &.u-color--grey-light    { color: $grey-light    !important; }
	.u-color--grey-x-light &,  &.u-color--grey-x-light  { color: $grey-x-light  !important; }
	.u-color--grey-xx-light &, &.u-color--grey-xx-light { color: $grey-xx-light !important; }
	.u-color--red &,           &.u-color--red           { color: $red           !important; }
	.u-color--blue &,          &.u-color--blue          { color: $blue          !important; }
	.u-color--green &,         &.u-color--green         { color: $green         !important; }
	.u-color--yellow &,        &.u-color--yellow        { color: $yellow        !important; }
}
