//	Raw color modifiers
.u-background--grey          { background-color: $grey;          }
.u-background--grey-med      { background-color: $grey-med;      }
.u-background--grey-light    { background-color: $grey-light;    }
.u-background--grey-x-light  { background-color: $grey-x-light;  }
.u-background--grey-xx-light { background-color: $grey-xx-light; }

//	Red Danger
.u-background--red       { background-color: $red;       }
.u-background--red-light { background-color: $red-light; }
.u-background--red-dark  { background-color: $red-dark;  }

//  Blue Highlight
.u-background--blue       { background-color: $blue;       }
.u-background--blue-light { background-color: $blue-light; }
.u-background--blue-dark  { background-color: $blue-dark;  }

//  Code Club Green
.u-background--green               { background-color: $green;       }
.u-background--green-light         { background-color: $green-light; }
.u-background--green-dark          { background-color: $green-dark;  }

//  Yellow Warning
.u-background--yellow         { background-color: $yellow;       }
.u-background--yellow-light   { background-color: $yellow-light; }
.u-background--yellow-dark    { background-color: $yellow-dark;  }
