//	Raw color modifiers
.u-background--grey          { background-color: $grey          !important; }
.u-background--grey-med      { background-color: $grey-med      !important; }
.u-background--grey-light    { background-color: $grey-light    !important; }
.u-background--grey-x-light  { background-color: $grey-x-light  !important; }
.u-background--grey-xx-light { background-color: $grey-xx-light !important; }

//	Red Danger
.u-background--red           { background-color: $red           !important; }

//  Blue Highlight
.u-background--blue          { background-color: $blue          !important; }

//  Code Club Green
.u-background--green         { background-color: $green         !important; }

//  Yellow Warning
.u-background--yellow        { background-color: $yellow        !important; }
