.u-hide-text {
	overflow:    hidden;
	text-indent: 100%;
	white-space: nowrap;
}

.u-hidden {
	display:    none !important;
	visibility: hidden;
}

.u-invisible {
	visibility: hidden;
}

.u-visually-hidden {
	border:   0;
	clip:     rect(0 0 0 0);
	height:   1px;
	margin:   -1px;
	overflow: hidden;
	padding:  0;
	position: absolute;
	width:    1px;
}
