a {
	.u-text-danger &,
	&.u-text-danger {
		color: $color-danger;

		&:active,
		&:focus,
		&:hover,
		&:visited {
			color: $color-danger-d;
		}
	}

	.u-text-primary &,
	&.u-text-primary {
		color: $color-primary;

		&:active,
		&:focus,
		&:hover,
		&:visited {
			color: $color-primary-d;
		}
	}

	.u-text-success &,
	&.u-text-success {
		color: $color-success;

		&:active,
		&:focus,
		&:hover,
		&:visited {
			color: $color-success-d;
		}
	}

	.u-text-warning &,
	&.u-text-warning {
		color: $color-warning;

		&:active,
		&:focus,
		&:hover,
		&:visited {
			color: $color-warning-d;
		}
	}
}
