.u-text-danger    { color: $color-danger  !important; }
.u-text-primary   { color: $color-primary !important; }
.u-text-success   { color: $color-success !important; }
.u-text-warning   { color: $color-warning !important; }
