<div class="content_wrap">
	<section class="bubble">
    <h1>Buttons</h1>

    <h4>Notes:</h4>

    <ul>
      <li>Should advice on button language (instead of using "Submit" or "Done", use "Contact host" or "Request session")</li>
      <li>We should prioritise these button styles; eg solid green is a page's primary action, inverted colours is the standard button, etc)</li>
    </ul>

    <br><br>

    <p>
      <a class="button" href="#">Baseline button</a>
    </p>

    <p>
      <a class="button invert" href="#">Inverted colours</a>
    </p>

    <p>
      <a class="button subtle" href="#">A subtle button</a>
    </p>

    <p>
      <a class="button icon calendar" href="#">Icon button</a>
    </p>

    <p>
      <a class="button disabled" href="#">Disabled button</a>
    </p>

    <p>
      <a class="link icon calendar" href="#">Link with icon</a>
    </p>

    <p>
      <a class="link icon calendar right" href="#">Link with icon on the right</a>
    </p>

    <p>
      <a class="button square" href="#">A squarer button</a>
    </p>

    <br>
    <br>

    <div style="background:#333; color:#fff;padding:5%">
      <h4>On dark/coloured backgrounds:</h4>

      <p>
        <a class="button white" href="#">White button</a>
      </p>

      <p>(The colour of the text should be the same as the coloured background)</p>

      <p>
        <a class="button invert white" href="#">Inverted colours</a>
      </p>

      <p>(The hover colour of the text should be the same as the coloured background)</p>
    </div>
  </section>
</div>
