html, * {
  box-sizing: border-box;
}

body {
  background-color:#f5f6f9;
  font-family:"museo-sans-rounded", sans-serif;
  font-size:16px;
  line-height:22px;
  color:#333;
  font-weight:300;
}

.center {
  text-align:center;
}
.rule {
  border-bottom:1px solid #e0e0e0;
  padding-bottom:0.8em;
}
.light {
  color:#fff;
}
.subtle {
  opacity:0.5;
}
.block {
  display:block;
}
.small {
  font-size:0.9em;
}
.weight-300 {
  font-weight:300;
}

.number {
  font-weight:700;
  color:#fff;
  background:#e18932;
  font-size:12px;
  width:2em;
  line-height:2em;
  text-align:center;
  display:inline-block;
  border-radius:1em;
}

.on {
  display:block !important;
}
.clear:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

a {
  font-weight:500;
  color:#339933;
}
a:hover,
a:focus {
  color:#333;
}

a.close {
  display:inline-block;
  text-indent:-9999em;
  width:13px;
  height:13px;
  background:url(../images/icons/close.svg) no-repeat center center;
  opacity:0.5;
}
a.close:hover,
a.close:focus {
  opacity:0.8;
}

p,ul,ol,dl {
  margin-bottom:1em;
}

p {
  max-width:40em;
}

h1 {
  font-size:28px;
  margin-bottom:0.5em;
}
h2 {
  font-size:24px;
  margin-bottom:0.6em;
}
h3 {
  font-size:20px;
  margin-bottom:0.8em;
}
h4 {
  font-size:16px;
  margin-bottom:1em;
}
h5 {
  font-size:14px;
  text-transform:uppercase;
  margin-bottom:1em;
}
h1,h2,h3,h4,h5 {
  font-weight:500;
  line-height:1.2em;
}

ul {
}
ul li {
  background:url(../images/bullet.svg) no-repeat 0 0.2em;
  background-size:0.8em;
  padding-left:1.2em;
}

ul.alt li {
  background-size:1.2em;
  background-position:0 0;
  padding-left:2em;
  margin-bottom:0.7em;
}

ol {
  list-style: decimal;
}

dl {
  border-top:1px solid #e0e0e0;
  list-style:none;
}
dl li {
  border-bottom:1px solid #e0e0e0;
  overflow:hidden;
  padding:0.6em 0 0.6em 10em;
}
dl dt {
  font-weight:500;
  width:10em;
  float:left;
  margin-left:-10em;
}
dl dd {}

code,.mono {
  font-family:"Consolas","Andale Mono",monospace;
  font-size:12px;
  color:#666;
}
code {
  display:inline-block;
  border:1px solid #e0e0e0;
  background:#f6f6f6;
  padding:0.5em;
  border-radius:4px;
}
pre {
  display:block;
  max-width:100%;
  margin-bottom:2.5em;

}
pre code {
  max-width:100%;
  overflow:scroll;
  display:block;
}

hr {
  border:0;
  margin:2em 0;
  border-top:1px solid #e0e0e0;
}

.meta {
  font-size:14px;
  line-height:19px;
}
.big {
  font-size:18px;
  line-height:26px;
}

img.icon {
  width:10px;
}

// Pinched from Projects site CSS
table {
  img {
    padding-top: 10px;
    padding-bottom: 8px;
    text-align: center;
  }

  thead {
    font-size: 14px;
  }
}

table {
  thead {
    th:last-child {
      border-right: 1px solid white;
    }
  }
}

table th:first-child {
  border-style: none !important;
}

.table > thead > tr > th {
  text-align: center;
  padding-bottom: 20px;
}

th {
  text-align: center;
}

.table > tbody > tr > th {
  padding-right: 20px;
  vertical-align: middle;
  line-height: 1.42857;
  font-size: 14px;
}

.table > tbody > tr > td {
  border: 1px solid #ddd !important;
  height: 46px;
}
.table > thead > tr > th {
  border-bottom-style: none;
}



@media (min-width: 768px) {

  h1 {
    font-size:36px;
    margin-bottom:0.5em;
  }
  h2 {
    font-size:28px;
    margin-bottom:0.6em;
  }
  h3 {
    font-size:22px;
    margin-bottom:0.8em;
  }
  h4 {
    font-size:17px;
    margin-bottom:1em;
  }

}

@media (min-width: 900px) {

  h1 {
    font-size:48px;
    margin-bottom:0.5em;
  }
  h2 {
    font-size:36px;
    margin-bottom:0.6em;
  }
  h3 {
    font-size:24px;
    margin-bottom:0.8em;
  }
  h4 {
    font-size:18px;
    margin-bottom:1em;
  }

}
