.sg-swatches-list {
  padding: 0;
}

  .sg-swatch {
    float:      left;
    list-style: none;
    @include margin-bottom($margin-big);
    width:      20%;
  }

    .sg-swatch__name {
      background: none;
      border:     none;
      display:    block;
    }

    .sg-swatch__sample {
      border: 1px solid $grey-lighter;
      @include rem('border-radius', $border-radius-subtlest);
      display: block;
      height:  5rem;
      @include margin(0, $margin-base, $margin-base, 0);
      @include padding($padding-base, $padding-big);
    }

    .sg-swatch__hex {
      display: block;
    }
