.sg-example {
  border:        1px solid $grey-x-light;
  box-shadow:    inset 0 0 5px 0 $grey-xx-light;
  @include rem('border-radius', $border-radius-x-small);
  margin-bottom: 2rem;
  @include padding($padding-base);
}

  .sg-example__heading {
    @include h5;
    color:          $grey-med;
    font-weight:    $font-weight-bold;
    text-transform: uppercase;
  }

  .sg-example__preview {
    @include margin-bottom($margin-base);

    &:last-child {
      margin: 0;
    }
  }
