.sg-fig-desc {
  border-bottom:  1px solid #e0e6e9;
  margin-bottom:  2rem;
  padding-bottom: 1rem;
}

  .sg-fig-desc__figure {
    float: left;
    width: 22rem;
  }

    .sg-fig-desc__image {}

  .sg-fig-desc__description {
    float: left;
    width: 33rem;
  }
