.sg-fig-desc {
  @include clearfix;
  margin-bottom:  2rem;
  padding-bottom: 1rem;
}

  .sg-fig-desc__figure {
    float: left;
    width: 22rem;
  }

    .sg-fig-desc__image {}

  .sg-fig-desc__description {
    float: left;
    width: 33rem;
  }

    .sg-fig-desc__description-list {
      @include clearfix;
    }

      .sg-fig-desc__description-list-title {
        border-top:    1px solid #e0e0e0;
        clear:         both;
        float:         left;
        margin-bottom: 0.5rem;
        padding:       0.5rem;
        width:         10rem;
      }

      .sg-fig-desc__description-list-content {
        border-top:    1px solid #e0e0e0;
        float:         left;
        margin-bottom: 0.5rem;
        padding:       0.5rem 0;
        width:         23rem;
      }

        .sg-fig-desc__badge {
          background:    #f17f1a;
          border-radius: 100%;
          color:         #fff;
          display:       inline-block;
          text-align:    center;
          width:         1.375em;
        }
