.sg-home-link {
  color:           #fff;
  display:         block;
  margin:          2rem 1rem;
  text-decoration: none;
  text-transform:  uppercase;

  &:active,
  &:focus,
  &:hover,
  &:visited {
    color: #fff;
  }
}

  .sg-brand {
    background:      url('../images/brand_circle.svg') center center no-repeat;
    background-size: 100%;
    display:         inline-block;
    margin-right:    0.5rem;
    height:          60px;
    width:           60px;
    vertical-align:  top;
  }

  .sg-site-title {
    display:        inline-block;
    font-weight:    300;
    line-height:    3.75rem;
    vertical-align: top;
  }
