/* FLEX */

.layout {
  display:flex;
  flex-direction:column;
  justify-content:space-between;
}
.body_wrap > .layout {
   padding-left:5%;
   padding-right:5%;
}
.col {
  flex-grow:0;
  overflow:hidden;
  margin-bottom:5%;
}
.demo .col{
  background:coral;
}

.grid {
  background:url(/assets/images/grid_mobile.svg) no-repeat 0 0;
  background-size:100%;
}

// tablet-portait
@media (min-width: 600px) {

  .layout {
    flex-direction:row;
    flex-wrap:wrap;
  }

  .height-inherit {
    align-items: flex-start;
  }

  .grid {
    background-image:url(/assets/images/grid_tablet.svg);
  }

  .col {
    margin:2%;
  }

  .col1of6 {
    flex-basis:29%;
  }
  .col1of4,
  .col1of3,
  .col1of2 {
    flex-basis:46%;
  }

  .col1of1,
  .col2of3,
  .col3of4,
  .col2of4  {
    flex-basis:96%;
  }

}

// tablet-landscape/desktop
@media (min-width: 720px) {

  .body_wrap > .layout {
    padding-left:8%;
    padding-right:8%;
  }

  .grid {
    background-image:url(/assets/images/grid_desktop.svg);
  }

  .col {
    margin:1%;
  }

  .col1of12 {
    flex-basis:6%;
  }
  .col1of6 {
    flex-basis:14.5%;
  }
  .col1of4 {
    flex-basis:23%;
  }
  .col2of4 {
    flex-basis:48%;
  }
  .col3of4 {
    flex-basis:73%;
  }
  .col1of3 {
    flex-basis:31%;
  }
  .col2of3 {
    flex-basis:64.5%;
  }
  .col1of2 {
    flex-basis:48%;
  }
  .col1of1 {
    flex-basis:100%;
  }

}



.pad0 {
  padding:0;
}
.pad1 {
  padding:1em;
}
.pad2 {
  padding:9%;
}
.pad3 {
  padding:17%;
}

.padx1 {
  padding-left:1em;
  padding-right:1em;
}
.padx2 {
  padding-left:9%;
  padding-right:9%;
}
.padx3 {
  padding-left:17%;
  padding-right:17%;
}

.pady1 {
  padding-top:1em;
  padding-bottom:1em;
}
.pady2 {
  padding-top:5%;
  padding-bottom:5%;
}
.pady3 {
  padding-top:9%;
  padding-bottom:9%;
}

.margin-one {
  margin-bottom:1em;
}
.margin-half {
  margin-bottom:0.5em;
}
.margin-double {
  margin-bottom:2em;
}
.margin-zero {
  margin-bottom:0;
}


// ALERTS

.alert {
  background:$green;
  color:$white;
  font-weight:500;
  text-align:center;
  padding:0.9em;
  &.info {
    background:$blue;
  }
  &.warning {
    background:$warning;
    color:$dark-grey;
  }
  &.error {
    background:$error;
  }
  img {
    max-width:20px;
    max-height:20px;
    margin:0 6px -3px 0;
  }

  // INLINE
  &.inline {
    display:inline-block;
    border-radius:5px;
    text-align:left;
    padding-left:3em;
    position:relative;
    img {
      position:absolute;
      left:1em;
      top:1em;
    }
  }
}



/* PRIMARY NAV */
#nav_pri {
  background:#fff;
  padding:6px 5%;
  position:relative;
  border-bottom:1px solid #e0e0e0;
  overflow:hidden;
}
#nav_pri h1.brand {

}
h1.brand {
  color:#339933;
  font-weight:500;
  text-transform:uppercase;
  margin:0;
  font-size:18px;
  float:left;
}
h1.brand a {
  color:#339933;
  text-decoration:none;
}
h1.brand span {
  display:inline-block;
  text-indent:-9999em;
  width:60px;
  height:60px;
  background:url(../images/brand_circle.svg) no-repeat center center;
  background-size:100%;
}
h1.brand small {
  font-size:18px;
  line-height:1em;
  position:relative;
  top:1.15em;
}
nav.pri {
  float:right;
  background:url(../images/icons/menu.svg) no-repeat center center;
  width:40px;
  height:40px;
  margin-top:10px;
}
nav.pri > ul {
  display:none;
}
nav ul li {
  background-image:none;
  padding:0;
}
nav ul li a {
  color:#777;
  text-decoration:none;
  display:block;
  padding:0.7em 1.2em;
}
nav ul li a:hover,
nav ul li a:focus {
  background:#fff;
  color:#333;
}

.hero {
  color:#fff;
  background:#339933;
  text-align:center;
  padding:5%;
}
.hero a {
  color:#fff;
}

.hero ul {
  list-style:none;
}
.hero ul li {
  padding:0;
  margin-bottom:1em;
  background:none;
}
.hero ul li a,
.hero ul li a:hover,
.hero ul li a:focus {
  display:block;
}
.hero ul li a:hover {
  color:#339933 !important;
}

.hero {
  background-size:100% 100%;
  background-repeat:no-repeat;
}
.hero.flash {
  background-image:url(../images/hero_flash.png);
  background-color:#291629;
}

/* CONTENT BLOCK LAYOUTS */
.content_wrap {
  padding:5%;
}

.content_wrap + section {
  border-top:1px solid #e0e0e0;
}

.bubble {
  border:1px solid #e0e0e0;
  border-radius:10px;
  background:#fff;
}
.content_wrap > section + section {
  margin-top:5%;
}

.blue {
  color:#fff;
  background:#5290d2;
}
.green {
  color:#fff;
  background:#339933;
}

.bg-light-green {
  background:#d3e8d0;
}

footer {
  background:#333;
  color:#fff;
  padding:5%;
}

section.blue a,
section.green a,
footer a {
  color:#fff;
}
section.blue a:hover,
section.blue a:focus,
section.green a:hover,
section.green a:focus,
footer a:hover,
footer a:focus {
  opacity:0.5;
  color:#fff;
}

.menu_menu {
  background:#fff;
  border:1px solid #e0e0e0;
  border-radius:10px;
  margin-bottom:5%;
}
.menu_menu ul {
  margin:0;
}
.menu_menu ul li {
  background:none;
  padding:0;
  border-top:1px solid #e0e0e0;
}
.menu_menu ul li:first-child {
  border:none;
}
.menu_menu ul li a {
  display:block;
  text-decoration:none;
  padding:0.8em 1em;
}
.menu_menu ul li.current a {
  background:url(../images/icons/arrow-right.svg) no-repeat right 10px center;
  background-size:0.5em;
}


.img {
  border:1px solid #e0e0e0;
  height:100px;
  border-radius:5px;
  display:flex;
  img {
    max-width:20px;
    max-height:20px;
    display:block;
    margin:auto;
  }
}


/* FAQ */
.faq {
  h4 {
    font-weight:700;
    font-size:1em;
    color:#545454;
    cursor:pointer;
    background:url(../code_club/images/icons/arrow-right-green.svg) no-repeat 0.2em center;
    padding-left:1.2em;
    margin-left:-1.2em;
    background-size:0.4em
  }
  &:hover {
    color:#333;
  }
  .down {
    background-image:url(../code_club/images/icons/arrow-down-green.svg);
    background-position:0 center;
    background-size:0.7em
  }
}


/* CARDS */
.card {
  display:flex;
  flex-direction:column;


  img {
    max-width:100%;
  }

  &.link  {

    &:hover,.link:focus {
      box-shadow:0 0 15px rgba(0,0,0,0.2);
      border-color:#ccc;
    }
  }

  > a:first-child {
    display:block;
    text-decoration:none;
    font-weight:300;
  }
  .title {
    border-bottom:1px solid #e0e0e0;
    padding:1em;
  }
  .content {
    text-align:left;
  }
  .action {
    margin-top:auto;
    &.divide {
      border-top:1px solid #e0e0e0;
    }
    &.right {
      text-align:right;
    }
  }

  &.image {
    a {
      color:#fff;
    }
  }

  &.grey {
    a {
      color:#666
    }
  }

  &.course-scratch {
    background:#ec8313 url(../images/tile_scratch.svg);
    .action {
      background:#ec8313;
    }
  }
  &.course-html {
    background:#2396dd url(../images/tile_html.png) center center;
    .action {
      background:#2396dd;
    }
  }
  &.course-python {
    background:#00c394 url(../images/tile_python.svg);
    background-size:40em;
    .action {
      background:#00c394;
    }
  }

  &.feature {
    a {
      color:#666;
    }
    h3 {
      color:#333;
    }

  }

}


@media (min-width: 768px) {

  #nav_pri {
    padding-left:7%;
    padding-right:7%;
  }

  .hero {
    padding:0;
  }
  .hero_image {
    padding:7% 15%;
    font-size:1.1em;
  }
  .hero ul {
    margin:0 auto;
    display:inline-block;
  }
  .hero ul li {
    float:left;
    margin:0 0.5em;
  }
  .hero ul li a {
    display:inline-block !important;
  }
  .hero_image {
    background-size:95%;
    background-position:center 70%;
    background-repeat:no-repeat;

  }
  .hero {
    background-size:100% 100%;
  }
  .books {
    background-image:url(../images/hero_books.png);
  }
  .dancingrobots {
    background-image:url(../images/dancingrobots.png);
  }

  .content_wrap {
    padding:5% 7%;
  }

  section,footer {
    padding-left:7%;
    padding-right:7%;
  }

  .menu_menu {
    width:30%;
    float:left;
  }
  .menu_content {
    width:65.5%;
    float:right;
  }

}

@media (min-width: 900px) {

  /*body.grid {
    background-image:url(../images/grid_desktop.svg);
  }*/

  #nav_pri {
    padding-left:9%;
    padding-right:9%;
  }
  nav.pri {
    width:auto;
    height:auto;
    background:none;
  }
  nav.pri ul {
    display:block;
    background:none;
    position:static;
    overflow:visible;
    box-shadow:none;
    margin:10px 0 0 0;

  }
  nav ul li {
    float:left;
    border:none;
    margin-left:1.4em;
  }
  nav ul li a {
    display:inline-block;
    padding:0;
    color:#339933;
  }
  nav ul li.emphasis {
    margin-top:-13px;
  }
  nav ul li.emphasis a {
    border:3px solid #339933;
    padding:10px;
    border-radius:25px;
  }
  nav ul li.emphasis a:hover {
    border-color:#333;
  }

  nav.section {
    background:#fff;
    border-bottom:1px solid #e0e0e0;
    text-align:center;
    padding:1em 0;
  }
  nav.section ul {
    margin:0;
  }
  nav.section li {
    float:none;
    display:inline;
  }
  nav.section a {
    display:inline-block;
  }

  .hero {

  }
  .hero_image {
    padding:7% 22%;
  }

  .content_wrap {
    padding:5% 9%;
  }

  section,footer {
    padding-left:9%;
    padding-right:9%;
  }

  .menu_menu {
    width:23%;
  }
  .menu_content {
    width:74.5%;
  }

}
