.sg-logo-usage {
  border-bottom:  1px solid #e0e6e9;
  margin-bottom:  2rem;
  padding-bottom: 1rem;
}

  .sg-logo-usage-figure {
    float: left;
    width: 350px;
  }

    .sg-logo-usage-image {}

  .sg-logo-usage-description {
    float: left;
    width: 350px;
  }
