
.sg-navigation-list-header {
  color:          #fff;
  font-weight:    300;
  text-indent:    1rem;
  text-transform: uppercase;
}

.sg-navigation-list {
  border-top:    1px solid #222;
  margin-bottom: 2rem;
  padding-left:  0;
}

  .sg-navigation-item {
    border-bottom: 1px solid #222;
  }

    .sg-navigation-link {
      color:           #999;
      display:         block;
      @include rem('font-size', $font-size-small);
      font-weight:     $font-weight-base;
      line-height:     2.25rem;
      padding-left:    1rem;
      text-decoration: none;

      &:active,
      &:focus,
      &:hover {
        background: #222;
        color:      #fff;
      }

      &.sg-current-page {
        border-left:  0.25rem solid #393;
        color:        #fff;
        padding-left: 0.75rem;
      }
    }
