
.sg-body {
  display: flex;
}

  .sg-header {
    background: $grey-dark;
    flex-basis: 20%;
    flex-grow: 0;
    flex-shrink: 0;
  }

  .sg-content-wrapper {
    flex-basis: 80%;
    flex-grow: 0;
    flex-shrink: 0;
    @include padding($padding-x-large, $padding-xxx-large);
  }
