
.sg-body {
  display: flex;
}

  .sg-header {
    background: $grey-dark;
    width: 20%;
  }

  .sg-content-wrapper {
    width: 80%;
    @include padding($padding-x-large, $padding-xxx-large);
  }
