<div class="layout pady2 height-inherit">

	<div class="menu_menu col1of4">

		<ul>
			<li class="current"><a href="">Menu item</a></li>
			<li><a href="">A list of sub pages</a></li>
			<li><a href="">Menu system</a></li>
		</ul>

	</div>

	<div class="bubble pad2 col3of4">

		<h3>Menu layout</h3>

		<p>The Menu layout is useful for sections where there is more user-interaction than content, for example logged-in account pages.</p>

		<pre><code>&lt;div class=&quot;layout pad2&quot;&gt;
	&lt;div class=&quot;menu_menu col1of4&quot;&gt;
		&lt;ul&gt;
			&lt;li class=&quot;current&quot;&gt;&lt;a href=&quot;&quot;&gt;Menu item&lt;/a&gt;&lt;/li&gt;
			&lt;li&gt;&lt;a href=&quot;&quot;&gt;A list of sub pages&lt;/a&gt;&lt;/li&gt;
			&lt;li&gt;&lt;a href=&quot;&quot;&gt;Menu system&lt;/a&gt;&lt;/li&gt;
		&lt;/ul&gt;
	&lt;/div&gt;
	&lt;div class=&quot;bubble pad2 col3of4&quot;&gt;
		&lt;h3&gt;Menu layout&lt;/h3&gt;
		&lt;p&gt;The Menu layout is useful for sections where there is more user-interaction than content, for example logged-in account pages.&lt;/p&gt;
	&lt;/div&gt;
&lt;/div&gt;</code></pre>

	</div>

</div>

<footer>

	<p>This is the end of the menu layout example page</p>

</footer>
