<div class="c-page-block">
  <div class="o-card-container">
    <div class="o-card">
      <div class="o-card__body">
        <h3>COLUMN</h3>
        <ol>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ol>
      </div>
    </div>

    <div class="o-card">
      <div class="o-card__body">
        <h3>COLUMN</h3>
        <ol>
          <li></li>
          <li></li>
        </ol>
      </div>
    </div>

    <div class="o-card">
      <div class="o-card__body">
        <h3>COLUMN</h3>
        <ol>
          <li></li>
        </ol>
      </div>
    </div>

    <div class="o-card">
      <div class="o-card__body">
        <h3>COLUMN</h3>
        <ol>
          <li></li>
          <li></li>
          <li></li>
        </ol>
      </div>
    </div>
  </div>

  <div class="o-card-container">
    <div class="o-card">
      <div class="o-card__body">
        <h3>COLUMN</h3>
        <ol>
          <li></li>
          <li></li>
        </ol>
      </div>
    </div>

    <div class="o-card">
      <div class="o-card__body">
        <h3>COLUMN</h3>
        <ol>
          <li></li>
        </ol>
      </div>
    </div>

    <div class="o-card">
      <div class="o-card__body">
        <h3>COLUMN</h3>
        <ol>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ol>
      </div>
    </div>

    <div class="o-card">
      <div class="o-card__body">
        <h3>COLUMN</h3>
        <ol>
          <li></li>
          <li></li>
          <li></li>
        </ol>
      </div>
    </div>
  </div>

  <div class="o-card-container">
    <div class="o-card">
      <div class="o-card__body">
        <h3>COLUMN</h3>
        <ol>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ol>
      </div>
    </div>

    <div class="o-card">
      <div class="o-card__body">
        <h3>COLUMN</h3>
        <ol>
          <li></li>
          <li></li>
        </ol>
      </div>
    </div>

    <div class="o-card">
      <div class="o-card__body">
        <h3>COLUMN</h3>
        <ol>
          <li></li>
        </ol>
      </div>
    </div>
  </div>

  <div class="o-card-container">
    <div class="o-card">
      <div class="o-card__body">
        <h3>COLUMN</h3>
        <ol>
          <li></li>
          <li></li>
        </ol>
      </div>
    </div>

    <div class="o-card">
      <div class="o-card__body">
        <h3>COLUMN</h3>
        <ol>
          <li></li>
        </ol>
      </div>
    </div>

    <div class="o-card">
      <div class="o-card__body">
        <h3>COLUMN</h3>
        <ol>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ol>
      </div>
    </div>
  </div>

  <div class="o-card-container">
    <div class="o-card">
      <div class="o-card__body">
        <h3>COLUMN</h3>
        <ol>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ol>
      </div>
    </div>

    <div class="o-card">
      <div class="o-card__body">
        <h3>COLUMN</h3>
        <ol>
          <li></li>
          <li></li>
        </ol>
      </div>
    </div>
  </div>

  <div class="o-card-container">
    <div class="o-card">
      <div class="o-card__body">
        <h3>COLUMN</h3>
        <ol>
          <li></li>
          <li></li>
        </ol>
      </div>
    </div>

    <div class="o-card">
      <div class="o-card__body">
        <h3>COLUMN</h3>
        <ol>
          <li></li>
        </ol>
      </div>
    </div>
  </div>
</div>
