<h2>Change margin</h2>

<p>Add one of these classes to change margin of an element </p>

<% extract_classes_from_file('_margin-adjustments.scss').each do |class_name|  %>

<p><%= highlight_sass_example(".#{class_name}") %></p>

<%= render_example do %>
<div class="c-grid u-background--grey-x-light">
  <div class="c-grid c-col--1 u-background--green <%= class_name %>">
    &nbsp;
  </div>
</div>
<% end %>

<% end %>
