<div class="sg-panel">
  <h2>What is This?</h2>

  <p>
    This style guide documents all the assets required to build a Code Club website. Inside you'll find information
    about the layout of pages, the styles of your HTML components, and bigger modules that bring many components together.
    There's also some guidance about how to use the Code Club brand, and our colour palette.
  <p>

  <p>
    Each component is provided with usage notes, a visual example and the HTML required to add to your site.
    Think of these elements as building blocks required to create a Code Club website.
  </p>

  <h3>How to use the Code Club Assets</h3>

  <p><a class="c-button c-button--green" href="#">Download Code Club web assets</a></p>

  <p>TODO: Need to provide instructions for installing manually, and via Bower.</p>

</div>
