
<h2>What is This?</h2>

<p>
  This style guide will provide you with everything you'll need to build your own Code Club website. Inside you'll find information
  about the layout of pages, the styles of your HTML components, and bigger modules that bring many components together.
  There's also some guidance about how to use the Code Club brand, and our colour palette.
</p>

<p>
  Each component is provided with usage notes, a visual example and the HTML required to add to your site.
  Think of these elements as building blocks required to create a Code Club website.
</p>

<p>
  <strong>PLEASE NOTE</strong> that you may only use these styles if you have been given permission from Code Club World Ltd. Any other
  use is unauthorised.
</p>

<hr>

<h2>How to download the Code Club assets</h2>

<p>
  You'll need to use <a href="http://bower.io">Bower</a> to download and include the assets in your site. If you don't already
  have it installed, head to <a href="http://bower.io/#install-bower">the Bower installation guide</a> and follow the instructions.
</p>

<p>
  When you have that installed and you're ready to download the Code Club assets package, open a Terminal window, navigate to the root of your site,
  and run the following command:
</p>

<p>
  <code>bower install code-club</code>
</p>

<p>
  That will grab the latest release, and will download it to the default location of <code>./bower_components/code-club</code> - this website will
  assume that the assets are located there in relation to the root of your site.
</p>

<hr>

<h2>Updating the assets</h2>

<p>
  It's worth periodically checking to see if there's a new version of these assets available to download. We'll be adding new
  components and fixing browser-related issues as and when we need to, so the styles are definitely going to update.
</p>

<p>
  To see if a new release is available, run the following Bower command from your site's root directory:
</p>

<p>
  <code>bower list</code>
</p>

<p>
  And if there's an update available, run this command to grab the latest styles:
</p>

<p>
  <code>bower update code-club</code>
</p>

<p>
  We'll try our best not to break existing components when we update, but sometimes that will be unavoidable. <strong>Please make
    sure you test the updated styles on a development version of your site before updating the assets on a live website!</strong>
</p>

<p>
  For more help with Bower and its related commands, please see the <a href="http://bower.io">documentation on the Bower website</a>.
</p>

<hr>

<h2>Need more help? Want to suggest something?</h2>

<p>
  If you think something is missing from the styleguide, you'd like to suggest improvements to something that's already there, or if you're
  just plain stuck and you need help, please email Code Club at <a href="mailto:support@codeclub.org.uk">support@codeclub.org.uk</a> and we'll see what we can do!
</p>
