<div class="sg-panel">
  <h2>What is This?</h2>

  <p>This style guide documents all the elements required to build a Code Club website. These elements are separated into structural, modular & style elements. Each element is described with an example and the raw HTML is provided. Think of these elements as building blocks required to create a Code Club website.</p>

  <h2>Download Code Club Assets</h2>

  <p>Construct HTML pages with the code provided for each element. Then download the Code Club web assets. This contains all CSS styles, icons and javascript files required. The styles are fully responsive so they will render the HTML nicely on all devices.</p>

  <p><a href="#">Download Code Club web assets</a></p>
</div>
