<html>
  <head>
  	<%= render 'shared/head' %>
  </head>

  <body class="<?php echo $body_class; ?>">
    <%= render 'shared/navigation' %>

    <div class="body_wrap">
      <%= yield %>
    </div>

    <%= render 'shared/footer' %>
  </body>
</html>
